



<div class="p-3"><h4 class="py-2" style="border-bottom:solid 4px #F15A22;font-weight:700;">Background (Standardized, new naming)</h3></div>
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 m-2">
    <div class="col p-4">
        <div class="bg-color border blue-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Blue Background
            <strong>CSS Class:</strong> .blue-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border blue-b-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Blue #2 Background
            <strong>CSS Class:</strong> .blue-b-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border blue-c-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Blue #3 Background
            <strong>CSS Class:</strong> .blue-c-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border white-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> White Background
            <strong>CSS Class:</strong> .white-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border white-b-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> White B Background
            <strong>CSS Class:</strong> .white-b-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border orange-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Orange Background
            <strong>CSS Class:</strong> .orange-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border orange-a11y-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Orange (Accessible) Background
            <strong>CSS Class:</strong> .orange-a11y-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border grey-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Grey #01 Background
            <strong>CSS Class:</strong> .grey-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border grey-b-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Grey #02 Background
            <strong>CSS Class:</strong> .grey-b-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border grey-c-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Grey #03 Background
            <strong>CSS Class:</strong> .grey-c-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border grey-d-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Grey #04 Background
            <strong>CSS Class:</strong> .grey-d-bg</pre>
        </div>
    </div>
    <div class="col p-4">
        <div class="bg-color border grey-e-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Grey #05 Background
            <strong>CSS Class:</strong> .grey-e-bg</pre>
        </div>
    </div>
</div>

<div class="p-3"><h4 class="py-2" style="border-bottom:solid 4px #F15A22;font-weight:700;">Background Patterns</h4></div>
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 m-2">
    <div class="col-4 p-4">
        <div class="bg-color border blue-bg stripe-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> UTSA Blue with Striped Pattern Background
            <strong>CSS Class:</strong> .blue-bg .stripe-bg</pre>
        </div>
    </div>
    <div class="col-4 p-4">
        <div class="bg-color border orange-a11y-bg stripe-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> UTSA Orange (Accessible) with Striped Background
            <strong>CSS Class:</strong> .orange-a11y-bg .stripe-bg</pre>
        </div>
    </div>
    <div class="col-4 p-4">
        <div class="bg-color border blue-b-bg stripe-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Blue #2 with Striped Pattern Background
            <strong>CSS Class:</strong> .blue-b-bg.stripe-bg</pre>
        </div>
    </div>
    <div class="col-4 p-4">
        <div class="bg-color border blue-c-bg stripe-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Blue #3 with Striped Pattern Background
            <strong>CSS Class:</strong> .blue-c-bg.stripe-bg</pre>
        </div>
    </div>
    <div class="col-4 p-4">
        <div class="bg-color border grey-b-bg stripe-bg" style="height:150px;"></div>
        <div class="p-3 border">
            <pre><strong>Name:</strong> Grey #2 with Striped Pattern Background
            <strong>CSS Class:</strong> .grey-b-bg.stripe-bg</pre>
        </div>
    </div>
</div>



