

<!-- search-->
<section class="global-searchbar" id="global-searchbar">
	<div class="container-fluid blue-bg">
		<!-- Do not update any ids without consulting the developer, js may depend on it -->
		<form action="#search" class="search-form" id="cse-search-box">
			<div class="row d-flex align-items-center  buttons-bg-wrapper">
				<div class="col-9 col-sm-10">
					<input name="cx" type="hidden" value="000238266656426684962:mzli4pte7ko" />
					<input name="cof" type="hidden" value="FORID:11" />
					<label for="searchField">
						<span class="visually-hidden-focusable text-white">Search Bar</span>
					</label>
					<input
						tabindex="-1"
						class="form-control global-searchfield"
						id="searchField"
						name="q"
						onblur="if (this.value == '') {this.value = 'Search UT San Antonio';}"
						onfocus="if (this.value == 'Search UT San Antonio') {this.value = '';}"
						size="15"
						type="text"
						value="Search UT San Antonio"
					/>
				</div>
				<div class="col-3 col-sm-2">
					<button class="btn btn-secondary btn-search" type="submit" id="search-button" tabindex="-1">
						<span class="visually-hidden-focusable">Search</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</section>
<!-- .search -->
<!-- top-bar -->
<section class="top-bar primary">
	<div class="container-fluid g-0">
		<div class="row align-items-center">
			<div class="col-4">
				<a href="https://www.utsa.edu" title="UT San Antonio" class="tb-logo">
                    <!-- old classes: logo-full d-none d-sm-block -->
                    <img src="../../college-dls/utsa/images/ut-san-antonio-horizontal.svg" width="333px" height="20px" class="" alt="The University of Texas at San Antonio" />
				</a>
			</div>
			<div class="col-8">
				<nav class="quick-links-container">
					<ul class="quick-links">
						<li><a href="https://utsa.edu/today/" id="a-header-topbar-utsa-today">News</a></li>
						<li><a href="https://my.utsa.edu/" id="a-header-topbar-myutsa">myUTSA</a></li>
						<li class="search-toggle">
							<a href="#" class="global-search" id="search" role="button"><span class="fas fa-search"></span> <span class="visually-hidden" id="search-title">Search</span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>

