

<section class="py-5">
  <div class="container">
    <div class="row mb-5 mt-3 d-none d-md-flex" id="timeline-numbers">
      <div class="inner"></div>
      <div class="col text-center">
        <span class="px-3 py-2 font-weight-bold square">1</span>
      </div>
      <div class="col text-center">
        <span class="px-3 py-2 font-weight-bold circle">2</span>
      </div>
      <div class="col text-center">
        <span class="px-3 py-2 font-weight-bold circle">3</span>
      </div>
      <div class="col text-center">
        <span class="px-3 py-2 font-weight-bold square">4</span>
      </div>
    </div>
    <div class="row" id="timeline-progression">
      <div class="col-md-6 col-lg text-center">
        <p class="p-3 mt-3 text-uppercase pb-0 mb-0">Year</p>
        <p class="h3 pt-0 pb-3 orange-a11y">1</p>
      </div>
      <div class="col-md-6 col-lg text-center">
        <p class="p-3 mt-3 text-uppercase pb-0 mb-0">Year</p>
        <p class="h3 pt-0 pb-3 orange-a11y">2</p>
      </div>
      <div class="col-md-6 col-lg text-center">
        <p class="p-3 mt-3 text-uppercase pb-0 mb-0">Year</p>
        <p class="h3 pt-0 pb-5 orange-a11y">3</p>
      </div>
      <div class="col-md-6 col-lg text-center">
        <p class="p-3 mt-3 text-uppercase pb-0 mb-0">Year</p>
        <p class="h3 pt-0 pb-3 orange-a11y">4</p>
      </div>
    </div>    
  </div>
</section>
