

<div class="contact-card">
    <div class="row align-items-center">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12">
            <div class="staff-card-img">
                <img class="clip-top-img" src="../../college-dls/college/images/account-user.png" alt="Card Image" />
            </div>
        </div>
        <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-8 col-sm-12">
            <div class="staff-card-content">
                <h4>Contact</h4>
                <p class="staff-card-name">Jane Doe, Ph.D.</p>
                <p class="staff-card-department">Department Name</p>
                <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a>
            </div>
        </div>
    </div>
</div>
