<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor.</p>
        </div>
    </div>
</div>