

<div class="profile-card blue-bg white">
    <div class="profile-card-img">
        <img src="../../college-dls/college/images/faculty/Nicole-Beebe.jpg" alt="Card Image">
    </div>
    <div class="profile-card-content">
        <p class="profile-card-name"><a href="#">Nicole Beebe, Ph.D., CISSP</a></p>
        <p class="profile-card-title">Professor, Information Systems and Cyber Security</p>
        <p><span class="icon"><i class="far fa-mobile" aria-hidden="true"></i></span> <a class="phone-no" href="tel:210-123-4567">210-123-4567</a></p>
        <p><span class="icon"><i class="far fa-envelope" aria-hidden="true"></i></span> <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a></p>
    </div>
</div>
