

<section class="blockquote-wrapper pt-5 pb-5">
    <div class="container">
        <div class="image-content-wrapper pb-5">
            <div class="row align-items-center">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="image_wrapper">
                        <img class="clip-mask-top-right" src=../../college-dls/college/images/blockquote-1.png
                            alt="John Doe">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                    <div class="image-right-content">
                        <figure>
                            <blockquote class="blockquote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas
                                tincidunt.” </blockquote>
                            <footer class="blockquote-footer"><strong>John Doe,</strong> Biology Major, 2024</footer>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
