<div class="blue-action-btn">
    <a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

<div class="orange-a11y-bg stripe-bg mt-5 p-5">
	<div class="blue-action-btn">
	    <a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
	</div>
</div>