/* components/01-visual-styling/03-typography/06-blockquote/blockquote.scss */
/* BEGIN blockquote.scss */
.blockquote-sec {
	padding-top: 98px;
	padding-bottom: 138px;

	.blockquote-sec-heading {
		margin-bottom: 90px;
	}
	.blockquote-sec-heading h3 {
		font-size: 38px;
		font-weight: 700;
	}

	.blockquote-footer {
		margin-top: 10px;
		color: $blue;
		font-size: 15px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	.blockquote {
		// color: $blue;
		font-size: 37px;
		font-weight: 800;
		line-height: 44px;
	}
	.author-information {
		color: $blue;
		font-size: 15px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	.image_right-cntnt h4 {
		font-size: 33px;
		line-height: 40px;
	}
	.image_right-cntnt h3 {
		font-size: 37px;
		line-height: 44px;
	}
	.image_right-cntnt>.blockquote {
		margin-bottom: 26px;
	}
}

@media (min-width: 1200px) {
	.blockquote-sec .image_wrapper {
		padding-right: 30px;
	}
}
@media (max-width: 991px) {
	.blockquote-sec {
		padding-top: 45px;
		padding-bottom: 45px;

		.blockquote-sec-heading {
			margin-bottom: 30px;
		}
		.blockquote {
			font-size: 24px;
			line-height: normal;
		}
	}
}
/* END blockquote.scss */