 <div class="container">
     <div class="row">
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="bio-component-img"> <img class="clip-mask-top-right" src="{{path image}}" alt="Bio Component"> </div>
         </div>
         <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
             <div class="bio-content-list">
                 <h5>{{ name }}</h5>
                 <p>{{ graph-01 }}</p>
                 <p>{{ graph-02 }}</p>
             </div>
         </div>
     </div>
 </div>