


<section class="py-5 news3-card-layout-grey position-relative">
    <div class="container">
    <div class="news-card">
        <div class="inner-sec-headings">
            <h3 class="h4">Latest News</h3>
            <a class="view-all-link" href="#">
                Read All News Stories
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="news-card white-bg">
    <div class="news-card-img">
        <img width="325px" height="168px" src="../../college-dls/college/images/News_Blog.png" alt="Card Image"  loading="lazy" />
    </div>
    <div class="news-card-content">
        <p class="news-date">June 1, 2021</p>
        <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit</a>
        <p class="published-status">Published by ASC Team</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="news-card blue-bg">
    <div class="news-card-img">
        <img width="325px" height="168px" src="../../college-dls/college/images/News_Blog-1.png" alt="Card Image" loading="lazy" />
    </div>
    <div class="news-card-content">
        <p class="news-date">June 1, 2021</p>
        <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit</a>
        <p class="published-status">Published by ASC Team</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="news-card white-bg">
    <div class="news-card-img">
        <img width="325px" height="168px" src="../../college-dls/college/images/News_Blog.png" alt="Card Image"  loading="lazy" />
    </div>
    <div class="news-card-content">
        <p class="news-date">June 1, 2021</p>
        <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit</a>
        <p class="published-status">Published by ASC Team</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</div>
            </div>
        </div>
    </div>
    </div>
</section>
