<!-- search-->
<!--#include file="/_files/components/headers/search/global-search.html" -->

<section class="top-bar primary">
	<div class="container-fluid g-0">
		<div class="row align-items-center">
			<div class="col-4">
				<a href="https://www.utsa.edu" title="UTSA Home" class="tb-logo">
                    <!-- old classes: logo-full d-none d-sm-block -->
                    <img src="{{path '/college-dls/utsa/images/ut-san-antonio-horizontal.svg'}}" width="333px" height="20px" class="" alt="The University of Texas at San Antonio" />
				</a>
			</div>
			<div class="col-8">
				<nav class="quick-links-container">
					<ul class="quick-links">
						<li><a href="https://utsa.edu/today/" id="a-header-topbar-utsa-today">News</a></li>
						<li><a href="https://my.utsa.edu/" id="a-header-topbar-myutsa">myUTSA</a></li>
						<li class="search-toggle">
							<a href="#" class="global-search" id="search" role="button"><span class="fas fa-search"></span> <span class="visually-hidden" id="search-title">Search</span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
