/* components/02-components/01-card/04-news-card/news-card.scss */
/* BEGIN news-card.scss */

.news-card {
    --notchSize: 3.8rem;
    clip-path: polygon(
        100% 0, 
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%, 
        0 100%, 
        0 0
    );
    -webkit-clip-path: polygon(
        100% 0, 
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%, 
        0 100%, 
        0 0
    );
}

.news-card.blue-bg .news-card-content p {
    color: $white;
}

.news-card-content p {
	font-size: 15px;
}
.news-card-img>img {
	width: 100%;
	height: 168px;
	-o-object-fit: cover;
	object-fit: cover;
}

.news-card-content {
	padding: 31px 39px;
}

.news-card-content .news-date {
	margin-bottom: 18px;
}

.news-card-content .published-status {
	margin-bottom: 5px;
	font-weight: 700;
}

/* News Card Component */

.news-card {
	height: 100%;
}

.news-card-content .news-card-link {
	font-weight: 700;
	line-height: 1.2;
	display: block;
	margin-bottom: 15px;
	font-size: 25px;
	color: $orange-a11y;
}

.news-card-link {
	text-decoration: none;
}

.blue .news-card-link:hover {
	color: $white !important;
}

.white .news-card-link:hover {
	color: $blue!important;
}
/*End News Card Component */

#column3-news-card .news3-card-div {
    padding-top: 81px;
    padding-bottom: 81px;
}
#blog-news-component .blog-news-component {
	padding-top: 81px;
	padding-bottom: 81px;
}

@media (max-width: 991px) {
    .news-card .row>div {
		margin-bottom: 15px;
	}
	#column3-news-card .news3-card-div {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	.news-card-content .h5>a {
		font-size: 20px;
		line-height: normal;
	}
    .news-card-content {
		padding: 15px 20px;
        padding-right: 30px;
	}
    .news-card-list .row>div {
		margin-bottom: 20px;
	}
}

@media (max-width: 767px) {
    .news-card-img>img {
    height: auto;
}
}
/* END news-card.scss */