/* components/03-example-pages/02-department-home-page/department-home-page.scss */
/* BEGIN department-home-page.scss */

.page-text-wrapper {
	padding-top: 70px;
	padding-bottom: 56px;
}

.page-text-wrapper .contact-card {
	max-width: 283px;
}

/* END department-home-page.scss */