<section class="blue-bg pt-5">
  <div class="container">
    <div class="row">
    <h2 class="white">{{headline}}</h2>
    <div class="image-collage-alt col-md-12 col-lg-12 mt-4">
      <img
          alt="Students sitting in a study room table with their laptops"
          class="image-collage-featured-alt"
          height="auto"
          src="{{path image}}"
          width="720"
        />
      <div class="image-collage-content-alt orange-a11y-bg clip-mask-bottom-left">
        <h3 class="h6 white">{{subhead}}</h3>
        <p>{{description}}</p>
      </div>
    </div>
    </div>
  </div>
</section>