


      <div class="container">
        <h2>Video Gallery</h2>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-0 video">
            <a class="popupYoutube" href="https://www.youtube.com/watch?v=3lztWxiJ170">
              <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em>
              <img alt="Adobe Journeys - Week 6 Adobe with a broken arm" src="../../college-dls/college/images/video-thumbnail-1.png">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-0 video">
            <a class="popupYoutube" href="https://www.youtube.com/watch?v=zpvoYp9osDQ">
              <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em>
                <img alt="Adobe Quick Tips - Compositing in Photoshop" src="../../college-dls/college/images/video-thumbnail-2.png">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0 video">
            <a class="popupYoutube" href="https://www.youtube.com/watch?v=FiRMQpyJBK8">
              <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em>
              <img alt="Journeys with Adobe - Aaron Rodriguez" src="../../college-dls/college/images/video-thumbnail-3.png">
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-0 video">
            <a class="popupYoutube" href="https://www.youtube.com/watch?v=S_5HKIYvG5w">
              <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em>
              <img alt="Journeys with Adobe - Elena Camargo" src="../../college-dls/college/images/video-thumbnail-4.jpg">
            </a>
          </div>
        </div>
        
      </div>

