/* components/02-components/04-tab/tab.scss */
/* BEGIN tab.scss */
.nav-tabs-component .nav-tabs>li {
	padding-left: 15px;
	padding-right: 15px;
	width: 48%;
}
.nav-tabs-component .nav-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.tab-wrapper {
	.tab-header .nav-tabs {
		border: none;
	}
	.nav-tabs {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
			-ms-flex-direction: row;
				flex-direction: row;
		-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
	}
	.tab-header {
		.nav-tabs>li>a {
			background-color: $white-b;
			display: block;
			width: 100%;
			padding: 8px 30px;
			border-top: 5px solid $white-b;
			font-size: 16px;
			color: $blue;
			font-weight: 600;
			text-decoration: none;
			height: 100%;
		}
		.nav-tabs>li>a.active {
			border-top: 6px solid $orange;
			background-color: $white-b;
		}
	
	}
	.tab-headline {
		margin-bottom: 41px;
	}
	.tab-content {
		background-color: $white-b;

    .tab-body-content {
  		padding: 1.5rem;
		  width: 100%;
    }
  }

	@include media-breakpoint-up(md) {
		.tab-header .nav-tabs>li {
			margin-right: 5px;
		}
	}

	@include media-breakpoint-down(md) {
		.tab-header .nav-tabs>li {
			width: 100%;
			background-color: $white-b;
		}
	}

	@include media-breakpoint-down(lg) {
		/* Behavior */
		.tab-wrapper .tab-content {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.tab-wrapper .tab-content .tab-body-content {
			padding-left: 0px;
			max-width: 100%;
			width: 100%;
		}
		/*End Behavior */
	}
}

/* Dark Mode - Tabs */
@include color-mode(dark) {
	.tab-wrapper {
		.tab-header {
			h2, .h2, h3, .h3 {
				color:$orange;
			}
		}
		.tab-content .tab-body-content {
			p, ul li, ol li, code, a, h2, h3, h4, h5, h6 {
				color: $blue;
			}
		}
	}
}
/* Dark Mode - Tabs END */

/* END tab.scss */