

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Default Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
       <div class="hero-banner-wrapper" style="background-image: url('../../college-dls/college/images/hero-banner.png');">
     <div class="container">
         <div class="hero-banner-cntnt">
             <h1 class="banner-heading">I am a default banner. </h1>
             <!--
                 College Name <span class="display-block">Or Page Title</span>
            -->
             <p class="banner-description">Lorem ipsum dolor sit amet, <span class="display-block">consectetur
                     adipiscing elit.</span></p>
             <div class="banner-btns">
                 <a class="rectangle-orange-btn" href="#">Action</a>
                 <a class="rectangle-white-btn" href="#">Action</a> </div>
         </div>
     </div>
 </div>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/college-dls.js" type="text/javascript"></script>
</body>


</html>
