<div aria-label="{{text}}" role="navigation">
    <a href="#top-area" id="top-link" title="To top of page"><em class="back-to-top left">&nbsp;</em><span class="top-link-text">{{text}}</span></a>
</div>