<section class="content-callout-wrapper white-bg py-5">
    <div class="container mx-auto">
        <h2 class="h3 orange-a11y">{{ headline }}</h2>
        <h3 class="h4 blue">{{ subhead }}</h3>
        <p class="grey-e">{{ description }} <a href='https://www.google.com'>Google</a></p>
        <p><a href="#" class="orange-btn">Orange Button</a> <a href="#" class="blue-btn">Blue Button</a> <a href="#" class="grey-btn">Grey Button</a></p>
    </div>
</section>