/* components/03-sections/08-content-callout/content-callout.scss */
/* BEGIN content-callout.scss */
// .content-callout-wrapper {

// 	// .h3 {
// 	// 	font-size: 36px;
// 	// 	line-height: 46px;
// 	// }

// 	// .h4 {
// 	// 	font-size: 32px;
// 	// 	line-height: 38px;
// 	// }

// 	// @include media-breakpoint-up(xl) {

// 	// }

// 	// @include media-breakpoint-down(lg) {

// 	// }
// }

/* END content-callout.scss */