<section class="content-callout-wrapper blue-bg py-5">
    <div class="container mx-auto">
        <h2 class="h3 white">{{ heading-text }}</h2>
        <h3 class="h4 orange-a11y">{{ sub-text }}</h3>
        <p class="white">{{ description-text }}</p>
    </div>
</section>