<section class="content-callout-wrapper py-5">
    <div class="container mx-auto">
        <h1 class="orange-a11y">{{ heading-text }}</h1>
        <h2 class="blue">{{ sub-text }}</h2>
        <p class="grey-d">{{ description-text }}</p>
    </div>
</section>