<section class="content-callout-wrapper orange-a11y-bg py-5">
    <div class="container mx-auto">
        <h2 class="white">{{ heading-text }}</h2>
        <h3 class="orange-a11y">{{ sub-text }}</h3>
        <p class="white">{{ description-text }}</p>
    </div>
</section>