<section class="content-callout-wrapper blue-bg pt-5 pb-5">
    <div class="container mx-auto">
        <h1 class="white">{{ heading-text }}</h1>
        <h2 class="orange-a11y">{{ sub-text }}</h2>
        <p class="white">{{ description-text }}</p>
    </div>
</section>