<section class="content-callout-wrapper grey-bg py-5">
    <div class="container mx-auto">
        <h2 class="orange-a11y">{{ heading-text }}</h1>
        <h3 class="blue">{{ sub-text }}</h2>
        <p class="blue">{{ description-text }}</p>
    </div>
</section>