<section class="content-callout-wrapper blue-bg py-5">
    <div class="container mx-auto">
        <h2 class="h3 white">{{ headline }}</h2>
        <h3 class="h4 orange-a11y">{{ subhead }}</h3>
        <p class="white">{{ description }}</p>
    </div>
</section>