<ul>
  <li><a href="https://nam03.safelinks.protection.outlook.com">Microsoft
      Safelink</a></li>
  <li><a href="https://http://www.google.com">Link with an extra https://</a></li>
  <li><a href="https://walledev.it.utsa.edu/entity/open.act/">Walledev</a></li>
  <li><a href="https://walle.it.utsa.edu/entity/open.act">Walle</a></li>
</ul>

<h2 class="h5">Websites that use DLS</h2>
<ul>
  <li><a href="https://klesse.utsa.edu">KLESSE</a></li>
  <li><a href="https://colfa.utsa.edu">COLFA</a></li>
  <li><a href="https://sciences.utsa.edu">COS</a></li>
  <li><a href="https://hcap.utsa.edu">HCAP</a></li>
  <li><a href="https://business.utsa.edu">ACOB</a></li>
  <li><a href="https://uc.utsa.edu">UC</a></li>
  <li><a href="https://honors.utsa.edu">Honors</a></li>
  <li><a href="https://housing.utsa.edu">Housing</a></li>
</ul>