<h2 class="h5">PNG Image</h2>
<p><img
    src="{{path image1}}"
    alt="card-image.png"
  /></p>

<h2 class="h5">JPG Image</h2>
<p><img
    src="{{path image2}}"
    alt="utsa-housing-reasons-featured-academics.jpg"
  /></p>