<h2 class="h5">PNG Image with no alt text</h2>
<p><img
    src="{{path image1}}"
    alt="card-image.png"
  /></p>

<h2 class="h5">JPG Image with no alt text</h2>
<p><img
    src="{{path image2}}"
    alt="utsa-housing-reasons-featured-academics.jpg"
  /></p>

<h2 class="h5">Image with "Placeholder" alt text</h2>
<div><img
    src="{{path image2}}"
    alt="Placeholder"
  /></div>

<h2 class="h5">Image with no alt text</h2>
<div><img
    src="{{path image2}}"
    alt=""
  /></div>