/* components/02-components/04-profile/03-profile-info/profile-info.scss */
/* BEGIN profile-info.scss */

.profile-details-component-div {
    color: $blue;

    a {
        text-decoration: underline;
        &:hover {
            color: $orange-a11y;
            background-color: #dadde2;
        }
    }

	.profile-details-img {
        margin-right:20px;
        padding-bottom: 30px;
        &>img {
		width: 100%;
		height: 100%;
        }
	}

    h2 {
        color: $blue;
        font-size: 2rem;
        margin-bottom: .25rem;
    }

    h3 {
        color: $orange-a11y;
        font-size: 1.75rem;
        margin-bottom: .25rem;
    }

    .profile-details- {

        &content {
            padding: 0 20px;
            p {
                font-size: 1rem;
                margin-bottom: 1.5rem;
            }
            .icon {
                display: inline-block;
                font-size: 1.25rem;
                text-align: center;
                width: 25px;
                margin-right: 5px;
            }
        }

        &title {
            padding: 0 0 30px 20px;
            color: $orange-a11y;
            font-size: 1.25rem;
            font-weight: 600;
            >p {
                margin-bottom: .125rem;
            }
        }

        &list > ul {
            margin-bottom: 1.5rem;
            font-size: 1rem;
            font-weight: 600;
        }

    }

    .profile-details-list > ul {
        &>li {
            margin-bottom: .25rem;
        }
    }
}

@media (max-width: 991px) {

	.profile-card-list .row>div {
		margin-bottom: 1.25rem;
	}
}

@media (max-width: 767px) {

    .profile-details-img {
        margin-right:0px;
    }
}

@include color-mode(dark) {
	.profile-details-content{
        color: $white;
    }
}
/* END profile-info.scss */