

<!--Card Component -->
<div class="content-card " id="content-card">
    <div class="content-card-list">
        <div class="flex-row flex-wrap">
        <div class="card-flex-box ">
            <div class="content-card position-relative white-bg">
            <div class="content-card-img">
                <img src="../../college-dls/utsa/images/card-image.png" alt="Content Card Image">
            </div>
            <div class="content-card-cntnt position-relative">
                <a href="#" class="h5 color-orange bold display-block text-underline-hover">Lorem ipsum dolor sit amet, consectetur </a>
                <p class="font-14 color-darkblue regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
                <a href="#" class="action-btn positio_abs darkblue-bg color-white">Action <span class="color-white acton-icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- End card Component -->

