

 <div class="py-5 content-listing">
     <div class="container">
         <div class="row">
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                 <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card-list">
        <div class="flex-row flex-wrap">
        <div class="card-flex-box">
            <div class="content-card position-relative white-bg">
            <div class="content-card-img">
                <img src="../../college-dls/utsa/images/card-image.png" alt="Content Card Image">
            </div>
            <div class="content-card-content position-relative">
                <a href="#" class="content-card-link">Lorem ipsum dolor sit amet, consectetur </a>
                <p class="font-14 blue regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
                <div class="blue-action-btn">
    <a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
</div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- End card Component -->

             </div>
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                 <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card-list">
        <div class="flex-row flex-wrap">
        <div class="card-flex-box">
            <div class="content-card position-relative white-bg">
            <div class="content-card-img">
                <img src="../../college-dls/utsa/images/card-image.png" alt="Content Card Image">
            </div>
            <div class="content-card-content position-relative">
                <a href="#" class="content-card-link">Lorem ipsum dolor sit amet, consectetur </a>
                <p class="font-14 blue regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
                <div class="blue-action-btn">
    <a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
</div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- End card Component -->

             </div>
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                 <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card-list">
        <div class="flex-row flex-wrap">
        <div class="card-flex-box">
            <div class="content-card position-relative white-bg">
            <div class="content-card-img">
                <img src="../../college-dls/utsa/images/card-image.png" alt="Content Card Image">
            </div>
            <div class="content-card-content position-relative">
                <a href="#" class="content-card-link">Lorem ipsum dolor sit amet, consectetur </a>
                <p class="font-14 blue regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
                <div class="blue-action-btn">
    <a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
</div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- End card Component -->

             </div>
         </div>
     </div>
 </div>
