



<h3>Background (Standardized, new naming)</h3>
<div class="row">
    <div class="col-4 p-0 border">
        <div class="bg-color blue-bg">
            <div></div>
            <pre>Blue Background
            <span>.blue-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color blue-b-bg">
            <div></div>
            <pre>Blue #2 Background
            <span>.blue-b-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color blue-c-bg">
            <div></div>
            <pre>Blue #3 Background
            <span>.blue-c-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color white-bg">
            <div></div>
            <pre>White Background
            <span>.white-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color orange-bg">
            <div></div>
            <pre>Orange Background
            <span>.orange-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color orange-a11y-bg">
            <div></div>
            <pre>Orange (Accessible) Background
            <span>.orange-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-bg">
            <div></div>
            <pre>Grey #01 Background
            <span>.grey-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-b-bg">
            <div></div>
            <pre>Grey #02 Background
            <span>.grey-b-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-c-bg">
            <div></div>
            <pre>Grey #03 Background
            <span>.grey-c-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-d-bg">
            <div></div>
            <pre>Grey #04 Background
            <span>.grey-d-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-e-bg">
            <div></div>
            <pre>Grey #05 Background
            <span>.grey-e-bg</span></pre>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<h3>Background Patterns</h3>
<div class="row">
    <div class="col-4 p-0 border">
        <div class="bg-color blue-bg stripe-bg">
            <div></div>
            <pre>UTSA Blue with Striped Pattern Background
            <span>.blue-bg .stripe-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color orange-a11y-bg stripe-bg">
            <div></div>
            <pre>UTSA Orange (Accessible) with Striped Background
            <span>.orange-a11y-bg .stripe-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color blue-b-bg stripe-bg">
            <div></div>
            <pre>Blue #2 with Striped Pattern Background
            <span>.blue-b-bg.stripe-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color blue-c-bg stripe-bg">
            <div></div>
            <pre>Blue #3 with Striped Pattern Background
            <span>.blue-c-bg.stripe-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-b-bg stripe-bg">
            <div></div>
            <pre>Grey #2 with Striped Pattern Background
            <span>.grey-b-bg.stripe-bg</span></pre>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

