

<section class="blockquote-wrapper pt-5 pb-5">
    <div class="container">
        <div class="blockquote-heading">
            <h3>A True Learning Community</h3>
        </div>
        <div class="image-content-wrapper">
            <div class="row align-items-center">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="image_wrapper">
                        <img class="clip-mask-top-right"
                            src="../../college-dls/college/images/true-learning-community.png"
                            alt="Community Image">
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="image-right-content">
                        <figure>
                            <blockquote class="blockquote orange-a11y">“Lorem ipsum dolor sit amet,
                                consectetur
                                adipiscing elit. Maecenas tincidunt urna a porta lobortis. Aliquam sit amet eros quam.”
                            </blockquote>
                            <footer class="blockquote-footer"><strong>Jane Doe,</strong> Alumni, Alvarez School of Business 2019</footer>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
