


<div class="p-3"><h3 class="py-2" style="border-bottom:solid 4px #F15A22;font-weight:700;font-size:1.5rem;">Color (Standardized, new naming)</h3></div>
<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 m-2">
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#0C2340;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Blue
                    <strong>CSS Class:</strong> .blue 
                    <strong>Hex:</strong> #0C2340</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#F15A22;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Orange
                    <strong>CSS Class:</strong> .orange 
                    <strong>Hex:</strong> #F15A22</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#d3430d;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Orange (Accessible)
                    <strong>CSS Class:</strong> .orange-a11y 
                    <strong>Hex:</strong> #d3430d</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#FFFFFF;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> White
                    <strong>CSS Class:</strong> .white 
                    <strong>Hex:</strong> #FFFFFF</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#F6F6F6;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> White B
                    <strong>CSS Class:</strong> .white-b 
                    <strong>Hex:</strong> #F6F6F6</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#DBDEE3;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Grey #01
                    <strong>CSS Class:</strong> .grey 
                    <strong>Hex:</strong> #DBDEE3</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#B4B8BC;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Grey #02
                    <strong>CSS Class:</strong> .grey-b 
                    <strong>Hex:</strong> #B4B8BC</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#949494;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Grey #03
                    <strong>CSS Class:</strong> .grey-c 
                    <strong>Hex:</strong> #949494</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#606060;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Grey #04
                    <strong>CSS Class:</strong> .grey-d 
                    <strong>Hex:</strong> #606060</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#232323;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Grey #05
                    <strong>CSS Class:</strong> .grey-e 
                    <strong>Hex:</strong> #232323</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#000000;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Black
                    <strong>CSS Class:</strong> .black 
                    <strong>Hex:</strong> #000000</pre>
            </div>
        </div>
       <div class="col p-4">
            <div class="border" style="height:150px; background-color:#025EFC;"></div>
            <div class="color p-3 border">
                <pre><strong>Name:</strong> Blue Highlight (UI)
                    <strong>CSS Class:</strong> .blue-highlight 
                    <strong>Hex:</strong> #025EFC</pre>
            </div>
        </div>
</div>


