

<h3>Legacy Colors (Vendor Supplied)</h3>
<div class="row">
    <div class="col-3 p-0 border">
        <div class="color" style="color: #025efc">
            <pre>Blue .color-blue
            <span>#025efc</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="color" style="color: #ffffff">
            <pre>White .color-white
            <span>#ffffff</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="color" style="color: #d3430d">
            <pre>UTSA a11y Orange .color-orange
            <span>#d3430d</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="color" style="color: #0b2340">
            <pre>UTSA Blue .color-darkblue
            <span>#0b2340</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="color" style="color: #f15a22">
            <pre>UTSA Orange .cool-orange
            <span>#f15a22</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="color" style="color: #949494">
            <pre>Light Grey .light-grey
            <span>#949494</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="color" style="color: #000000">
            <pre>Black .color-black
            <span>#000000</span></pre>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<h3>Color (Standardized, new naming)</h3>
<div class="row">
       <div class="col-3 p-0 border">
            <div class="color" style="color: #0C2340">
                <pre>Blue .blue
                <span>#0C2340</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #F15A22">
                <pre>Orange .orange
                <span>#F15A22</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #d3430d">
                <pre>Orange (Accessible) .orange-a11y
                <span>#d3430d</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #FFFFFF">
                <pre>White .white
                <span>#FFFFFF</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #DBDEE3">
                <pre>Grey #01 .grey
                <span>#DBDEE3</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #B4B8BC">
                <pre>Grey #02 .grey-b
                <span>#B4B8BC</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #949494">
                <pre>Grey #03 .grey-c
                <span>#949494</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #606060">
                <pre>Grey #04 .grey-d
                <span>#606060</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #232323">
                <pre>Grey #05 .grey-e
                <span>#232323</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #000000">
                <pre>Black .black
                <span>#000000</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #025EFC">
                <pre>Blue Highlight (UI) .blue-highlight
                <span>#025EFC</span></pre>
            </div>
        </div>
</div>

<h3>Legacy Background (Vendor Supplied)</h3>
<div class="row">
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #e7e7e7">
            <pre>Light Grey .lightgrey-bg
            <span>#e7e7e7</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #0c2340">
            <pre>UTSA Blue .darkblue-bg
            <span>#0c2340</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #ffffff">
            <pre>White .white-bg
            <span>#ffffff</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #f15a22">
            <pre>UTSA Orange .bg-orange
            <span>#f15a22</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #0C2340">
            <pre>UTSA Dark Blue .navy-bg
            <span>#0C2340</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #d3430d">
            <pre>UTSA a11y Orange .bg-darkorange
            <span>#d3430d</span></pre>
        </div>
    </div>
</div>

<h3>Background (Standardized, new naming)</h3>
<div class="row">
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #0C2340">
            <pre>Blue Background .blue-bg
            <span>#0C2340</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #F15A22">
            <pre>Orange Background .orange-bg
            <span>#F15A22</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #FFFFFF">
            <pre>White Background .white-bg
            <span>#FFFFFF</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #D3430D">
            <pre>Orange (Accessible) Background .orange-a11y-bg
            <span>#D3430D</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #DBDEE3">
            <pre>Grey #01 Background .grey-bg
            <span>#DBDEE3</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #B4B8BC">
            <pre>Grey #02 Background .grey-b-bg
            <span>#B4B8BC</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #949494">
            <pre>Grey #03 Background .grey-c-bg
            <span>#949494</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #606060">
            <pre>Grey #04 Background .grey-d-bg
            <span>#606060</span></pre>
        </div>
    </div>
    <div class="col-3 p-0 border">
        <div class="p-0 m-0 color w-100" style="color: #232323">
            <pre>Grey #05 Background .grey-e-bg
            <span>#232323</span></pre>
        </div>
    </div>
</div>
