


<div class="row">&nbsp;</div>

<h3>Color (Standardized, new naming)</h3>
<div class="row">
       <div class="col-3 p-0 border">
            <div class="color" style="color: #0C2340">
                <pre>Blue .blue
                <span>#0C2340</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #F15A22">
                <pre>Orange .orange
                <span>#F15A22</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #d3430d">
                <pre>Orange (Accessible) .orange-a11y
                <span>#d3430d</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #FFFFFF">
                <pre>White .white
                <span>#FFFFFF</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #DBDEE3">
                <pre>Grey #01 .grey
                <span>#DBDEE3</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #B4B8BC">
                <pre>Grey #02 .grey-b
                <span>#B4B8BC</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #949494">
                <pre>Grey #03 .grey-c
                <span>#949494</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #606060">
                <pre>Grey #04 .grey-d
                <span>#606060</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #232323">
                <pre>Grey #05 .grey-e
                <span>#232323</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #000000">
                <pre>Black .black
                <span>#000000</span></pre>
            </div>
        </div>
       <div class="col-3 p-0 border">
            <div class="color" style="color: #025EFC">
                <pre>Blue Highlight (UI) .blue-highlight
                <span>#025EFC</span></pre>
            </div>
        </div>
</div>


