

<div class="highlight-card white-bg">
    <div class="highlight-card-img">
        <a href="/visit/tours/">
            <img src="/college-dls/college/images/visit_cmptour_1000x750.jpg" alt="campus visit image" >
        </a>
    </div>
    <div class="highlight-card-content">
        <a class="highlight-card-link pb-3" href="/visit/tours/">Campus Tours</a>
        <p>Led by student ambassadors, see what our campus looks like and what UTSA can do for you to
            enable you to reach your educational goals. Group tours are also available.</p>
        <a class="blue-btn" href="/visit/tours/">View Campus Tours &amp; Register <i class="fas fa-arrow-right"
                aria-hidden="true"></i></a>
    </div>
</div>
