<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/ico">
<style>
    :root {
        
        --skin-accent: 12, 35, 64;
        
        
        --skin-complement: 241, 90, 34;
        
        
        --skin-links: 211, 67, 13;
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/blue.css?cachebust=1.10.1" type="text/css">

<link rel="stylesheet" href="../../college-dls/theme/theme.css?cachebust=1.10.1" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.1" type="text/css">


<title>Error rendering component department-secondary-page | College Design Language System</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>Could not render component &#39;@call-to-action-image--blue-left&#39; - component not found.</p>

    </div>
    
    <code class="Error-stack">
        <pre>Error: Could not render component '@call-to-action-image--blue-left' - component not found.
    at Object.render (/home/runner/work/college-dls/college-dls/node_modules/@frctl/handlebars/src/helpers/render.js:23:19)
    at Object.helperWrapper (/home/runner/work/college-dls/college-dls/node_modules/promised-handlebars/index.js:130:23)
    at Object.<anonymous> (/home/runner/work/college-dls/college-dls/node_modules/promised-handlebars/lib/utils.js:29:28)
    at Object.wrapper (/home/runner/work/college-dls/college-dls/node_modules/handlebars/dist/cjs/handlebars/internal/wrapHelper.js:15:19)
    at Object.eval [as main] (eval at createFunctionContext (/home/runner/work/college-dls/college-dls/node_modules/handlebars/dist/cjs/handlebars/compiler/javascript-compiler.js:262:23), <anonymous>:22:102)
    at main (/home/runner/work/college-dls/college-dls/node_modules/handlebars/dist/cjs/handlebars/runtime.js:208:32)
    at ret (/home/runner/work/college-dls/college-dls/node_modules/handlebars/dist/cjs/handlebars/runtime.js:212:12)
    at ret (/home/runner/work/college-dls/college-dls/node_modules/handlebars/dist/cjs/handlebars/compiler/compiler.js:519:21)
    at prepareAndResolveMarkers (/home/runner/work/college-dls/college-dls/node_modules/promised-handlebars/index.js:99:39)
    at /home/runner/work/college-dls/college-dls/node_modules/promised-handlebars/lib/utils.js:29:28
    at HandlebarsAdapter.render (/home/runner/work/college-dls/college-dls/node_modules/@frctl/handlebars/src/adapter.js:37:30)
    at ComponentSource._renderVariant (/home/runner/work/college-dls/college-dls/node_modules/@frctl/fractal/src/api/components/source.js:212:30)
    at _renderVariant.next (<anonymous>)
    at onFulfilled (/home/runner/work/college-dls/college-dls/node_modules/co/index.js:65:19)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.1"></script>

<script src="../../college-dls/theme/theme.js?cachebust=1.10.1"></script>



</body>
</html>
