

 <div class="container">
     <div class="row">
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="bio-component-img"> <img class="clip-mask-top-right" src="../../college-dls/college/images/faculty/Tracy-Cowden.jpg" alt="Bio Component"> </div>
         </div>
         <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
             <div class="bio-content-list">
                 <h5>Jane Doe, Ph.D</h5>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fusce id velit ut tortor pretium viverra suspendisse. Dignissim convallis aenean et tortor at risus. At lectus urna duis convallis convallis tellus. Tellus orci ac auctor augue mauris.</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fusce id velit ut tortor pretium viverra suspendisse. Dignissim convallis aenean et tortor at risus. At lectus urna duis convallis convallis tellus. Tellus orci ac auctor augue mauris.</p>
             </div>
         </div>
     </div>
 </div>
