

<div class="standard-headlines-wrapper" id="Standard-Headlines">
    <div class="row no-mrg">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H1</p>
                    </div>
                    <div class="w-75">
                        <h1>I am a default headline</h1>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H1 .orange</p>
                    </div>
                    <div class="w-75">
                        <h1 class="orange">I am a default headline</h1>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H1 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h1 class="orange-a11y">I am a default headline</h1>
                    </div>
                </li>
            </ul>
            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H2</p>
                    </div>
                    <div class="w-75">
                        <h2>I am a default headline</h2>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H2 .orange</p>
                    </div>
                    <div class="w-75">
                        <h2 class="orange">I am a default headline</h2>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H2 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h2 class="orange-a11y">I am a default headline</h2>
                    </div>
                </li>
            </ul>
            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H3</p>
                    </div>
                    <div class="w-75">
                        <h3>I am a default headline</h3>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H3 .orange</p>
                    </div>
                    <div class="w-75">
                        <h3 class="orange">I am a default headline</h3>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H3 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h3 class="orange-a11y">I am a default headline</h3>
                    </div>
                </li>
            </ul>


            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H4</p>
                    </div>
                    <div class="w-75">
                        <h4>I am a default headline</h4>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H4 .orange</p>
                    </div>
                    <div class="w-75">
                        <h4 class="orange">I am a default headline</h4>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H4 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h4 class="orange-a11y">I am a default headline</h4>
                    </div>
                </li>
            </ul>


            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H5</p>
                    </div>
                    <div class="w-75">
                        <h5>I am a default headline</h5>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H5 .orange</p>
                    </div>
                    <div class="w-75">
                        <h5 class="orange">I am a default headline</h5>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H5 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h5 class="orange-a11y">I am a default headline</h5>
                    </div>
                </li>
            </ul>

            <ul class="list-unstyled headings-typography-ul">
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H6</p>
                    </div>
                    <div class="w-75">
                        <h6>I am a default headline</h6>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H6 .orange</p>
                    </div>
                    <div class="w-75">
                        <h6 class="orange">I am a default headline</h6>
                    </div>
                </li>
                <li class="d-flex flex-row align-items-center">
                    <div class="w-25">
                        <p class="color-blue">H6 .orange-a11y</p>
                    </div>
                    <div class="w-75">
                        <h6 class="orange-a11y">I am a default headline</h6>
                    </div>
                </li>
            </ul>

        </div>

    </div>

</div>

