

<section class="pt-5">
  <div class="container">
    <div class="row">
      <h2>Medium Length Display Headline</h2>
      <div class="image-collage col-md-12 col-lg-12 mt-4">
        <img
            alt="Students sitting in a study room table with their laptops"
            class="image-collage-featured-alt"
            height="auto"
            src="../../college-dls/college/images/utsa-housing-reasons-featured-timesaving.jpg"
            width="720"
          />
        <div class="image-collage-content-alt blue-bg clip-mask-bottom-left">
          <h3 class="h6 white">Medium Length Subheader</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor.elit.</p>
          <div class="row">
            <div class="col mx-3 mx-md-0">
                <div class="orange-action-btn">
                  <a href="#" class="action-btn"> Action Button <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
