

 <section class="my-5">
    <div class="container">
        <div class="row">
            <h2 class="h3 blue mb-3">This is the Link List Title</h2>
            <div class="col-12 col-md-6">
                <ul class="resources-list">  
                    <li><a href="#">Covid-19 Funding Opps</a></li>
                    <li><a href="#">Covid-19 Labs Exemption</a></li>
                    <li><a href="#">Find Tech Transfer</a></li>
                    <li><a href="#">College of Business Administration</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul class="resources-list">
                    <li><a href="#">Covid-19 Funding Opps</a></li>
                    <li><a href="#">Covid-19 Labs Exemption</a></li>
                    <li><a href="#">Find Tech Transfer</a></li>
                    <li><a href="#">College of Business Administration</a></li>
                </ul>
            </div>
        </div>
    </div>
 </section>
