

<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
  <!-- Header Section -->
  <header id="header" class="main-header sticky-header">
    <!-- Top Header -->
<div id="top-header">
    <div class="top-header-left">
        <a title="UTSA Home" href="https://www.utsa.edu">
            <img width="250px" height="12px" class="logo-full d-none d-sm-block" src="../../college-dls/utsa/images/utsa-logo-full.svg" alt="The University of Texas at San Antonio" />
            <img width="72px" height="25px" class="logo-short d-block d-sm-none" src="../../college-dls/utsa/images/utsa-logo.svg" alt="The University of Texas at San Antonio" />
        </a>
    </div>
    <div class="top-header-right">
        <form class="top-header-form">
            <div class="language-select">
                <label id="lbl-select-lang" class="d-none">Select Language</label>
                <select id="select-language" class="js-example-disabled-results" aria-labelledby="lbl-select-lang">
                    <option>Select Language</option>
                    <option>English</option>
                </select>
            </div>
            <div class="myutsa-link">
                <a title="MyUTSA" href="https://my.utsa.edu"><i class="fas fa-globe-americas"></i> <span class="myutsa-text">myUTSA</span></a>
            </div>
            <div class="search">
                <button type="button" class="search-btn dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                    <span class="search-icon"><i class="fas fa-search" aria-hidden="true"></i></span> 
                    <span class="search-text">Search</span>
                </button>
                <div class="dropdown-menu " style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(274px, 122px, 0px);" data-popper-placement="bottom-end">
                    <label for="q" class="d-none">Search</label>
                    <input type="search" placeholder="Search" id="q" tabindex="0" name="q" onblur="if (this.value == '') {this.value = 'Search UTSA';}" onfocus="if (this.value == 'Search UTSA') {this.value = '';}" value="Search UTSA" />
                    <button type="submit" class="search-input-icon" aria-label="Search"><i class="fas fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Top Header -->
    
<!-- Sticky Header -->
<div class="top-navigation">
    <!-- Main Header -->
    <div id="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="#" aria-label="Logo Image">
                    <img class="college-logo" width="265px" height="33px" alt="Full College Name Goes Here" src="../../college-dls/college/images/college-logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar4" aria-label="Toggle">
                    <span class="navbar-toggler-icon"><i class="fal fa-bars"></i></span>
                    <span class="navbar-toggler-close-icon" style="display: none;"><i class="fal fa-times"></i></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar4">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Admissions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Programs</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Undergraduate</a>
                                <a class="dropdown-item" href="#">Graduate</a>
                                <a class="dropdown-item" href="#">Certificate</a>
                                <a class="dropdown-item" href="#">Testing a long link to make sure it wraps on mobile</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Faculty & Research </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Student Success</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Undergraduate</a>
                                <a class="dropdown-item" href="#">Graduate</a>
                                <a class="dropdown-item" href="#">Certificate</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Departments</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Undergraduate</a>
                                <a class="dropdown-item" href="#">Graduate</a>
                                <a class="dropdown-item" href="#">Certificate</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Undergraduate</a>
                                <a class="dropdown-item" href="#">Graduate</a>
                                <a class="dropdown-item" href="#">Certificate</a>
                            </div>
                        </li>
                        <li class="nav-item mobile-nav-btns">
                            <a href="#" class="action-btn">Apply <i class="fas fa-arrow-right"></i></a>
                            <a href="#" class="action-btn">Visit <i class="fas fa-arrow-right"></i></a>
                            <a href="#" class="action-btn">Request Info <i class="fas fa-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--End Main Header -->
    <!-- Request Apply Header -->
    <div class="bottom-absolute-header d-flex flex-row-reverse">
        <div id="orange-bg-header">
            <div class="container">
                <ul class="orange-header-list">
                    <li class="nav-item"><a class="nav-link" href="#">Request Info</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Visit</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Apply</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Sticky Header -->

  </header>
  <!-- Header Section End -->
  <!-- Loader -->
  <div id="cover">
    <div class="loading-spin"><i class="fas fa-spinner"></i></div>
  </div>
  <!-- End Loader -->
  <!-- Main Content Body -->
  <main>
    <!--Slider -->
    <section class="slider-wrapper" id="main-slider-wrapper">
      <section class="banner">
         <div class="single-title-wrapper">
            <div class="container">
               <h1 class="single-title-heading">News Story Page</h1>
            </div>
         </div>
      </section>      <!-- Breadcrumb -->
      <div class="breadcrumb-wrapper">
          <div class="container">
              <ul class="list-unstyled">
                  <li class="crumb-item">
                      <a class="link-text" href="index.html">Home</a>
                      <span class="breadcrumb-divider">&#160;/&#160;</span>
                      <span class="unlink-text">News Story Page</span></li>
              </ul>
          </div>
      </div>
      <!-- End Breadcrumb -->    </section>
    <!-- End Slider -->

    <section class="page-text-wrapper" id="skipToContent">
      <div class="container">
        <div class="news-inner-wrapper">
          <h2 class="news-title">Lorem ipsum dolor sit amet: consectetur adipiscing elit</h2>
          <p class="news-post-details">Posted on February 12, 2021 by Wendy Frost - Current News</p>
          <h5 class="news-subtitle">Micaela Biggs is a senior majoring in cyber security. A native of Anson, Texas she
            is currently interning with Digital Defense. Biggs has learned the value of obtaining certifications as well
            as the need to continue to learn new technological skills in order to be successful post-graduation. She is
            the co-president of the Hunger and Homelessness Movement at UTSA and a member of the Computer Security
            Association and the CompTIA student chapter.</h5>
          <div class="news-img col-8">
            <img class="w-100 img-fluid" src="../../college-dls/college/images/news.png" alt="News Image">
            <p class="img-caption">Test caption goes here.</p>
          </div>
          <div class="news-text-block">
            <h6>Favorite class</h6>
            <p>Network Security/Information Assurance</p>
          </div>
          <div class="news-text-block">
            <h6>Favorite professor</h6>
            <p>Rita Mitra</p>
          </div>
          <div class="news-text-block">
            <h6>How has COVID affected your studies or you personally this semester?</h6>
            <p>COVID has affected my studies in a positive fw-light throughout this semester. It has taught me that
              digital communication is extremely important and necessary throughout times like this, and it has made
              me more proficient in learning a variety of software such as Zoom and Microsoft Teams to name a few.</p>
          </div>
          <div class="news-text-block">
            <h6>What have you learned most from your program of study thus far?</h6>
            <p>I have learned from my program of study that certifications and learning numerous technological skills
              can make a significant impact when looking for jobs post-graduation. This is not a field if you want to
              relax and spend your days doing nothing. Technology is constantly evolving and needs individuals ready
              to put in the work to keep online databases secure and away from breach, and the program at UTSA has
              taught me to strive for success in the field of technology.</p>
          </div>
          <div class="news-text-block">
            <h6>Any organizations or activities that you’ve been involved with in the COB or at UTSA?</h6>
            <p>I was a College of Business senator in the Student Government Association where I acted as a liaison
              for business students who demanded to see change through on-campus life. I was a volunteer coordinator
              for the Hunger and Homelessness Movement where I contacted different organizations throughout San
              Antonio in order to coordinate times for students to seek volunteer opportunities, whether it be through
              homeless shelters, soup kitchens and nonprofit church organizations. I am currently co-president of the
              same organization where we strive to oversee the other officers who are completing their daily tasks as
              well as keeping volunteers encouraged throughout busy semesters. I am also a member of the Computer
              Security Association as well as the CompTIA Student Chapter where security undergraduates are given
              helpful tips and information on how certifications are important for technology professionals.</p>
          </div>
          <div class="news-text-block">
            <h6>What are you watching, reading or listening to right now?</h6>
            <p>I am currently watching Forensic Files along with reading The Cuckoo’s Egg, a story following an
              international hacker who is attempting to breach military bases throughout North America. The
              protagonist is an astronomer working at a computer lab who is attempting to find and prevent the
              attacker from causing any more damage to top-secret American bases.</p>
          </div>
          <div class="news-text-block">
            <h6>Professional work experience or internships that you’ve participated in?</h6>
            <p>I am currently a management information systems intern for Digital Defense, Inc. where I set up
              Reconnaissance Network Appliances for potential clients that need them, as well as creating RSE domains
              for acquiring companies. In the summer of 2021 I will be a technical delivery manager intern for Pearson
              where I will oversee technical projects within the company as well as learn how to better maneuver cloud
              applications.</p>
          </div>
          <div class="news-text-block">
            <h6>What are your future career plans?</h6>
            <p>My future career plans are to design a top-of-the-line security system that has never been created. I
              want to develop everything from scratch. I also want to eventually attain an executive position for a
              security company and become proficient in cloud infrastructure as well as other types of cloud
              applications.</p>
          </div>
          <div class="news-text-block">
            <p class="author-name">—Wendy Frost</p>
          </div>
          <div class="news-tags">
            <p><span class="tags">Tags:</span>
              <a href="#">Cyber</a>,
              <a href="#">Undergraduate</a>
            </p>
          </div>


          <div class="postscript col-12">
            Short ribs burgdoggen short loin ham hock picanha drumstick tri-tip andouille shankle alcatra rump
              salami ham. Pastrami bresaola turducken alcatra leberkas. Leberkas shankle burgdoggen ham, sirloin
              hamburger turkey kielbasa cupim tongue tri-tip prosciutto spare ribs.
          </div>

        </div>


      </div>
    </section>

    
<section class="py-5 news3-card-layout-grey position-relative">
    <div class="container">
    <div class="news-card">
        <div class="inner-sec-headings">
            <h3 class="h4">Latest News</h3>
            <a class="view-all-link" href="#">
                Read All News Stories
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="news-card white-bg">
    <div class="news-card-img">
        <img width="325px" height="168px" src="../../college-dls/college/images/News_Blog.png" alt="Card Image"  loading="lazy" />
    </div>
    <div class="news-card-content">
        <p class="news-date">June 1, 2021</p>
        <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit</a>
        <p class="published-status">Published by ASC Team</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="news-card blue-bg">
    <div class="news-card-img">
        <img width="325px" height="168px" src="../../college-dls/college/images/News_Blog-1.png" alt="Card Image" loading="lazy" />
    </div>
    <div class="news-card-content">
        <p class="news-date">June 1, 2021</p>
        <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit</a>
        <p class="published-status">Published by ASC Team</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="news-card white-bg">
    <div class="news-card-img">
        <img width="325px" height="168px" src="../../college-dls/college/images/News_Blog.png" alt="Card Image"  loading="lazy" />
    </div>
    <div class="news-card-content">
        <p class="news-date">June 1, 2021</p>
        <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit</a>
        <p class="published-status">Published by ASC Team</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</div>
            </div>
        </div>
    </div>
    </div>
</section>

    <!-- ENROLLMENT CTA -->
    <!-- Roadrunner Section -->
 <section class="enrollment-wrapper" style="background-image: url('../../college-dls/utsa/images/Future-Roadrunner.png');">
     <div class="container">
         <div class="enrollment-content">
             <span class="h5">Become a</span>
             <h2>Roadrunner</h2>
             <div class="roadrunner-btns">
                 <div class="row">
                     <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12"> <a href="#" class="action-btn">Request Information <i class="fas fa-arrow-right"></i></a> </div>
                     <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12"> <a href="#" class="action-btn">Visit Campus <i class="fas fa-arrow-right"></i></a> </div>
                     <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12"> <a href="#" class="action-btn">Apply Now <i class="fas fa-arrow-right"></i></a> </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
<!--End Roadrunner Section -->

    <!-- END CTA -->
  </main>
  <!-- End Main Content Body -->
  <!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="footer-logo">
                    <img width="231px" height="75px" alt="UTSA - Creating Bold Futures"
                        src="../../college-dls/utsa/images/utsa-cbf.svg" />
                </div>
                <div class="footer-text">
                    <p>
                        <span class="footer-first-text">One UTSA Circle San Antonio, TX 78249</span>
                        <span class="footer-second-text">Information <a href="tel:+12104584011"
                                class="">210-458-4011</a></span>
                    </p>
                </div>
                <div class="footer-social">
                    <a class="facebook" href="https://facebook.com/utsa" aria-label="Facebook"><i
                            class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    <a class="twitter" href="https://twitter.com/utsa" aria-label="Twitter"><i class="fab fa-twitter"
                            aria-hidden="true"></i></a>
                    <a class="youtube" href="https://youtube.com/user/utsa" aria-label="Youtube"><i
                            class="fab fa-youtube" aria-hidden="true"></i></a>
                    <a class="linkedin" href="https://linkedin.com/school/the-university-of-texas-at-san-antonio/"
                        aria-label="Linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    <a class="instagram" href="https://instagram.com/utsa/" aria-label="Instagram"><i
                            class="fab fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/locations" id="s-footer-locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/visit" id="s-footer-visit" aria-label="Visit UTSA">Visit UTSA</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/today" id="s-footer-utsa-today">UTSA Today</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/jobs" id="s-footer-jobs">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://alerts.utsa.edu/utsa-community-emergency-response"
                            id="s-footer-emergency-contacts">Emergency Contacts</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/directory" id="s-footer-directory">Directory</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/Compliance/Hotline.html" id="s-footer-report-fraud">Report
                            Fraud</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/eos/title-ix" id="s-footer-title-ix-reporting">Title IX
                            Reporting</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/ada" id="s-footer-ada-resources">ADA Resources</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/publicsafety/pd/clery_compliance" id="s-footer-clery-info">Clery
                            Information</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/remembrance" id="s-footer-rr-remembrance">Roadrunner
                            Remembrance</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/mental-health-resources"
                            id="s-footer-mental-health">Counseling/Mental Health</a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.utsa.edu/heerf/#reports-disclosure" id="s-footer-cares-act-reports">CARES
                            Act Reports &amp; Disclosure</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/hop/chapter9/9-24.html" id="s-footer-sexual-harassment">Sexual
                            Harassment and Sexual Misconduct Policy</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    </div>
    <div class="copyright-subfooter">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="utsa-copyright">
                    <p>&copy; 2022 The University of Texas at San Antonio</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <nav class="subfooter-links">
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies" id="s-footer-policies">Policies</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies/accessibility" id="s-footer-web-accessibility">Web
                                Accessibility</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies/reqlinks.html" id="s-footer-required-links">Required
                                Links</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsystem.edu/" id="s-footer-ut-system">UT System</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!--End Footer -->
</div>
