

<div class="profile-card white-bg">
    <div class="profile-card-img">
        <img src="../../college-dls/college/images/Profile.png" alt="Card Image">
    </div>
    <div class="profile-card-cntnt">
        <a href="#" class="card-link">Jane Doe, Ph.D.</a>
        <p class="profile-card-title">Associate Professor</p>
        <a class="phone-no" href="tel:210-123-4567">210-123-4567</a> 
        <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
    </div>
</div>
