/* components/03-section/02-navigation/05-site-ankle/site-ankle.scss */
/* BEGIN site-ankle.scss */
.site-footer.white-b-bg {
    background-color: $white-b !important;

    p {
        margin-bottom: 1rem;
        margin-top: 0;
        color: $blue;
        font-size: 16px;
        text-align: unset;
        font-weight: 400;
    }
    a {
        color: $blue !important;
    }

    a:hover {
        background-color: transparent !important;
    }

    li a:hover {
        color: $orange-a11y !important;
        background-color: transparent !important
    }

    #social-sidebar {
        a {
            color: $blue !important;
    
            &:hover {
                color: $orange-a11y !important;
                background-color: #dbdee3;
                transition: all .3s ease-in-out;
            }
        }
    }
}

// all other styles are coming from site-footer.scss

/* END site-ankle.scss */