/* components/03-sections/09-gallery/gallery.scss */
/* BEGIN gallery.scss */

.col-md-3.video {
    position: relative;
}

.fa.fa-play {
    position: absolute;
	width: 0;
	height: 0;
    background-color: rgba(0,0,0,0.6);
    border-radius: 500px;
    padding: 15px 20px;
    color: #fff;
    font-size: 2em;
    margin: 0 auto;
    width: 60px;
    height: 60px;
	top: 25%;
	left: 40%;
}

/* END gallery.scss */