/* components/03-example-pages/10-institute-secondary-page/institute-secondary-page.scss */
/* BEGIN news-page.scss */
.advisory-type-hdr {
	padding-top: 20px;
	padding-bottom: 60px;
}
.advisory-board-blocks .advisory-block-designs {
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #cdc9c9;
}
.advisory-board-blocks .advisory-block-designs:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
.advisory-board-design {
	padding-bottom: 60px;
}
/* END news-page.scss */