<div class="css-box">
    <p>Flex : <span class="css-class">.d-flex</span></p>
    <p>Flex Row : <span class="css-class">.flex-row</span></p>
    <p>Flex Wrap : <span class="css-class">.flex-wrap</span></p>
    <p>Flex Column : <span class="css-class">.flex-column</span></p>
    <p>Flex Spacebetween : <span class="css-class">.justify-content-between</span></p>
    <p>Flex Center: <span class="css-class">.justify-content-center </span></p>
    <p>Flex Start: <span class="css-class">.justify-content-start</span></p>
    <p>Flex End : <span class="css-class">.justify-content-end</span></p>
    <p>Flex Spacebetween : <span class="css-class">.justify-content-between</span></p>
    <p>Align Start: <span class="css-class">.align-items-start </span></p>
    <p>Flex End: <span class="css-class">.align-items-end</span></p>
    <p>Flex Center : <span class="css-class">.align-items-center</span></p>
</div>


<div class="css-box">
    <p>Container 1354px : <span class="css-class">.container-1354px</span></p>
    <p>Container 1300px : <span class="css-class">.container-1300px</span></p>
    <p>Container 1070px : <span class="css-class">.container-1070px</span></p>
    <p>Container (Bootstrap) : <span class="css-class">.container</span></p>
</div>

<div class="css-box">
    <p>Width 100% : <span class="css-class">.w-100</span></p>
    <p>Width 75% : <span class="css-class">.w-75</span></p>
    <p>Width 50% : <span class="css-class">.w-50</span></p>
    <p>Width 25% : <span class="css-class">.w-25</span></p>
</div>
