.newsletter-subscribe-wrapper {
    padding-top: 65px;
    padding-bottom: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

.newsletter-subscribe-wrapper {
    background-color: #F15B22;
}

.newsletter-heading h4 {
    font-size: 32px;
    font-weight: 700;
}

.form-design .row>div {
    padding-left: 5px;
    padding-right: 5px;
}

.form-design .row {
    margin-left: -5px;
    margin-right: -5px;
}

.form-design .form-grouph {
    margin-bottom: 15px;
}


.hide {
    display: none !important;
}

.input-design input {
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 14px 15px;
    font-weight: 500;
    color: #0B2340;
    background-color: #fff;
}

.newsletter-subscribe-wrapper .input-design input {
    padding: 10px 28px;
}

.form-btn {
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 14px 15px;
    background-color: #0b2341;
    color: #fff;
}

.newsletter-subscribe-wrapper .form-btn {
    padding: 10px 15px;
}


