/* components/01-visual-styling/02-typography/09-table/table.scss */
/* BEGIN table.scss */

.table-design tr th {
	padding: 12px 25px;
}
.table-design tr td {
	padding: 12px 25px;
}
.table-design tbody>tr:nth-child(2n) {
	background-color: $white-b;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
}
.table-design {
	width: 100%;
	padding: 0px 15px;
}
.table-design thead {
	background-color: $orange-a11y;
}
.table-design thead th {
	font-size: 17px;
	font-weight: 500;
	color: $white;
}
.table-design tr td {
	padding: 12px 25px;
	font-size: 17px;
	color: $blue;
}
.mb-0 {
	margin-bottom: 0px;
}

/* END table.scss */