

<section class="headline-text-btn-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="heading-wrapper">
                    <h2 class="h4">Medium Length Headline</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="paragraph-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="orange-action-btn">
                    <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

