<section class="grey-bg pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center d-flex">

            <div class="col-md-4">
                {{ render '@angled-button--blue' }}
            </div>

            <div class="col-md-4">
                {{ render '@angled-button--blue' }}
            </div>

            <div class="col-md-4">
                {{ render '@angled-button--blue' }}
            </div>

        </div>
    </div>
</section>