#accordion .accordion-item:first-of-type,
#accordion .accordion-item:last-of-type {
	border-radius: 0;
	border: 0;
}

#accordion .accordion-item:first-of-type {
	border-bottom: 1px solid $white;
}

#accordion .accordion-item {
	word-wrap: break-word;
	background-clip: border-box;
	background-color: #fff;
	border-bottom: 1px solid #fff;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	min-width: 0;
	position: relative;
}

#accordion button:focus:not(:focus-visible) {
	outline: 0;
}

#accordion .accordion-item .accordion-button {
	background-color: #0c2340;
	color: #fff;
	display: block;
	font-size: 21px;
	font-weight: 600;
	margin-bottom: 0;
	padding: 20px 31px;
	position: relative;
}

#accordion .accordion-button:focus {
	border-color: transparent;
	box-shadow: none;
	outline: 0;
	z-index: 3;
}

#accordion .accordion-button:not(.collapsed) {
	background-color: #dbdee3 !important;
	border-top: 6px solid #d3430d;
	color: #0c2340 !important;
}

#accordion .accordion-button:focus {
	z-index: 3;
	border-color: transparent;
	outline: 0;
	box-shadow: none;
}

#accordion .accordion-button:not(.collapsed) {
	color: #0b203a;
	background-color: #dbdee3;
	border-top: 6px solid #d3430d;
	margin-top: -1px;
}

#accordion .accordion-button:not(.collapsed)::after {
	align-items: center;
	background-color: #0c2340;
	bottom: 0;
	color: #fff;
	display: flex;
	height: 100%;
	transform: rotate(0deg);
	justify-content: center;
	right: 0;
	top: 0;
	width: 77px;
}

#accordion .accordion-button:after {
	background-repeat: no-repeat;
	background-size: 1.25rem;
	flex-shrink: 0;
	height: 1.25rem;
	margin-left: auto;
	transition: transform 0.2s ease-in-out;
	width: 1.25rem;
	content: "+";
	font-size: 40px;
	font-weight: 300;
	line-height: 28px;
	position: absolute;
	right: 31px;
	top: 15px;
}

#accordion .accordion-button:not(.collapsed):after {
	content: "×";
}

#accordion .card-body {
	background-color: #f6f6f6;
	padding: 15px 32px 94px;
	position: relative;
}


#accordion .card-body .accordion-body-content h5 {
	color: #d3430d;
	font-size: 28px;
	font-weight: 400;
	font-family: "open sans", sans-serif;
}

#accordion .card-body .accordion-body-content p {
	color: #0c2340;
	font-size: 15px;
	margin-bottom: 30px;
	margin-top: 30px;
}

#accordion .card-body .accordion-body-content ul {
	padding-left: 18px;
}

#accordion .card-body .accordion-body-content ul li {
	font-size: 16px;
	font-weight: 400;
}

@media (max-width: 1199px) {
	#accordion .card-body {
		padding-bottom: 32px !important
	}

	#accordion .accordion-item .card-body {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		max-width: 100%;
		padding-left: 0
	}


}

@media (min-width: 1200px) {
	#accordion .card-body {
		padding-bottom: 32px !important
	}
}