<div id="body-wrapper">
  <div id="main" role="main">

    {{render "@site-footer" site-navigation-klesse-stacked}}

  </div>

  <div id="main" role="main">

    {{render "@site-footer" site-navigation-uc-stacked}}

  </div>
</div>