<div class="events-listing-sec" id="events-listing-component">
    <div class="container-1300px">
        {{ render '@event-card--horizontal' }}

        {{ render '@event-card--horizontal' }}
    </div>
</div>