/* components/04-reference-pages/10-events-page/events-page.scss */
/* BEGIN events-page.scss */

.event-description-sec {
	padding-top: 81px;
}
.event-description-content h3 {
	font-size: 38px;
	color: $blue;
	font-weight: 700;
}
.event-des-list h5 {
	font-size: 28px;
	color: #D3430D;
	font-weight: 700;
}
.event-des-list h6 {
	font-size: 23px;
	font-weight: 700;
	color: $blue;
}
.event-info a {
	font-size: 17px;
    text-decoration: underline;
	color: $blue;
	font-weight: 300;
}
.event-info p {
	font-size: 17px;
}
.event-des-left h5 {
	font-size: 28px;
	color: $blue;
	font-weight: 700;
}
.event-des-left p {
	font-size: 17px;
}

.event-des-list .left-icon {
	font-size: 40px;
	text-align: center;
	width: 45px;
}
.event-des-list {
	padding-top: 80px;
}
.event-des-left {
	padding-top: 50px;
}
.event-des-list>.row {
	margin-bottom: 10px;
}

.event-des-list .left-icon svg {
	color: #424242;
}

@include media-breakpoint-down(lg) {
    .event-description-sec {
        padding-top: 45px;
    }
    .event-des-left {
        padding-top: 20px;
    }
    .event-des-list {
        padding-top: 15px;
    }
    .event-description-content h3 {
		font-size: 24px;
	}
	.event-des-list h5 {
		font-size: 20px;
	}
	.event-des-list h6 {
		font-size: 18px;
	}
	.event-info p {
		font-size: 16px;
	}
	.event-des-left h5 {
		font-size: 24px;
	}
	.event-des-left p {
		font-size: 16px;
	}
}

@include media-breakpoint-down(md) {

	.event-info .h5 {
		margin-bottom: 0px;
	}

	.event-description-sec+.event-list-sec {
		padding-top: 0px;
	}

}

/* Dark Mode - Event Page */
@include color-mode(dark) {
	.event-description-sec .event-description-content {
		h2, .h2, h3, .h3 {
			color: $white;
		}
		h4, .h4, h5, .h5 {
			color: $orange;
		}
		.event-des-list {
			color: $white;
			h3, .h3, h4, .h4, h5, .h5 {
				color: $orange;
			}
			.left-icon {
				color: $white;
			}
		}
		.event-des-list .event-info {
			h6, .h6 {
				color: $white;
			}
			a {
				color:$white;
				&:hover {
					color: $blue;
				}
			}
		}
	}
	.event-des-left {
		h3, .h3, h4, .h4, h5, .h5 {
			color: $orange;
		}
		h6, .h6 {
			color: $white;
		}
	}
}
/* Dark Mode - Event Page END */

/* Dark Mode - Events Calendar */
@include color-mode(dark) {
	.fc-head .fc-head-container .fc-row.fc-widget-header {
		.fc-day-header.fc-widget-header {
			color: $orange;
		}
	}
	.fc-ltr .fc-basic-view .fc-day-top {
		&.fc-past>.fc-day-number, &.fc-future>.fc-day-number {
		color: $grey;
		}
		&.fc-other-month.fc-future>.fc-day-number, &.fc-other-month.fc-past>.fc-day-number {
			color: #606060;
		}
		&.fc-today>.fc-day-number {
			color: $blue;
		}
	}
	.fc-ltr .fc-list-heading-main, .fc-ltr .fc-list-heading-alt {
		color: $blue;
	}
	.fc-unthemed .fc-list-empty, .fc-unthemed .fc-list-item:hover td {
		color: $blue;
		}
	.popover-header {
		color: $white;
	}
}
/* Dark Mode - Events Calendar END */

/* END events-page.scss */