

 <div class="tab-wrapper">
     <div class="tab-header">
        <h2 class="h3 blue mb-4">Tab Group Title</h2>
         <ul class="nav nav-tabs">
                <li><a class="active" data-bs-toggle="tab" href="#tab-01">Student Success Center</a></li>
                <li><a class="" data-bs-toggle="tab" href="#tab-02">Lorem ipsum dolor sit</a></li>
                <li><a class="" data-bs-toggle="tab" href="#tab-03">Fusce venenatis ipsum sit</a></li>
                <li><a class="" data-bs-toggle="tab" href="#tab-04">Lorem ipsum dolor sit</a></li>
         </ul>
     </div>
     <div class="tab-content">
         <div id="tab-01" class="tab-pane fade in active show">
             <div class="card-body">
                 <div class="tab-body-content">
                     <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit - h2</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <ul>
                         <li>Use the HTML <code>&lt;ol&gt;</code> element to define an ordered list</li>
                         <li>Use the HTML type attribute to define the numbering type</li>
                         <li>Use the HTML <code>&lt;li&gt;</code> element to define a list item</li>
                         <li>Lists can be nested</li>
                         <li>List items can contain other HTML elements</li>
                     </ul>
                     <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit - h3</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                 </div>
             </div>
         </div>
         <div id="tab-02" class="tab-pane fade in  show">
             <div class="card-body">
                 <div class="tab-body-content">
                     <h2>Maecenas tincidunt urna a porta lobortis - h2</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <ul>
                         <li>Use the HTML <code>&lt;ol&gt;</code> element to define an ordered list</li>
                         <li>Use the HTML type attribute to define the numbering type</li>
                         <li>Use the HTML <code>&lt;li&gt;</code> element to define a list item</li>
                         <li>Lists can be nested</li>
                         <li>List items can contain other HTML elements</li>
                     </ul>
                     <h3>Maecenas tincidunt urna a porta lobortis - h3</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                 </div>
             </div>
         </div>
         <div id="tab-03" class="tab-pane fade in  show">
             <div class="card-body">
                 <div class="tab-body-content">
                     <h2>Aliquam sit amet eros quam. Fusce venenatis - h2</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <ul>
                         <li>Use the HTML <code>&lt;ol&gt;</code> element to define an ordered list</li>
                         <li>Use the HTML type attribute to define the numbering type</li>
                         <li>Use the HTML <code>&lt;li&gt;</code> element to define a list item</li>
                         <li>Lists can be nested</li>
                         <li>List items can contain other HTML elements</li>
                     </ul>
                     <h3>Aliquam sit amet eros quam. Fusce venenatis - h3</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                 </div>
             </div>
         </div>
         <div id="tab-04" class="tab-pane fade in  show">
             <div class="card-body">
                 <div class="tab-body-content">
                     <h2>Aliquam sit amet eros quam. Fusce venenatis - h2</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <ul>
                         <li>Use the HTML <code>&lt;ol&gt;</code> element to define an ordered list</li>
                         <li>Use the HTML type attribute to define the numbering type</li>
                         <li>Use the HTML <code>&lt;li&gt;</code> element to define a list item</li>
                         <li>Lists can be nested</li>
                         <li>List items can contain other HTML elements</li>
                     </ul>
                     <h3>Aliquam sit amet eros quam. Fusce venenatis - h3</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                         lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                         aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                         neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                         sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in
                         lorem pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque
                         vehicula hendrerit id eu libero.</p>
                 </div>
             </div>
         </div>
     </div>
 </div>
