<!-- Top Header -->
<div id="top-header" class="affiliate">
    <div class="top-header-left">
        <a title="UTSA Home" href="https://www.utsa.edu">
            <img width="250px" height="12px" class="logo-full d-none d-sm-block" src="{{path '/college-dls/utsa/images/utsa-logo-full.svg'}}" alt="The University of Texas at San Antonio" />
            <img width="72px" height="25px" class="logo-short d-block d-sm-none" src="{{path '/college-dls/utsa/images/utsa-logo.svg'}}" alt="The University of Texas at San Antonio" />
        </a>
    </div>
</div>
<!-- End Top Header -->