<div class="request-info-design">
    <div class="request-info-bg">
        <form class="form-design">
            <div class="row no-mrg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <label for="firstName" class="label-design">First Name*</label>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group input-design">
                        <input id="firstName" type="text" title="First Name" required />
                    </div>
                </div>
            </div>
            <div class="row no-mrg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <label for="lastName" class="label-design">Last Name*</label>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group input-design">
                        <input id="lastName" type="text" title="Last Name" required />
                    </div>
                </div>
            </div>
            <div class="row no-mrg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <label for="email" class="label-design">Email*</label>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group input-design">
                        <input id="email" type="email" title="Email" required />
                    </div>
                </div>
            </div>
            <div class="row no-mrg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <label id="term" class="label-design">Term of Entry*</label>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group select-design">
                        <select class="js-example-disabled-results" aria-labelledby="term" required />
                            <option>Term</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row no-mrg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <label class="label-design" id="lbl-select-program">Program/Major*</label>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group select-design">
                        <select class="js-example-disabled-results" aria-labelledby="lbl-select-program" required>
                            <option>Term</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row no-mrg textarea-row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <label for="question" class="label-design">“Ask a counselor a question”</label>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group textarea-design">
                        <textarea title="Ask a counselor a question" id="question"></textarea>
                    </div>
                </div>
            </div>
            <div class="row no-mrg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <label for="phone" class="label-design">Phone</label>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group input-design">
                        <input id="phone" type="number" title="Phone" />
                    </div>
                </div>
            </div>
            <div class="row no-mrg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <label id="lbl-select-freshman" class="label-design">Admit Type</label>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group select-design">
                        <select class="js-example-disabled-results" aria-labelledby="lbl-select-freshman">
                            <option>Freshman</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row no-mrg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="radio-design-wrapper form-group">
                        <div class="radio-design">
                            <label for="Domestic">Domestic</label>
                            <div class="radio-custom-design">
                                <input type="radio" id="Domestic" name="Selection" value="Domestic">
                                <span class="white-circle"> </span>
                            </div>
                        </div>
                        <div class="radio-design">
                            <label for="International">International</label>
                            <div class="radio-custom-design">
                                <input type="radio" id="International" name="Selection" value="International">
                                <span class="white-circle"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-mrg">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12">
                     
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="form-group submit-design">
                        <button class="form-btn" type="submit" value="Submit" aria-label="Submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>