<div class="program-listing-faculty orange-bg">
    <form class="form-design">
        <div class="row">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="form-group input-design">
                    <label for="searchpublication" class="d-none">Search Publications Listing</label>
                    <input id="searchpublication" type="text" placeholder="Search Publications Listing"
                        name="Search Publications Listing" />
                </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="form-group select-design">
                    <label id="filterDepartment" class="d-none">Filter By Department</label>
                    <select class="js-example-disabled-results" aria-labelledby="filterDepartment">
                        <option>Filter By Department</option>
                    </select>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12">
                <div class="form-group submit-design">
                    <button class="blue-btn form-btn" type="submit" value="Search">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>