<div class="find-your-program orange-program">
    <div class="container">
        <div class="find-program-header">
            <h2 class="h5 text-white bold">Find Your Program</h2>
        </div>
        <div class="form-wrapper blue-bg">
            <form class="form-design">
                <div class="row">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="form-group input-design">
                            <label for="search-degree" class="d-none">Search Degrees and Programs</label>
                            <input type="text" placeholder="Search Degrees and Programs"
                                name="Search Degrees and Programs" id="search-degree" />
                        </div>
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                        <div class="form-group select-design">
                            <label id="lbl-select-degree" class="d-none">Filter By Degree Type</label>
                            <select class="js-example-disabled-results" aria-labelledby="lbl-select-degree">
                                <option>Filter By Degree Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12">
                        <div class="form-group submit-design">
                            <button class="orange-btn form-btn" type="submit" value="Search"
                                title="Search">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>