/* components/03-sections/08-content-callout/content-callout.scss */
/* BEGIN content-callout.scss */

.content-callout-wrapper{
    &.blue-bg a{
        color: $white;
        &:hover {
            color: $blue;
        }
    }

    &.orange-a11y-bg a{
        color: $white;
        &:hover {
            color: $blue;
        }
    }

    &.grey-bg a:hover{
        background-color: $blue;
    }
}

/* END content-callout.scss */

/* Dark Mode - Component Styles - Content Callout */
@include color-mode(dark) {
	.content-callout-wrapper {
		.orange-a11y {
			color:$orange-a11y;
		}
		.blue {
			color: $blue;
		}
		.white {
			color: $white;
		}
		.orange {
			color: $orange;
		}
		&.grey-bg {
			p, ul li {
			color: $blue;
			}
			a {
				color:$blue;
				&:hover {
					color: $white;
				}
			}
		}
		&.white-bg {
			p, a, ul li {
			color: $blue;
			}
		}
	}
}
/* Component Styles - Content Callout END */