

<div class="news-card-componet-div white">
    <div class="news-card-img">
        <img src="../../college-dls/college/images/News_Blog.png" alt="Card Image">
    </div>
    <div class="news-card-cntnt">
        <p class="news-date">June 1, 2021</p>
        <a class="news-card-link" href="#">Lorem ipsum dolor sit amet, conse ctetur adip elit</a>
        <p class="published-status">Published by ASC Team</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</div>
