

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="icon" type="image/x-icon" sizes="152x152" href="/college-dls/favicon.ico" />
  <link rel="preload" href="https://use.typekit.net" as="font" />
  <link rel="dns-prefetch" href="https://use.typekit.net" as="font">
  <link rel="preload" href="https://kit.fontawesome.com" as="font" />
  <link rel="dns-prefetch" href="https://kit.fontawesome.com" as="font" />

  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>White Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <section class="content-callout-wrapper py-5">
    <div class="container mx-auto">
        <h2 class="h3 orange-a11y">Featured Hall Amenities</h2>
        <p class="blue mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="row mt-5">
            <div class="col-4 blue text-center gx-5">
                <span class="fa-duotone fa-plug-circle-check fa-6x"></span>
                <h3 class="h6 blue mt-3">All Utilities Included</h3>
                <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-4 blue text-center gx-5">
                <span class="fa-duotone fa-washing-machine fa-6x"></span>
                <h3 class="h6 blue mt-3">Laundry Room</h3>
                <p class="small">Ducimus sint saepe impedit sequi veniam quia, eveniet obcaecati doloribus consectetur laborum illum reiciendis.</p>
            </div>
            <div class="col-4 blue text-center gx-5">
                <span class="fa-duotone fa-person-swimming fa-6x"></span>
                <h3 class="h6 blue mt-3">Swimming Pool/Hot Tub</h3>
                <p class="small">Officia enim ipsam nobis? Aliquid ex at harum.</p>
            </div>            
        </div>
        <div class="row mt-5">
            <div class="col-4 blue text-center gx-5">
                <span class="fa-duotone fa-wifi-weak fa-6x"></span>
                <h3 class="h6 blue mt-3">High Speed Internet/Wi-Fi</h3>
                <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-4 blue text-center gx-5">
                <span class="fa-duotone fa-basketball-hoop fa-6x"></span>
                <h3 class="h6 blue mt-3">Basketball courts</h3>
                <p class="small">Ducimus sint saepe impedit sequi veniam quia, eveniet obcaecati doloribus consectetur laborum illum reiciendis.</p>
            </div>
            <div class="col-4 blue text-center gx-5">
                <span class="fa-duotone fa-bench-tree fa-6x"></span>
                <h3 class="h6 blue mt-3">Two Courtyards</h3>
                <p class="small">Officia enim ipsam nobis? Aliquid ex at harum.</p>
            </div>            
        </div>
    </div>
</section>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/vendor.min.js" type="text/javascript"></script>
  <script src="../../college-dls/js/college-dls.min.js" type="text/javascript"></script>
</body>


</html>
