

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="icon" type="image/x-icon" sizes="152x152" href="/college-dls/favicon.ico" />
  <link rel="preload" href="https://use.typekit.net" as="font" />
  <link rel="dns-prefetch" href="https://use.typekit.net" as="font">
  <link rel="preload" href="https://kit.fontawesome.com" as="font" />
  <link rel="dns-prefetch" href="https://kit.fontawesome.com" as="font" />

  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Alternative Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <ul class="list-unstyled headings-typography-ul">
        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 1</p>
            </div>
            <div class="w-75">
                <h1 class="display-1">I am an alternative headline</h1>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 2</p>
            </div>
            <div class="w-75">
                <h2 class="display-2">I am an alternative headline</h2>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 3</p>
            </div>
            <div class="w-75">
                <h3 class="display-3">I am an alternative headline</h3>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 4</p>
            </div>
            <div class="w-75">
                <h4 class="display-4">I am an alternative headline</h4>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 5</p>
            </div>
            <div class="w-75">
                <h5 class="display-5">I am an alternative headline</h5>
            </div>
        </li>

        <li class="d-flex flex-row align-items-center">
            <div class="w-25">
                <p class="color-blue">Display 6</p>
            </div>
            <div class="w-75">
                <h6 class="display-6">I am an alternative headline</h6>
            </div>
        </li>
    </ul>
</div>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/vendor.min.js" type="text/javascript"></script>
  <script src="../../college-dls/js/college-dls.min.js" type="text/javascript"></script>
</body>


</html>
