<div class="css-box">
    <p>Blue Color : <span class="css-class">.color-blue</span></p>
    <p>White Color : <span class="css-class">.color-white</span></p>
    <p>Orange Color : <span class="css-class">.color-orange</span></p>
    <p>Darkblue Color : <span class="css-class">.color-darkblue</span></p>
    <p>light Grey Color: <span class="css-class">.light-grey</span></p>
    <p>Black Color : <span class="css-class">.color-black</span></p>
</div>