

<!--Card Component -->
<div class="content-card">
    <div class="content-card-img">
        <img src="../../college-dls/utsa/images/card-image.png" alt="Content Card Image">
    </div>
    <div class="content-card-cntnt">
        <a href="#" class="content-card-link">Lorem ipsum dolor sit amet, consectetur</a>
        <div class="blue-action-btn">
    <a href="#" class="action-btn">Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>
    </div>
</div>
<!-- End card Component -->

