/* components/03-example-pages/02-department-home-page/department-home-page.scss */
/* BEGIN department-home-page.scss */
.department-information h6 {
	font-size: 1.5rem;
	color: $blue;
	font-weight: 400;
}
.departmental-ul-list {
	list-style: none;
	padding-left: 0px;
}
.department-information {
	padding-top: 1.75rem;
	padding-bottom: 1.5rem;
}

ul.departmental-ul-list>li {
	margin-bottom: 3px;
	font-size: 1rem;
	color: $blue;
}

.page-text-wrapper {
	padding-top: 70px;
	padding-bottom: 56px;
}

.page-text-wrapper .contact-card {
	max-width: 350px;
}

@include media-breakpoint-down(lg) {
	.department-information {
		padding-top: 10px;
		padding-bottom: 20px;
	}
}

/* Dark Mode - Department Page Styles */
@include color-mode(dark) {
	.department-information h6, ul.departmental-ul-list>li {
		color: $white;
	}
}
/* Dark Mode - Department Page ENDs */

/* END department-home-page.scss */