

<section class="content-callout-wrapper blue-bg py-5">
    <div class="container mx-auto">
        <h2 class="h3 orange-a11y">Featured Hall Amenities</h2>
        <p class="white mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="row mt-5">
            <div class="col-4 white text-center gx-5">
                <span class="fa-duotone fa-plug-circle-check fa-6x"></span>
                <h3 class="h6 white mt-3">All Utilities Included</h3>
                <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-4 white text-center gx-5">
                <span class="fa-duotone fa-washing-machine fa-6x"></span>
                <h3 class="h6 white mt-3">Laundry Room</h3>
                <p class="small">Ducimus sint saepe impedit sequi veniam quia, eveniet obcaecati doloribus consectetur laborum illum reiciendis.</p>
            </div>
            <div class="col-4 white text-center gx-5">
                <span class="fa-duotone fa-person-swimming fa-6x"></span>
                <h3 class="h6 white mt-3">Swimming Pool/Hot Tub</h3>
                <p class="small">Officia enim ipsam nobis? Aliquid ex at harum.</p>
            </div>            
        </div>
        <div class="row mt-5">
            <div class="col-4 white text-center gx-5">
                <span class="fa-duotone fa-wifi-weak fa-6x"></span>
                <h3 class="h6 white mt-3">High Speed Internet/Wi-Fi</h3>
                <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-4 white text-center gx-5">
                <span class="fa-duotone fa-basketball-hoop fa-6x"></span>
                <h3 class="h6 white mt-3">Basketball courts</h3>
                <p class="small">Ducimus sint saepe impedit sequi veniam quia, eveniet obcaecati doloribus consectetur laborum illum reiciendis.</p>
            </div>
            <div class="col-4 white text-center gx-5">
                <span class="fa-duotone fa-bench-tree fa-6x"></span>
                <h3 class="h6 white mt-3">Two Courtyards</h3>
                <p class="small">Officia enim ipsam nobis? Aliquid ex at harum.</p>
            </div>            
        </div>
    </div>
</section>
