<section class="timeline-container">
  <div class="container pb-5">
    <!--<h2>{{ headline }}</h2>-->
    <div class="main-timeline">
      <!--<div class="col-12 timeline-banner-start"><h3>{{ subhead }}</h3></div>-->
      <div class="timeline timeline-right year-1 collapse show" id="year-1">
        <div class="card">
          <div class="card-body p-4">
            <h3 class="timeline-section-header">Year 1</h3>
            <div class="row">
              <div class="col-12">
                  <ul>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline timeline-right year-2 collapse show" id="year-2">
        <div class="card">
          <div class="card-body p-4">
            <h3 class="timeline-section-header">Year 2</h3>
            <div class="row">
              <div class="col-12">
                  <ul>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline timeline-right year-3 collapse show" id="year-3">
        <div class="card">
          <div class="card-body p-4">
            <h3 class="timeline-section-header">Year 3</h3>
            <div class="row">
              <div class="col-12">
                  <ul>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline timeline-right year-4 collapse show" id="year-4">
        <div class="card">
          <div class="card-body p-4">
            <h3 class="timeline-section-header">Year 4</h3>
            <div class="row">
              <div class="col-12">
                  <ul>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li><a href="#">List item or step to take</a></li>
                      <li class="orange-a11y">BIG EVENT<br /><a href="#">Apply for Graduation</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline timeline-right default collapse" id="default">
        <div class="card">
          <div class="card-body p-4">
            <h3 class="timeline-section-header">No results found!</h3>
            <div class="row">
              <div class="col-12">
                  <p>No topics selected. Please use the check boxes to the left to search for resources.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-12 timeline-banner-end"><h3>{{ subhead }}</h3></div>-->
    </div>
  </div>
</section>