/* components/02-components/01-card/01-action-card/action-card.scss */
/* BEGIN action-card.scss */

.content-card-wrapper {
	height: 100%;
	background-color: $white;
	position: relative;

	.content-card-content .h5 {
		font-size:1.5rem;
	}

	.content-card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;

		.content-card-img {
			img {
				width: 100%;
				height: 210px;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

		.content-card-content {
			flex: 1 1 auto;
			padding: 26px 33px;
			position: relative;
			border-top: 6px solid $orange;
			
			p, ul li {
				font-size: .875rem;
				color: $blue;
			}

			.content-card-link {
				line-height: 1.1;
				font-size: 1.25rem;
				margin-bottom: 24px;
				color: $orange-a11y;
				font-weight: 700;
				display: block;
				text-decoration: none;
			}

			.content-card-link:hover {
				color: $blue;
				text-decoration: underline;
			}

			&.grey-bg {
				.content-card-link:hover {
					color: $white;
				}
			}

		}

		.action-btn {
			margin-top: 3.0rem;
			background-color: $blue;
			color: $white;
		}

		.action-btn:hover {
			background-color: $orange-b;
			color: $white;
		}		
	}
}

/* Dark Mode - Component Styles - Action Card */
@include color-mode(dark) {
	.content-card-wrapper .content-card.white-bg .content-card-content {
		ul li, p, ol li, pre, code {
			color:$blue;
			a {
				color: $blue;
				&:hover {
					color: $grey;
					background-color: $blue;
				}
			}
		}
	}
}
/* Component Styles - Action Card END */

@media (min-width: 1200px) {
	.content-card-wrapper {
		width: 100%;
		max-width: 1038px;
		margin: 0 auto;
	}
}

@media (max-width: 991px) {
	.content-card-wrapper {
		.content-card-content {
			padding: 15px;
		}
		.content-card-content .h5 {
			font-size: 1rem;
			margin-bottom: 10px;
		}
	
		.content-card-list .row>div {
			margin-bottom: 20px;
		}
	
	}
}

@media (max-width: 767px) {
	.contact-card-wrapper {
		.content-card-img>img {
			height: auto;
		}
		.content-card-content {
			padding-bottom: 15px !important;
		}
		.action-btn {
			position: relative;
			margin-top: 40px;
		}
	}
}
/* END action-card.scss */