<!--Card Component -->
<div class="content-card " id="content-card">
    <div class="content-card-list">
        <div class="flex-row flex-wrap">
        <div class="card-flex-box ">
            <div class="content-card position-relative white-bg">
            <div class="content-card-img">
                <img src="{{ path image }}" alt="Content Card Image">
            </div>
            <div class="content-card-cntnt position-relative">
                <a href="#" class="h5 color-orange bold display-block text-underline-hover">{{heading}} </a>
                <p class="font-14 color-darkblue regular">{{text}}</p>
                <a href="#" class="action-btn positio_abs darkblue-bg color-white">{{label}} <span class="color-white acton-icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- End card Component -->
