/* components/02-components/01-card/01-action-card/action-card.scss */
/* BEGIN action-card.scss */

.content-card-cntnt .h5 {
    font-size:28px;
}

.column-2-content-card {
	width: 100%;
	max-width: 781px;
	margin: 0 auto;
	padding: 0px 15px;
}

.content-card {
	height: 100%;
	background-color: $white;
	position: relative;
}


.inner-sec-headings .right-arrow-icon svg {
	width: 22px;
}

.card-tiles-wrapper .card-flex-box {
	padding-right: 37px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin-bottom: 37px;
	padding-left: 0px;
}

.card-flex-box:last-child {
	padding-right: 0px;
}

.content-card-cntnt {
	padding: 26px 33px 87px 33px;
	position: relative;
}

.content-card-cntnt .content-card-link {
	line-height: 1.1;
	font-size: 25px;
	margin-bottom: 24px;
	color: $orange-a11y;
	font-weight: 700;
	display: block;
}

.content-card-img>img {
	width: 100%;
	height: 210px;
	-o-object-fit: cover;
	object-fit: cover;
}

.content-card-cntnt .content-card-link:hover {
	color: $blue;
	text-decoration: underline;
}

.content-card-cntnt p {
	font-size: 14px;
	color: $blue;
}

.content-card .action-btn {
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: 0px 33px;
	background-color: $blue;
	color: $white;
}

.content-card .action-btn:hover {
	background-color: $orange-b;
	color: $white;
}

.column-2-content-card {
	background-color: $orange-a11y;
}

.column-2-content-card::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: $grey-d;
	z-index: -1;
	height: 55vh;
}

.column-2-content-card .row>div{
	margin-bottom: 15px;
}

@media (min-width: 1200px) {
	.content-card-wrapper {
		width: 100%;
		max-width: 1038px;
		margin: 0 auto;
	}
}

@media (max-width: 991px) {
    .content-card-cntnt {
        padding: 15px 15px 87px 15px;
    }
    .content-card-cntnt .h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .content-card-list .row>div {
		margin-bottom: 20px;
	}
}
@media (max-width: 767px) {
    .content-card-img>img {
		height: auto;
	}

	.content-card-cntnt {
		padding-bottom: 15px !important;
	}
	.card-tiles-wrapper .card-flex-box {
		padding-right: 0px;
	}

    .content-card-list .row>div {
		margin-bottom: 15px;
	}
	.content-card .action-btn {
		position: initial;
		margin: initial;
	}
}
/* END action-card.scss */