<!--Card Component -->
<div class="content-card">
    <div class="content-card-img">
                <img src="{{ path image }}" alt="Content Card Image">
    </div>
    <div class="content-card-cntnt">
        <a href="#" class="content-card-link">{{heading}}</a>
        <a href="#" class="action-btn">Action <i class="fas fa-arrow-right"></i></a>
    </div>
</div>
<!-- End card Component -->
