/* components/02-components/01-card/01-action-card/action-card.scss */
/* BEGIN action-card.scss */

.content-card-wrapper {
	height: 100%;
	background-color: $white;
	position: relative;

	.content-card-content .h5 {
		font-size:28px;
	}
	
	.content-card-list {
		.card-flex-box:last-child {
			padding-right: 0px;
		}
		
		.content-card {
			.content-card-img {
				img {
					width: 100%;
					height: 210px;
					-o-object-fit: cover;
					object-fit: cover;
				}
			}

			.content-card-content {
				padding: 26px 33px 87px 33px;
				position: relative;
				border-top: 6px solid $orange;

				p {
					font-size: 14px;
					color: $blue;
				}

				.content-card-link {
					line-height: 1.1;
					font-size: 25px;
					margin-bottom: 24px;
					color: $orange-a11y;
					font-weight: 700;
					display: block;
					text-decoration: none;
				}

				.content-card-link:hover {
					color: $blue;
					text-decoration: underline;
				}
			}

			.action-btn {
				position: absolute;
				bottom: 25px;
				left: 0;
				right: 0;
				margin: 0px;
				background-color: $blue;
				color: $white;
			}

			.action-btn:hover {
				background-color: $orange-b;
				color: $white;
			}		
		}
	}
}

@media (min-width: 1200px) {
	.content-card-wrapper {
		width: 100%;
		max-width: 1038px;
		margin: 0 auto;
	}
}

@media (max-width: 991px) {
	.content-card-wrapper {
		.content-card-content {
			padding: 15px 15px 87px 15px;
		}
		.content-card-content .h5 {
			font-size: 18px;
			margin-bottom: 10px;
		}
	
		.content-card-list .row>div {
			margin-bottom: 20px;
		}
	
	}
}
@media (max-width: 767px) {
	.contact-card-wrapper {
		.content-card-img>img {
			height: auto;
		}
		.content-card-content {
			padding-bottom: 15px !important;
		}
		.action-btn {
			position: relative;
			margin-top: 40px;
		}
	}
}
/* END action-card.scss */