<!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="{{ path image }}" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">{{heading}} </a>
            <p class="blue regular px-lg-2">{{{text}}}</p>
            {{{list}}}
        </div>
    </div>
</div>
<!-- End card Component -->
