

<section class="banner">
    <div class="hero-banner-wrapper-alt" style="background-image: url('../../college-dls/college/images/utsa-ceid-civ-env-mgmt-original-1600x500.jpg'); filter: brightness(.95) contrast(1.25);">
        <div class="hero-banner-alt">
            <div class="container">
                <div class="hero-banner-content-alt">
                    <h1>School of Civil & Environmental Engineering, and Construction Management</h1>
                </div>
            </div>
        </div>
    </div>
</section>
