

 <div class="py-5 content-listing">
     <div class="container">
         <div class="row">
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                 <div class="highlight-card white-bg">
    <div class="highlight-card-img">
        <img src="../../college-dls/college/images/content-highland-card.png" alt="Card Image" />
    </div>
    <div class="highlight-card-content"><a class="highlight-card-link" href="#">Lorem ipsum dolor sit amet, consectetur</a></div>
</div>
             </div>
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                 <div class="highlight-card white-bg">
    <div class="highlight-card-img">
        <img src="../../college-dls/college/images/content-highland-card.png" alt="Card Image" />
    </div>
    <div class="highlight-card-content"><a class="highlight-card-link" href="#">Lorem ipsum dolor sit amet, consectetur</a></div>
</div>
             </div>
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                 <div class="highlight-card white-bg">
    <div class="highlight-card-img">
        <img src="../../college-dls/college/images/content-highland-card.png" alt="Card Image" />
    </div>
    <div class="highlight-card-content"><a class="highlight-card-link" href="#">Lorem ipsum dolor sit amet, consectetur</a></div>
</div>
             </div>
         </div>
     </div>
 </div>
