<!-- Related Stories -->
<div class="news-sidebar p-3 col-12 col-md-4 border mb-4">
            <div class="news-sidebar-title">{{ title }}</div>
            <ul>
                <li> <span class="news-link-icon"></span> <span class="news-link"><a href="#" aria-label="Request Information"> {{ link-text }}</a></span></li>
                <li> <span class="news-link-icon"></span> <span class="news-link"><a href="#" aria-label="Request Information"> {{ link-text }}</a></span></li>
                <li> <span class="news-link-icon"></span> <span class="news-link"><a href="#" aria-label="Request Information"> {{ link-text }}</a></span></li>
            </ul>
</div>
<!-- End Related Stories -->