

<div class="roadrunner-btns">
    <div class="row">
        <div class="orange-action-large-btn col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <a href="#" class="action-btn btn-large">Request Information <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
        </div>
        <div class="orange-action-large-btn col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <a href="#" class="action-btn btn-large">Visit Campus <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
        </div>
        <div class="orange-action-large-btn col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <a href="#" class="action-btn btn-large">Apply Now <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<br />

<div class="roadrunner-btns">
    <div class="row">
        <div class="blue-action-large-btn col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <a href="#" class="action-btn btn-large">Request Information <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
        </div>
        <div class="blue-action-large-btn col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <a href="#" class="action-btn btn-large">Visit Campus <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
        </div>
        <div class="blue-action-large-btn col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <a href="#" class="action-btn btn-large">Apply Now <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
        </div>
    </div>
</div>
