<section class="banner">
    <div class="blue-bg stripe-bg">
        <div class="row no-mrg">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0">
                <div class="hero-banner-left-column">
                    <h1>{{ banner.text }}<span class="display-block">{{ banner.text-02 }}</span></h1>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0">
                <div class="hero-banner-right-column">
                    <img src="{{path '/college-dls/college/images/department-accounting.png'}}" alt="Banner Image">
                </div>
            </div>
        </div>
    </div>
</section>
