<section class="banner">
    <div class="blue-bg">
        <div class="row no-mrg align-items-center">
            <div class="col-xxl-8 col-xl-8 col-lg-6 col-md-6 col-sm-12 p-0">
                <div class="hero-banner-content-block">
                    <h1>{{ banner.text }}<span class="display-block">{{ banner.text-02 }}</span></h1>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 p-0">
                <div class="hero-banner-img-block clip-mask-bottom-left"> <img src="{{path '/college-dls/college/images/slider-img.png'}}" alt="Banner Image"> </div>
            </div>
        </div>
    </div>
 </section>