<section class="banner">
  <div
    class="hero-banner-wrapper-alt"
    style="background-image: url('{{path banner.image}}');"
  >
    <div class="hero-banner-alt">

      <div class="container">
        <div class="hero-banner-content-alt">

          <h1 class="banner-heading">{{banner.text}}</h1>
          <!-- banner.text
                    College Name <span class="display-block">Or Page Title</span>
                -->
        <p class="banner-description">{{banner.subheading}}
          {{#if banner.text-02}}<span class="display-block">{{banner.text-02}}</span>{{/if}}</p>
        <div class="banner-btns">
          <a class="orange-btn" href="#">Action</a>
          <a class="white-btn" href="#">Action</a>
        </div>
      </div>
    </div>
  </div>
</section>