<section id="banner-logo" class="banner">
    <div class="hero-banner-wrapper-alt"
        style="background-image: url('{{ path '/college-dls/college/images/hero-banner.png' }}');">
        <div class="hero-banner-alt">
            <div class="container">
                <div class="row d-flex align-items-center hero-banner-content">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 pb-3">
                        <div class="hero-banner-content-logo px-4">
                            <img class="banner-logo img-fluid" width="500px" height="500px"
                                alt="Full Logo Name Goes Here"
                                src="{{path '/college-dls/utsa/images/placeholder-500-500.svg'}}" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 pb-3 px-4">
                        <div class="">
                            <h1 class="banner-heading">{{ banner.heading }}</h1>
                            <p class="banner-description">{{ banner.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>