<section class="banner">
   <div class="single-title-wrapper">
      <div class="container">
         <h1 class="single-title-heading">{{ banner.text }} {{ banner.text-02 }}</h1>
      </div>
   </div>
</section>