<section class="banner">
    <div class="hero-banner-wrapper" style="background-image: url('{{ path '/college-dls/college/images/hero-banner.png' }}');">
        <div class="container">
            <div class="hero-banner-content">
                <h1 class="banner-heading">{{ banner.text }}</h1>
                <!--
                    College Name <span class="display-block">Or Page Title</span>
                -->
                <p class="banner-description">Lorem ipsum dolor sit amet, <span class="display-block">consectetur
                        adipiscing elit.</span></p>
                <div class="banner-btns">
                    <a class="orange-btn" href="#">Action</a>
                    <a class="white-btn" href="#">Action</a> </div>
            </div>
        </div>
    </div>
</section>
