<section class="banner" id="banner-video">
  <div class="overlay"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
  >
    <source
      src="https://future.utsa.edu/wp-content/uploads/utsa-website-header-02.mp4"
    />
  </video>
  <div class="container h-100">
    <div class="row d-flex h-100 no-mrg align-items-center">
      <div class="col-xxl-8 col-xl-8 col-lg-6 col-md-6 col-sm-12 p-0">
        <div class="hero-banner-content">
          <h1 class="banner-heading">{{banner.text}}</h1>
          <p class="banner-description">{{banner.text-02}}</p>
          <div class="banner-btns">
            <a class="orange-btn" href="#" target="_parent">Go to programs</a>
          </div>
        </div>
      </div>
    </div>
    <div class="video-Controls">
      <button
        type="button"
        class="play-pause-btn"
        aria-label="Play or pause video"
        data-click="1"
      >Pause Video
        <span class="pause-icon"><i class="fal fa-pause"></i></span>
      </button>
    </div>
  </div>
</section>