 <div class="row">
     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
         <ul class="resources-list">
             <li><a href="#">Covid-19 Funding Opps</a></li>
             <li><a href="#">Covid-19 Labs Exemption</a></li>
             <li><a href="#">Find Funding</a></li>
             <li><a href="#">Find Tech Transfer</a></li>
             <li><a href="#">Graduate College</a></li>
         </ul>
     </div>
     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
         <ul class="resources-list">
             <li><a href="#">College of Education</a></li>
             <li><a href="#">College of Business Administration</a></li>
             <li><a href="#">College of Social and Behavioral</a></li>
             <li><a href="#">College of Humanitites, Arts and</a></li>
             <li><a href="#">Graduate College</a></li>
         </ul>
     </div>
 </div>