/* components/02-components/02-content-group/02-news-group/news-group.scss */
/* BEGIN news-group.scss */

.event-list-sec {
	padding-top: 63px;
	padding-bottom: 111px;
}

@include media-breakpoint-down(md) {

    .event-list-sec {
		padding-top: 45px;
		padding-bottom: 45px;
	}
}
/* END news-group.scss */