

<section class="banner">
    <div class="blue-bg stripe-bg">
        <div class="row no-mrg align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 p-0">
                <div class="hero-banner-content-block">
                    <h1>Department Of <span class="display-block">Accounting</span></h1>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0">
                <div class="hero-banner-right-column clip-mask-bottom-left">
                    <img src="../../college-dls/college/images/slider-img.png" alt="Banner Image">
                </div>
            </div>
        </div>
    </div>
</section>

