

<div class="staff-card-component-div">
    <div class="row m-0">
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="staff-card-img">
                <img class="clip-mask-top-right" src="../../college-dls/college/images/account-user.png" alt="Card Image" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-8">
            <div class="staff-card-content">
                <h4>Contact</h4>
                <p class="staff-card-name">Jane Doe, Ph.D.</p>
                <p class="staff-card-department">Department Name</p>
                <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a>
            </div>
        </div>
    </div>
</div>
