<section class="card-tiles-wrapper dark-grey-bg ">
    <div class="content-card-wrapper">
      <!--Card Component -->
      <div class="content-card-component" id="content-card">
        <div class="content-card-list">
          <div class="flex-row flex-wrap">
            <div class="card-flex-box width-36">
              <div class="content-card-componet-div position-relative white-bg">
                <div class="content-card-componet-img">
                  <img src="/utsa/images/card-image.png" alt="Content Card Image">
                </div>
                <div class="content-card-componet-cntnt position-relative">
                  <a href="#" class="h5 color-orange bold display-block text-underline-hover">{{headline}} </a>
                  <p class="font-14 color-darkblue regular">{{text}}</p>
                  <a href="#" class="action-btn positio_abs darkblue-bg color-white">{{label}} <span class="color-white acton-icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End card Component -->
    </div>
</section>
