<!-- Footer -->
<footer id="footer">
<div class="container">
    <div class="main-footer-wrap">
        <div class="row">
            <div class="col-xxl-5 col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="footer-column-1">
                <div class="footer-logo">
                    <img src="{{ path '/college-dls/utsa/images/footer-logo.png'}}" width="343" alt="The University of Texas at San Antonio">
                </div>
                <div class="footer-text">
                    <p>
                        <span class="footer-first-text">One UTSA Circle San Antonio, TX 78249</span>
                        <span class="footer-scnd-text">Information <a href="#" class="">210-458-4011</a></span>
                    </p>
                </div>
                <div class="footer-social">
                    <a class="facebook" href="#" aria-label="Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    <a class="twitter" href="#" aria-label="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a class="youtube" href="#" aria-label="Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                    <a class="linkedin" href="#" aria-label="Linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    <a class="instagram" href="#" aria-label="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-12">
            <div class="footer-column-2">
                <ul class="list-unstyled">
                    <li class="nav-item"><a href="#">Campus Alerts</a></li>
                    <li class="nav-item"><a href="#">Jobs</a></li>
                    <li class="nav-item"><a href="#">Required Link</a></li>
                    <li class="nav-item"><a href="#">Policies</a></li>
                    <li class="nav-item"><a href="#">UT System</a></li>
                    <li class="nav-item"><a href="#">Report Fraud</a></li>
                    <li class="nav-item"><a href="#">ADA Resources</a></li>
                </ul>
            </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="footer-column-3">
                <ul class="list-unstyled">
                    <li class="nav-item"><a href="#">Sexual Harassment and Sexual Misconduct Policy</a></li>
                    <li class="nav-item"><a href="#">Title IX Reporting</a></li>
                    <li class="nav-item"><a href="#">Counselling/Mental Health</a></li>
                    <li class="nav-item"><a href="#">Clery Information</a></li>
                    <li class="nav-item"><a href="#">Web Accessibility</a></li>
                    <li class="nav-item"><a href="#">RoadRunner Remembrance</a></li>
                    <li class="nav-item"><a class="orange-anchor" href="">CARES Act Reports &amp; Disclosure</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="copy-right-sec">
    <p class="copy-right-text">&copy; 2022 The University of Texas at San Antonio</p>
    <p class="producedBy">Produced by <a class="orange-anchor productedBy" href="https://provost.utsa.edu/communications/">Academic Strategic Communications</a></p>
</div>
</footer>
<!--End Footer -->