/* components/01-visual-styling/02-banner/banner.scss */
/* BEGIN banner.scss */
#hero-slider.carousel-tab-component .carousel-indicators {
	padding-bottom: 0px;
	position: initial;
	margin-bottom: 0px;
	width: 100%;
	max-width: 100%;
	margin-top: 25px;
}
#hero-slider.carousel-tab-component .carousel-indicators>li {
	width: 23%;
}
.policy-text-wrapper h2 {
	font-size: 42px;
	color: #0c2340;
	font-weight: 600;
}
.policy-text-wrapper p {
	font-size: 17px;
}
.policy-text-wrapper h5 {
	font-size: 28px;
	font-weight: 600;
	color: #D3430D;
}
.policy-text-wrapper {
	padding-top: 60px;
}
.policy-text-wrapper .welcome-policy-text {
	margin-bottom: 30px;
}

.mobile-screen #header .top-logo-text {
	display: none;
}

.banner {
	.hero-banner-right-column>img {
		width: 100%;
		height: 100%;
	}
	.single-title-wrapper {
		background-color: #0c2340 !important;
		padding:95px 15px
	}
	.single-title-heading, .page-video-title {
		font-size: 50px;
		line-height: 50px;
		color: #fff;
		font-weight: 400;
	}
}

.hero-banner-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #0c2340;
	padding-top: 20%;
	padding-bottom: 20%;
	padding-left: 15px;
	padding-right: 15px;
}

.banner-btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	margin-top: 27px;
}

.banner-heading {
	font-size: 50px;
	margin-bottom: 15px;
	line-height: 53px;
	color: $white;
	font-weight: 400;
}

.banner-description {
	line-height: 1.5;
	font-size: 23px;
	font-weight: 300;
	color: $white;
}

/* Alternative Department Banner */

.hero-banner-wrapper-alt {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #0c2340;
}

.hero-banner-alt {
	padding-top: 15%;
	padding-bottom: 6%;
	padding-left: 15px;
	padding-right: 15px;
	background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.1));
}

.hero-banner-content-alt h1 {
	font-size: 3rem;
	font-weight: 700;
	color: $white;
	max-width: 75%;
}

@include media-breakpoint-down(lg) {
	.hero-banner-content-alt h1 {
		font-size: 2.5rem;
	}

	.hero-banner-alt {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@include media-breakpoint-down(md) {
	.hero-banner-content-alt h1 {
		font-size: 2rem;
		text-align: center;
		max-width: 100%;
	}
}

@include media-breakpoint-down(sm) {
	.hero-banner-content-alt h1 {
		font-size: 1.85rem;
		text-align: center;
		max-width: 100%;
	}
}

/* END Alternative Department Banner */

/* Carousel Banner */
#banner-rotating {
	#hero-slider .carousel-indicators {
		padding-bottom: 14%;
	}
	
	#hero-slider .carousel-indicators {
		padding-bottom: 14%;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
		margin-left: auto;
		margin-right: auto;
	}
	
	#hero-slider .carousel-indicators>button {
		width: 4%;
		opacity: 1;
		height: 5px;
	}
	
	
	#hero-slider .carousel-indicators>button.active {
		background-color: $orange-a11y;
	}
	
	.carousel .carousel-control-prev>.carousel-prev-icon,
	.carousel .carousel-control-next>.carousel-next-icon {
		background-color: $orange;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;	
		&:hover{
			background-color: $blue;
		}		
	}
	
	.carousel .carousel-control-prev>.carousel-prev-icon:focus .carousel .carousel-control-next>.carousel-next-icon:focus {
	
		outline: 1px solid #006eff;
		border: 1px solid #006eff;
		outline-offset: 0px;
	}
	
	.carousel .carousel-control-prev {
		width: 8%;
		height: auto;
		opacity: 1;
		z-index: 99;
	}
	
	.carousel .carousel-control-next {
		width: 8%;
		height: auto;
		opacity: 1;
		z-index: 99;
	}

	#carousel-button button {
		padding: 5px;
		color: $white;
		font-size: 29px;
		line-height: normal;
	}
	
	#carousel-button {
		position: absolute;
		bottom: 12%;
		left: 42%;
		z-index: 99;
	}	
}
/* End Carousel Banner */
#banner-video {
	.play-pause-btn>.play-icon i {
		font-size: 37px;
	}
}

#banner-rotating {
	video {
		object-fit: cover;
		-o-object-fit: cover;
	}
}
/* Video banner */
.video-content-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1005px;
	// padding: 0px 15px;
	margin: 0 auto;
}

.video-content-block h1 {
	font-size: 50px;
	line-height: 50px;
	color: $white;
	font-weight: 400;
}

.video-banner-wrapper .play-pause-btn i {
	font-size: 24px;
	vertical-align: top;
	margin-left: 5px;
}

.video-banner-wrapper .play-pause-btn {
	color: $white;
	font-size: 14px;
	cursor: pointer;
}

.video-banner-wrapper {
	object-fit:cover;
	-o-object-fit:cover;
	padding: 0!important;
	margin: 0!important;
}

.video-Controls {
	position: absolute;
	bottom: 23px;
	right: 43px;
}

.video-banner-wrapper {
	position: relative;
}

.play-btn,
.pause-btn {
	color: $white;
	font-size: 11px;
	font-weight: 600;
	cursor: pointer;
}

.play-btn i,
.pause-btn i,
.play-btn svg,
.pause-btn svg {
	font-size: 30px;
	margin-left: 17px;
	position: relative;
	bottom: -8px;
}

/* End Video banner */

.hero-banner-slider {
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $blue;
	padding-top: 20%;
	padding-bottom: 20%;
	padding-left: $grid-gutter-width;
	padding-right: $grid-gutter-width;
}

.hero-banner-content-block h1 {
	font-size: 50px;
	font-weight: 500;
	color: $white;
}

.hero-banner-img-block img {
	width: 100%;
}

.hero-banner-content-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#banner-rotating {
	.hero-banner-slider {
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 14%;
		padding-bottom: 21%;
		background-color: $blue;
	}

	#hero-slider .carousel-indicators {
		padding-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
		bottom: 24%;
		z-index: 99;
	}

	.carousel-inner::before {
		content: '';
		// background-image: url('../utsa/images/header-rop-arrows.png');
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:.1%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-secondary' d='M352 256c-8.188 0-16.38-3.125-22.62-9.375L192 109.3L54.63 246.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 252.9 360.2 256 352 256z'/%3E%3Cpath class='fa-secondary' d='M352 448c-8.188 0-16.38-3.125-22.62-9.375L192 301.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 444.9 360.2 448 352 448z'/%3E%3C/svg%3E");
		background-size: contain;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 88%;
		z-index: 9;
		background-repeat: no-repeat;
	}
}

.hero-banner-content {
	position: relative;
	z-index: 99;
}

#banner-rotating {

	.carousel-control-prev {
		z-index: 99;
	}

	.carousel-control-next {
		z-index: 99;
	}

	a{
		text-decoration: none !important;
	}	
}

@include media-breakpoint-up(xl) {
	#page-hero-carousel .hero-banner-content {
		padding-left: 70px;
		padding-right: 70px;
	}

	#page-hero-carousel .carousel-indicators {
		padding-left: 58px;
		padding-right: 58px;
		max-width: 1009px;
	}

	#page-hero-carousel #carousel-button {
		left: 0;
		max-width: 1009px;
		margin: 0 auto;
		width: 100%;
		right: 0;
		padding-left: 54px;
		padding-right: 54px;
	}
}

@include media-breakpoint-down(lg) {
	.banner-btns {
		text-align:center;
		justify-content: center !important;
	}

	#banner-rotating {
		background-color: $blue;

	}

	.banner-heading {
		text-align: center;
		line-height: normal;
	}

	.banner-description {
		text-align: center;
	}

	.banner-heading {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.banner-description {
		font-size: 16px;
		line-height: normal;
	}

	.banner-heading .display-block {
		display: inline-block !important;
	}

	.banner-description .display-block {
		display: inline-block;
	}

	.hero-banner-content {
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
	}

	.slider-wrapper .banner-btns {
		-webkit-box-pack: center !important;
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}

	#hero-slider .carousel-indicators {
		-webkit-box-pack: center !important;
		-ms-flex-pack: center !important;
		justify-content: center !important;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	#hero-slider.carousel .carousel-control-prev {
		width: auto;
	}

	#hero-slider.carousel .carousel-control-next {
		width: auto;
	}

	.carousel .carousel-control-prev>.carousel-prev-icon,
	.carousel .carousel-control-next>.carousel-next-icon {
		width: 30px;
		height: 30px;						
	}

	.video-content-block>h1 {
		font-size: 30px;
		line-height: normal;
	}

	.hero-banner-content-block h1 {
		font-size: 24px;
		text-align: center;
	}

	.arrows-component .video-controls-wrap .play-btn {
		margin-right: 15px;
	}
}

@include media-breakpoint-down(md) {
	.top-logo-text {
		display: none;
	}

	.policy-text-wrapper .department-menu-bar {
		margin-bottom: 30px;
	}

	#banner-rotating {
		#hero-slider .carousel-indicators {
			padding-left: 15px !important;
			padding-right: 15px !important;
		}

		.hero-banner-slider {
			height: 450px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}

		.hero-banner-slider {
			padding-top: 7%;
		}
	}

	.hero-banner-content-block {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@include media-breakpoint-down(xxl) {
	.hero-banner-content {
		padding-left: 10%;
		padding-right: 10%;
	}

	#banner-rotating {
		#hero-slider .carousel-indicators {
			bottom: 0 !important;
			padding-left: 10%;
			padding-right: 10%;
		}
	}

	#carousel-button {
		position: absolute;
		bottom: 12%;
		left: initial;
		z-index: 99;
		right: 25px;
	}
}

@include media-breakpoint-only(lg){
	#banner-rotating {
		.hero-banner-slider {
			height: 465px !important;
		}
	}
}

@include media-breakpoint-up(xxl) {
	#banner-rotating {
		.hero-banner-slider {
			padding-top: 200px;
			padding-bottom: 300px;
		}

		#carousel-button {
			left: 50%;
		}
	}
}

@include media-breakpoint-up(md) {
	.banner .row>div {
		position: initial;
	}

	.banner {
		position: relative;
	}

	.banner {
		position: relative;
		z-index: 0;
	}
}

@include media-breakpoint-down(md) {
	#banner-rotating .hero-banner-slider {
		height: 787px;
	}
}

@include media-breakpoint-only(xl){
	#banner-rotating .hero-banner-slider {
		height: 550px;
	}
}

@include media-breakpoint-only(xxl){
	#banner-rotating .hero-banner-slider {
		padding-top: 12%;
		padding-bottom: 22%;
	}
}
/* END banner.scss */