

<div class="container my-3 p-2">
    <h2  class="pb-2">Anchor Classes</h2>
    <div class="anchor-list-wrapper row">
        <div class="py-3">
            <a href="#">Anchor Link</a>
            <a href="#" class="grey-anchor">Grey Anchor Link</a>
            <a href="#" class="orange-anchor">Orange Anchor Link</a>
        </div>
    </div>
</div>

<div class="container my-4">
    <h3  class="pb-2">Blue Backgrounds</h3>
    <div class="row">
    <div class="anchor-list-wrapper col-12 blue-bg m-2">
        <div class="py-5">
            <a href="#">Anchor Link</a>
            <a href="#" class="grey-anchor">Grey Anchor Link</a>
            <a href="#" class="orange-anchor">Orange Anchor Link</a>
        </div>
    </div>
    <div class="anchor-list-wrapper col-12 blue-bg stripe-bg m-2">
        <div class="py-5">
            <a href="#">Anchor Link</a>
            <a href="#" class="grey-anchor">Grey Anchor Link</a>
            <a href="#" class="orange-anchor">Orange Anchor Link</a>
        </div>
    </div>
    </div>
</div>

<div class="container my-4">
    <h3  class="pb-2">Grey Background</h3>
    <div class="row">
    <div class="anchor-list-wrapper col-12 grey-bg m-2">
        <div class="py-5">
            <a href="#">Anchor Link</a>
            <a href="#" class="grey-anchor">Grey Anchor Link</a>
            <a href="#" class="orange-anchor">Orange Anchor Link</a>
        </div>
    </div>
    <div class="anchor-list-wrapper col-12 grey-b-bg stripe-bg m-2">
        <div class="py-5">
            <a href="#">Anchor Link</a>
            <a href="#" class="grey-anchor">Grey Anchor Link</a>
            <a href="#" class="orange-anchor">Orange Anchor Link</a>
        </div>
    </div>
    </div>
</div>

<div class="container my-4">
    <h3  class="pb-2">Orange Background</h3>
    <div class="row">
    <div class="anchor-list-wrapper col-12 orange-a11y-bg m-2">
        <div class="py-5">
            <a href="#">Anchor Link</a>
            <a href="#" class="grey-anchor">Grey Anchor Link</a>
            <a href="#" class="orange-anchor">Orange Anchor Link</a>
        </div>
    </div>
    <div class="anchor-list-wrapper col-12 orange-a11y-bg stripe-bg m-2">
        <div class="py-5">
            <a href="#">Anchor Link</a>
            <a href="#" class="grey-anchor">Grey Anchor Link</a>
            <a href="#" class="orange-anchor">Orange Anchor Link</a>
        </div>
    </div>
    </div>
</div>
