<div class="css-box">
    <p>light Grey Background : <span class="css-class">.lightgrey-bg</span></p>
    <p>Blue Background : <span class="css-class">.darkblue-bg</span></p>
    <p>White Background : <span class="css-class">.white-bg</span></p>
    <p>Orange Background : <span class="css-class">.bg-orange</span></p>
    <p>Primary Navy Background :<span class="css-class">.navy-bg</span></p>
    <p>Navy with Striped Pattern Background :<span class="css-class">.navy-bg-stripe.bg-stripe</span></p>
    <p>Stripe Background : <span class="css-class">.bg-stripe</span></p>
    <p>Muted Blue Background :<span class="css-class">.muted-blue-bg</span></p>
    <p>Muted Blue with Striped Pattern Background : <span class="css-class">.muted-blue-bg.bg-stripe</span></p>
    <p>Primary Orange with Striped Background : <span class="css-class">.bg-stripe.bg-orange</span></p>
    <p>Dark Orange Background : <span class="css-class">.bg-darkorange</span></p>
    <p>Warm Gray Background  :<span class="css-class">.bg-warm-grey</span></p>
    <p>Cool Gray Background: <span class="css-class">.bg-cool-grey</span></p>
    <p>Cool Gray with Striped Background: <span class="css-class">.bg-stripe.bg-cool-grey-stripe</span></p>
    <p>Border Top Orange 5px : <span class="css-class">.border-top-5px-orange</span></p>
</div>