<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>

  <!-- Main Content Body -->
  <main id="skipToContent">
    <h1>Bootstrap Component Testing Page</h1>
    <h2 class="display-2">TESTING ONLY - Used for testing vanilla bootstrap components</h2>
    
    <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
    A simple warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert">
    A simple info alert—check it out!
    </div>
    <div class="alert alert-light" role="alert">
    A simple light alert—check it out!
    </div>
    <div class="alert alert-dark" role="alert">
    A simple dark alert—check it out!
    </div>

  </main>
  {{ render '@back-to-top' }}  

</div>