<div class="mission-callout" id="mission-callout">
    <div class="container">
        <div class="d-flex flex-row align-items-center">
            <div class="w-25">
                <h6 class="mission-callout-heading white text-center">Mission Callout</h6>
            </div>
            <div class="w-75">
                <div class="mission-callout-text">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a porta
                        lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
                        aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna
                        neque, bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut
                        sollicitudin nisl. Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in lorem
                        pharetra dictum. Fusce pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque vehicula
                        hendrerit id eu libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>