/* components/03-sections/02-navigation/04-side-navigation/side-navigation.scss */
/* BEGIN side-navigation.scss */

.news-sidebar {
	background-color: $white-b;
		.news-sidebar-title {
			font-size: 1.2rem;
			font-weight: bold;
			color: $blue;
			margin-bottom: 20px;
		}
		.learn-more-item {
			margin-bottom: 15px;
		}
		.learn-more-image {
		padding-right: 10px;
	}
			img.learn-more-thumbnail {
				width: 80px;
				height: 45px;
			}
			.learn-more-link {
				padding-left: 0px;
			}
			.learn-more-link a {
				text-decoration: underline;
				font-weight: bold;
				font-size: 14px;
				padding-left: 0px;
			}

}
	



/* END side-navigation.scss */