

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="footer-logo">
                    <img width="231px" height="75px" alt="UTSA - Creating Bold Futures"
                        src="../../college-dls/utsa/images/utsa-cbf.svg" />
                </div>
                <div class="footer-text">
                    <p>
                        <span class="footer-first-text">One UTSA Circle San Antonio, TX 78249</span>
                        <span class="footer-second-text">Information <a href="tel:+12104584011"
                                class="">210-458-4011</a></span>
                    </p>
                </div>
                <div class="footer-social">
                    <a class="facebook" href="https://facebook.com/utsa" aria-label="Facebook"><i
                            class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    <a class="twitter" href="https://twitter.com/utsa" aria-label="Twitter"><i class="fab fa-twitter"
                            aria-hidden="true"></i></a>
                    <a class="youtube" href="https://youtube.com/user/utsa" aria-label="Youtube"><i
                            class="fab fa-youtube" aria-hidden="true"></i></a>
                    <a class="linkedin" href="https://linkedin.com/school/the-university-of-texas-at-san-antonio/"
                        aria-label="Linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    <a class="instagram" href="https://instagram.com/utsa/" aria-label="Instagram"><i
                            class="fab fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/locations" id="s-footer-locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/visit" id="s-footer-visit" aria-label="Visit UTSA">Visit UTSA</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/today" id="s-footer-utsa-today">UTSA Today</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/jobs" id="s-footer-jobs">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://alerts.utsa.edu/utsa-community-emergency-response"
                            id="s-footer-emergency-contacts">Emergency Contacts</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/directory" id="s-footer-directory">Directory</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/Compliance/Hotline.html" id="s-footer-report-fraud">Report
                            Fraud</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/eos/title-ix" id="s-footer-title-ix-reporting">Title IX
                            Reporting</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/ada" id="s-footer-ada-resources">ADA Resources</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/publicsafety/pd/clery_compliance" id="s-footer-clery-info">Clery
                            Information</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/remembrance" id="s-footer-rr-remembrance">Roadrunner
                            Remembrance</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/mental-health-resources"
                            id="s-footer-mental-health">Counseling/Mental Health</a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.utsa.edu/heerf/#reports-disclosure" id="s-footer-cares-act-reports">CARES
                            Act Reports &amp; Disclosure</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/hop/chapter9/9-24.html" id="s-footer-sexual-harassment">Sexual
                            Harassment and Sexual Misconduct Policy</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    </div>
    <div class="copyright-subfooter">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="utsa-copyright">
                    <p>&copy; 2022 The University of Texas at San Antonio</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <nav class="subfooter-links">
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies" id="s-footer-policies">Policies</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies/accessibility" id="s-footer-web-accessibility">Web
                                Accessibility</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies/reqlinks.html" id="s-footer-required-links">Required
                                Links</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsystem.edu/" id="s-footer-ut-system">UT System</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!--End Footer -->
