<section class="our-faulity-sec position-relative z-index-0 half-bg-shape">
    <div class="container">
        <div class="profile-card-list">
            <div class="inner-sec-headings">
                <h4>Our Faculty</h4>
                <a class="view-all-link" href="#">View Accounting Directory <i class="fas fa-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    {{ render '@profile-card' }}
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="profile-card-componet-div white">
                        <div class="profile-card-img">
                            <img src="images/Profile-5.png" alt="Card Image">
                        </div>
                        <div class="profile-card-cntnt">
                            <a href="#" class="card-link">Dr. John Doe</a>
                            <p class="profile-card-title">Title at UTSA</p>
                            <a class="phone-no" href="tel:210-458-4011">210-458-4011</a>
                            <a class="mail-info" href="mailto:drjohndoe@utsa.edu">drjohndoe@utsa.edu</a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="profile-card-componet-div white">
                        <div class="profile-card-img">
                            <img src="images/Profile-6.png" alt="Card Image">
                        </div>
                        <div class="profile-card-cntnt">
                            <a href="#" class="card-link">Dr. John Doe</a>
                            <p class="profile-card-title">Title at UTSA</p>
                            <a class="phone-no" href="tel:210-458-4011">210-458-4011</a>
                            <a class="mail-info" href="mailto:drjohndoe@utsa.edu">drjohndoe@utsa.edu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>