/* components/06-WYSIWYG/01-style-rules/style-rules.scss */
/* BEGIN style-rules.scss */
div:has(img[alt $= ".jpg"])::after,div:has(img[alt $= ".png"])::after,div:has(img[alt $= "Placeholder"])::after,p:has(img[alt $= ".jpg"])::after,p:has(img[alt $= ".png"])::after,p:has(img[alt $= "Placeholder"])::after,div:has(img[alt = ""])::after,p:has(img[alt = ""])::after{
    content: "Please update alt text to a describe the image";
    background-color: $red;
    color: $white;
    padding: 3px;
    margin-left: 5px;
    border: 1px solid black;
}

a[href*="//sciences.utsa.edu"]::after,a[href*="//colfa.utsa.edu"]::after,a[href*="//uc.utsa.edu"]::after,a[href*="//honors.utsa.edu"]::after,a[href*="//housing.utsa.edu"]::after,a[href*="//hcap.utsa.edu"]::after,a[href*="//klesse.utsa.edu"]::after,a[href*="//business.utsa.edu"]::after{
    content: "Link should be internal";
    background-color: $red;
    color: $white;
    padding: 3px;
    margin-left: 5px;
    border: 1px solid black;
}

a[href*="safelinks.protection.outlook.com"]::after{
    content: "Link is an Outlook safelink";
    background-color: $red;
    color: $white;
    padding: 3px;
    margin-left: 5px;
    border: 1px solid black;
}

a[href^="https://http"]::after{
    content: "Remove starting https";
    background-color: $red;
    color: $white;
    padding: 3px;
    margin-left: 5px;
    border: 1px solid black;
}

a[href^="https://walledev.it.utsa.edu/entity/open.act"]::after,a[href^="https://walle.it.utsa.edu/entity/open.act"]::after{
    content: "Cascade link needs to be changed";
    background-color: $red;
    color: $white;
    padding: 3px;
    margin-left: 5px;
    border: 1px solid black;
}
/* END style-rules.scss */