

<section class="page-text-wrapper">
<div class="container">
    <div class="row no-mrg">
        <div class="col-xl-col-lg-6 col-md-6 col-sm-12">
            <ul>
                <li>I am an unordered list</li>
                <li>Use the HTML &lt;ul&gt; element to define an unordered list</li>
                <li>Use the HTML type attribute to define the numbering type</li>
                <li>Use the HTML &lt;li&gt; element to define a list item</li>
                <li>Lists can be nested
                    <ul><li>Nested item.</li>
                        <li>Nested item.</li>
                        <li>Nested item.</li>
                    </ul>
                </li>
                <li>List items can contain other HTML elements</li>
            </ul>
        </div>
    </div>
</div>
</section>
