<section class="quick-fact-wrapper">
    <div class="container">
        <div class="row">
            {{#each items}}
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <div class="quick-facts-content">
                    <h2>{{ headline }}</h2>
                    <p>{{ text }}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
