<section class="quick-fact-wrapper">
    <div class="container">
        <div class="row">
            {{#each_upto items 4}}
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-12">
                <div class="quick-facts-content">
                    <h2>{{ headline }}</h2>
                    <p>{{ text }}</p>
                </div>
            </div>
            {{/each_upto}}
        </div>
    </div>
</section>
