<section class="quick-fact-wrapper">
    <div class="container">
        <div class="row">
            {{#each 5up-first-item}}
                    <div class="offset-md-1 col-md-2 col-sm-12">
                        <div class="quick-facts-content">
                            <h2>{{ headline }}</h2>
                            <p>{{ text }}</p>
                        </div>
                    </div>
            {{/each}}
            {{#each 5up-other-items}}
                <div class="col-md-2 col-sm-12">
                    <div class="quick-facts-content">
                        <h2>{{ headline }}</h2>
                        <p>{{ text }}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
