<section class="quick-fact-wrapper orange-a11y-bg">
    <div class="container">
        <div class="row">
            {{#each_upto items 3}}
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="quick-facts-content">
                    <h2>{{ headline }}</h2>
                    <p>{{ text }}</p>
                </div>
            </div>
            {{/each_upto}}
        </div>
    </div>
</section>