<!-- Side Navigation -->
<aside class="sidebar-news">
    {{!-- Related Stories Links --}}
    <div class="sidebar-news-container">  
        <h2 class="sidebar-news-title">Related News</h2>
            <ul class="related-news-items">
                <li> <span class="related-news-link-icon"></span> <a href="#" >Link to another related article or promoted news article a really long title for this one.</a></li>
                <li> <span class="related-news-link-icon"></span> <a href="#">Link to another related article or promoted news article.</a></li>
                <li> <span class="related-news-link-icon"></span> <a href="#">Link to another related article.</a></li>
            </ul>
    </div>
    {{!-- END Related Stories Links --}}
    {{!-- Learn More Links --}}
    <div class="sidebar-news-container">
        <h2 class="sidebar-news-title">Learn More</h2>
        <div class="row align-items-center learn-more-item">
            <div class="col-3 image-thumbnail">
                <img alt-text="placeholder image" src="https://utsa-asc.github.io/college-dls/904-side-navigation-news/college-dls/college/images/News_Blog-1.png" />
            </div>
            <div class="col-9">
                <a href="#" aria-label="Learn More">Link to College, Division, or Provost Initiative a really long title for this one.</a>
            </div>
        </div>
        <hr>
        <div class="row align-items-center learn-more-item">
            <div class="col-3 image-thumbnail">
                <img alt-text="placeholder image" src="https://utsa-asc.github.io/college-dls/904-side-navigation-news/college-dls/college/images/News_Blog-1.png" />
            </div>
            <div class="col-9">
                <a href="#" aria-label="Learn More">Link to College, Division, or Provost Initiative</a>
            </div>
        </div>
        <hr>
        <div class="row align-items-center learn-more-item">
        <div class="col-3 image-thumbnail">
            <img alt-text="placeholder image" src="https://utsa-asc.github.io/college-dls/904-side-navigation-news/college-dls/college/images/News_Blog-1.png" />
            </div>
            <div class="col-9">
                <a href="#" aria-label="Learn More">Link to Provost Initiative</a>
            </div>
        </div>
    </div>
    {{!-- END Learn More Links --}}
    {{!-- Media --}}
    <div class="sidebar-news-container">
        <h2 class="sidebar-news-title">Media</h2>   
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/3lztWxiJ170" title="Academic Affairs Youtube Video - Adobe Journey"></iframe>
        </div>
    </div>
    {{!-- END Media --}}
    {{!-- Social Media --}}
    <div class="sidebar-news-container">
        <h2 class="sidebar-news-title">Follow Academic Affairs</h2>
        <div class="row align-items-center">
            <div class="col-2 social-media-icon text-center">
                <a href="https://www.facebook.com/people/UTSA-Academic-Affairs/61550596920839/?_rdr" aria-label="Facebook"><span class="fa-brands fa-facebook"
                        aria-hidden="true"></span></a>
            </div>
            <div class="col-2 social-media-icon text-center">
                <a href="https://x.com/utsa_academics" aria-label="Twitter-X"><span class="fa-brands fa-x-twitter" aria-hidden="true"></span></a>
            </div>
            <div class="col-2 social-media-icon text-center">
                <a href="https://www.instagram.com/utsa_academics/" aria-label="Instagram"><span class="fa-brands fa-instagram"
                        aria-hidden="true"></span></a>
            </div>
            <div class="col-2 social-media-icon text-center">
                <a href="https://www.youtube.com/@utsaacademicaffairs" aria-label="Youtube"><span class="fa-brands fa-youtube"
                        aria-hidden="true"></span></a>
            </div>
            <div class="col-2 social-media-icon text-center">
                <a href="https://www.linkedin.com/school/the-university-of-texas-at-san-antonio/posts/?feedView=all" aria-label="Linkedin"><span class="fa-brands fa-linkedin"
                        aria-hidden="true"></span></a>
            </div>
        </div>
    
    </div>
    {{!-- END Social Media --}}
    {{!-- Follow --}}
    <div class="sidebar-news-container">
        <h2 class="sidebar-news-title">Follow Provost Heather Shipley</h2>
        <div class="follow-provost d-flex align-items-center pb-0">
            <span class="fab fa-linkedin"></span> 
            <a href="https://www.linkedin.com/in/heathershipleyphd/" target="_blank" aria-label="Follow UTSA Provost">@HeatherShipleyPhD</a>
        </div>
    </div>
    {{!-- END Follow --}}
</aside>
<!-- End Side Navigation -->