<!-- Side Navigation News -->
    <div class="news-sidebar">
        <!-- Related Stories Component -->
        {{ render '@related-stories' }}
        <!-- Related Stories Component -->
        <!-- Learn More Links Component -->
        {{ render '@learn-more-links' }}
        <!-- Learn More Links Component -->

    </div>
<!-- End Side Navigation News -->