/* components/02-components/01-card/05-profile/01-profile-card/profile-card.scss */
/* BEGIN profile-card.scss */

.profile-card-cntnt {
	padding: 17px 35px;
}

.profile-card-cntnt .h5 {
	font-size: 25px;
	margin-bottom: 16px;
}

.profile-card-title {
	margin-bottom: 0px;
}

.profile-card-img {
	// height: 277px;
}

.profile-card-img>img {
	width: 100%;
	// height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.profile-details-img>img {
	width: 100%;
	height: 100%;
}

.profile-details-ul {
	padding-top: 30px;
}


.profile-details-cntnt {
	padding-top: 25px;
}


.profile-details-cntnt>h5 {
	font-size: 25px;
	margin-bottom: 22px;
}

.profile-card {
	// clip-path: polygon(100% 0, 100% 18%, 100% 84%, 84% 100%, 0 100%, 0% 60%, 0 0);
	// -webkit-clip-path: polygon(100% 0, 100% 18%, 100% 84%, 84% 100%, 0 100%, 0% 60%, 0 0);
    --notchSize: 3.8rem;
    clip-path: polygon(
        100% 0, 
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%, 
        0 100%, 
        0 0
    );
    -webkit-clip-path: polygon(
        100% 0, 
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%, 
        0 100%, 
        0 0
    );

    height: 100%;
}


.profile-card-cntnt .profile-card-title {
	font-size: 15px;
}


.profile-card {
	height: 100%;
}

.profile-card.blue-bg .card-link {
	color: $white;
}

.profile-card.blue-bg .card-link:hover {
	color: $orange-a11y;
}
.profile-card.blue-bg p {
    color: $white;
}
.profile-card.blue-bg .phone-no,
.profile-card.blue-bg .mail-info {
	color: $white;
}

.profile-card.blue-bg .phone-no:hover,
.profile-card.blue-bg .mail-info:hover {
	color: $orange-a11y;
}

.profile-card .card-link {
	color: $orange-a11y;
}

.profile-card .card-link:hover {
	color: $blue;
}

.profile-card .phone-no,
.profile-card .mail-info {
	color: $blue;
}

.profile-card .phone-no:hover,
.profile-card .mail-info:hover {
	color: $orange-a11y;
}

.profile-card-cntnt .phone-no,
.profile-card-cntnt .mail-info {
	font-size: 15px;
	font-weight: 400;
	display: block;
}
.profile-details-ul a:hover {
	text-decoration: underline;
}


.profile-details-cntnt h5 {
	color: $orange-a11y;
	font-weight: 700;
}

.profile-details-cntnt p {
	font-size: 17px;
	margin-bottom: 0px;
}

.profile-details-ul ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.profile-details-ul ul>li {
	padding-left: 15px;
	padding-right: 15px;
	width: 50%;
	margin-bottom: 7px;
}

.profile-details-ul ul>li a {
	font-size: 17px;
	text-decoration: underline;
	color: $blue;
	font-weight: 500;
	display: block;
}

.profile-details-ul ul>li a:hover {
	color: $orange-a11y;
}

.profile-details-cntnt .phone-no {
	display: block;
	font-size: 17px;
}

.profile-details-cntnt .mail-info {
	display: block;
	font-size: 17px;
}

.profile-details {
	position: relative;
}

.profile-details .right-arrow-link {
	position: absolute;
	bottom: 0;
	right: 0;
}
@media (max-width: 991px) {
    .profile-card-cntnt .h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .profile-card-list .row>div {
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .profile-card-img {
        height: auto;
    }

    .profile-details .right-arrow-link {
        position: absolute;
        top: 0;
        right: 0;
    }
}
/* END profile-card.scss */