

<section class="banner">
    <div class="blue-bg">
        <div class="row no-mrg align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0">
                <div class="hero-banner-content-block">
                    <h1>Department Of <span class="display-block">Accouting</span></h1>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 p-0">
                <div class="hero-banner-img-block"> <img src="../../college-dls/college/images/Hero_Video.png" alt="Banner Image"> </div>
            </div>
        </div>
    </div>
 </section>
