<!-- Side Navigation -->
<div class="department-menu-bar">
    <div class="des-default-show">
        <div class="sidebar">
            <ul class="list-unstyled">
                <li class="nav-item">
                    <button class="drop-down-btn plus-toggle" data-bs-toggle="dropdown" aria-label="plus button"
                        aria-expanded="true">
                    <a>Orientation</a>
                        <span class="plus-icn"><i class="fas fa-plus" aria-hidden="true"></i></span>
                        <span class="minus-icn" style="display: none;"><i class="fas fa-minus"
                                aria-hidden="true"></i></span>
                    </button>
                    <div class="dropdown-menu position-relative"
                        style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-10px, 43px, 0px);"
                        data-popper-placement="bottom-end">
                        <a class="dropdown-item normal-link" href="">Freshman Orientation</a>
                        <a class="dropdown-item normal-link" href="">Transfer Orientation</a>
                        <a class="dropdown-item normal-link" href="">International Orientation</a>
                        <a class="dropdown-item normal-link" href="">UTSA Online Orientation</a>
                        <a class="dropdown-item normal-link"
                            href="https://graduateschool.utsa.edu/current-students/Graduate-Student-Orientation.html">Graduate Orientation</a>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="drop-down-btn plus-toggle" data-bs-toggle="dropdown" aria-label="plus button"
                        aria-expanded="false">
                    <a>Extra Experiences</a>
                        <span class="plus-icn"><i class="fas fa-plus" aria-hidden="true"></i></span>
                        <span class="minus-icn" style="display: none;"><i class="fas fa-minus"
                                aria-hidden="true"></i></span>
                    </button>

                    <div class="dropdown-menu position-relative" style="">
                        <a class="dropdown-item normal-link" href="/orientation/extra/">New Student Extended Experiences</a>
                        <a class="dropdown-item normal-link" href="/orientation/extra/">New Student Resource Videos</a>
                        <a class="dropdown-item normal-link" href="/orientation/videos/">Family Orientation</a>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="drop-down-btn plus-toggle" data-bs-toggle="dropdown" aria-label="plus button"
                        aria-expanded="false">
                    <a>More Information</a>
                        <span class="plus-icn"><i class="fas fa-plus" aria-hidden="true"></i></span>
                        <span class="minus-icn" style="display: none;"><i class="fas fa-minus"
                                aria-hidden="true"></i></span>
                    </button>

                    <div class="dropdown-menu position-relative" style="">
                        <a class="dropdown-item normal-link" href="/orientation/faqs/">Orientation FAQs</a>
                        <a class="dropdown-item normal-link" href="/orientation/fee/">Orientation Fee</a>
                        <a class="dropdown-item normal-link"
                            href="/orientation/accessibility-accommodations/">Orientation
                            Accomdations</a>
                        <a class="dropdown-item normal-link" href="/orientation/after-orientation/">Post-Orientation Checklist</a>
                    </div>
                </li>
                <li class="mobile-nav-btns orange-action-btn">
                    <a href="/check-status/" class="action-btn display-block">Check Status <span
                            class="white acton-icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>