<!-- Side Navigation -->
<div class="department-menu-bar">
    <div class="des-default-show">
        <div class="sidebar">
            <ul class="list-unstyled">
                <li class="nav-item heading"><a href="#">Virtual Visit</a></li>
                <li class="nav-item"><a href="#">Request Information</a></li>
                <li class="nav-item">
                    <button class="drop-down-btn plus-toggle" data-bs-toggle="dropdown" aria-label="plus button"
                        aria-expanded="false">
                    <a href="#">Admission Requirements</a>
                        <span class="plus-icn"><i class="fas fa-plus" aria-hidden="true"></i></span>
                        <span class="minus-icn" style="display: none;"><i class="fas fa-minus"
                                aria-hidden="true"></i></span>
                    </button>
                    <div class="dropdown-menu position-relative" style="">
                        <a class="dropdown-item normal-link" href="#">Normal</a>
                        <a class="dropdown-item active-link" href="#">Active</a>
                        <a class="dropdown-item disabled-link" href="#">Disabled</a>
                    </div>
                </li>
                <li class="nav-item"><a href="#">Admission Forms</a></li>
                <li class="nav-item"><a href="#">Scholarships &amp; Financial Aid</a></li>
                <li class="nav-item"><a href="#">Net Price Calculator</a></li>
                <li class="mobile-nav-btns orange-action-btn">
                    <a href="#" class="action-btn display-block">Apply <span class="white acton-icon"><i
                                class="fas fa-arrow-right"></i></span></a>
                    <a href="#" class="action-btn display-block">Visit <span class="white acton-icon"><i
                                class="fas fa-arrow-right"></i></span></a>
                    <a href="#" class="action-btn display-block">Request Info<span class="white acton-icon"><i
                                class="fas fa-arrow-right"></i></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Side Navigation -->