<div class="container">
    <div class="container lightgrey-bg p-5">
        <h2>Rectangle Blue Button</h2>
        <div class="w-25">
            <div class="buttons-bg-wrapper">
                <a class="rectangle-blue-btn" href="#">Action</a>
            </div>
        </div>
    </div>

    <div class="container darkblue-bg p-5">
        <h2 class="color-white">Rectangle Orange Button</h2>
        <div class="w-25">
            <div class="buttons-bg-wrapper">
                <a class="rectangle-orange-btn" href="#">Action</a>
            </div>
        </div>
    </div>

    <div class="container lightgrey-bg p-5">
        <h2>Rectangle White Button</h2>
        <div class="buttons-plain-wrapper p-3">
            <div class="buttons-bg-wrapper">
                <a class="rectangle-white-btn" href="#">Action</a>
            </div>
        </div>
    </div>

</div>