/* components/01-visual-styling/03-typography/06-blockquote/blockquote.scss */
/* BEGIN blockquote.scss */
.blockquote-footer {
	margin-top: 10px;
	color: $blue;
	font-size: 15px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.blockquote {
	color: $blue;
	font-size: 37px;
	font-weight: 800;
	line-height: 44px;
}
.author-information {
	color: $blue;
	font-size: 15px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.image_right-cntnt h4 {
	font-size: 33px;
	line-height: 40px;
}
.image_right-cntnt h3 {
	font-size: 37px;
	line-height: 44px;
}
.image_right-cntnt>.blockquote {
	margin-bottom: 26px;
}

.border-top-5px-orange {
	border-top: 5px solid $orange;
}
a {
	text-decoration: none;
}
/* END blockquote.scss */