<div class="events-listing-sec" id="events-listing-component">
    <div class="container-1300px pb-3">

        {{ render '@event-card--horizontal-image' }}

        {{ render '@event-card--horizontal-image' }}
    </div>
</div>
