
.form-design .form-grouph {
    margin-bottom: 15px;
}



.hide {
    display: none !important;
}


/* Form css */

.program-listing-b {
	max-width: 1030px;
	width: 100%;
	margin: 0 auto;
	padding: 0px 15px;
}

.input-design input {
	width: 100%;
	border: none;
	font-size: 15px;
	padding: 14px 15px;
	font-weight: 500;
	color: #0B2340;
	background-color: #fff;
}

.input-design input::-webkit-input-placeholder {
	color: #0B2340;
}

.input-design input::-moz-placeholder {
	color: #0B2340;
}

.input-design input:-ms-input-placeholder {
	color: #0B2340;
}

.input-design input::-ms-input-placeholder {
	color: #0B2340;
}

.input-design input::placeholder {
	color: #0B2340;
}

.textarea-design textarea::-webkit-input-placeholder {
	color: #0B2340;
}

.textarea-design textarea::-moz-placeholder {
	color: #0B2340;
}

.textarea-design textarea:-ms-input-placeholder {
	color: #0B2340;
}

.textarea-design textarea::-ms-input-placeholder {
	color: #0B2340;
}

.textarea-design textarea::placeholder {
	color: #0B2340;
}

.program-listing-a, .program-listing-b, .program-listing-faculty {
    background-color: #F15B22;
    padding: 20px 20px 5px 20px;
}



.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select-design .select2 .select2-selection .select2-selection__arrow {
    top: 13px;
    right: 10px;
}


.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}


.select-design .select2 .select2-selection {
    border: none !important;
    font-weight: 500;
    color: #0B2340;
    font-size: 15px;
    padding: 11px 15px;
    background-color: #fff;
    height: 100%;
    border-radius: 0px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}



.select-design .select2 .select2-selection .select2-selection__rendered {
    border: none !important;
    font-weight: 500;
    color: #0B2340;
    font-size: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/* select form design */
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important
}

.select-design select {
	width: 100%;
	border: none;
	font-size: 15px;
	padding: 13px 45px 13px 15px;
	font-weight: 500;
	color: #0B2340;
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	background-image: url(https://development.simpsonscarborough.com/utsa/images/drop-down.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: 95% 20px;
	background-color: #fff !important;
}
.find-you-program .form-wrapper {
    padding: 20px 20px 5px 20px;
    background-color: #F15B22;
}
.select-design .select2 .select2-selection {
	border: none !important;
	font-weight: 500;
	color: #0B2340;
	font-size: 15px;
	padding: 11px 15px;
	background-color: #fff;
	height: 100%;
	border-radius: 0px;
}

.select-design .select2 .select2-selection .select2-selection__rendered {
	border: none !important;
	font-weight: 500;
	color: #0B2340;
	font-size: 15px;
}

.select-design .select2 .select2-selection .select2-selection__arrow {
	top: 13px;
	right: 10px;
}

.form-btn {
	border: none;
	width: 100%;
	font-size: 15px;
	padding: 14px 15px;
	background-color: #0b2341;
	color: #fff;
}

.form-btn:hover {
	background-color: #fff !important;
	color: #0b2341 !important;
}

.form-design .row>div {
	padding-left: 5px;
	padding-right: 5px;
}

.form-design .row {
	margin-left: -5px;
	margin-right: -5px;
}

.form-design .form-grouph {
	margin-bottom: 15px;
}
button:focus,
input:focus {
	outline: 1px solid #006eff;
	border: 1px solid #006eff;
	outline-offset: 0px;
}

button:focus-within,
input:focus-within {
	outline: 1px solid #006eff;
	border: 1px solid #006eff;
	outline-offset: 0px;
}

button:focus-visible,
input:focus-visible {
	outline: 1px solid #006eff;
	border: 1px solid #006eff;
	outline-offset: 0px;
}
