/* components/01-visual-styling/03-typography/04-ordered-list/ordered-list.scss */
/* BEGIN ordered-list.scss */
.page-text-wrapper ol li, .tab-body-content ol li, .accordion-body-content ol li {
	margin-bottom: 6px;
	font-weight: 400;
  width: 100%;
  }

.page-text-wrapper ol > li > ul {
	margin-top: 7px;
  }
  
  .enhanced-ol-list {
	padding-left: 20px;
  }
  
  .enhanced-ol-list li {
	margin-bottom: 6px;
	font-size: 18px;
	font-weight: 400;
  }
  
  .enhanced-ol-list li {
	margin-bottom: 10px;
	font-family: Kulturista, serif;
  }
  
  .enhanced-ol-list::marker {
	color: #D3430D;
  }

/* END ordered-list.scss */