/* components/02-components/06-call-to-actions/01-call-to-action-buttons/call-to-action-buttons.scss */
/* BEGIN call-to-action-buttons.scss */

/* padding was missing from the white background option (default variant) */
.headline-text-btn-wrapper.grey-bg .paragraph-text p {
	color: $blue;
}

.headline-text-btn-wrapper .paragraph-text p {
	color: $blue;
}

.headline-text-btn-wrapper.navy-bg .paragraph-text p {
	color: $white;
}

.headline-text-btn-wrapper .orange-action-btn, .headline-text-btn-wrapper .blue-action-btn{
    margin-bottom:5px
}

.headline-text-btn-wrapper {
	padding: 51px 30px;
	// background-color: #fff;
}

.heading-wrapper h4 {
	font-size: 32px;
	// color: #0c2340;
	font-weight: 700;
}
.headline-text-orange-btns {
	background-color: $orange-a11y;
	background: -o-repeating-linear-gradient( 45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 7px, rgba(255, 255, 255, 0.1) 7px);
	background: repeating-linear-gradient( 45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 7px, rgba(255, 255, 255, 0.1) 7px);
	padding: 51px 30px;
}

.headline-text-orange-btns .blue-action-btn>.action-btn {
	margin-bottom: 5px;
}

.headline-text-wrapper .blue-bg {
	background-color: $blue;
	background: -o-repeating-linear-gradient( 45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 7px, rgba(255, 255, 255, 0.1) 7px);
	background: repeating-linear-gradient( 45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 7px, rgba(255, 255, 255, 0.1) 7px);
	padding: 51px 30px;
}
 
.headline-text-btn-wrapper.blue-bg.stripe-bg .heading-wrapper h4 {
	color: $white;
}

.headline-text-btn-wrapper.blue-bg.stripe-bg .paragraph-text p {
	color: $white;
}

.headline-text-blue-bg-wrapper .orange-action-btn {
	margin-bottom: 5px;
}

.headline-text-btn-wrapper .paragraph-text p {
	line-height: 1.5;
}

@media (max-width: 991px) {
	.headline-text-btn-wrapper {
		padding: 45px 0px;
	}
}
/* END call-to-action-buttons.scss */