/* components/01-visual-styling/04-button/02-button/button.scss */
/* BEGIN button.scss */
// /* Button Component Wrapper */
button:focus {
	outline: none;
}

.blue-btn {
	background-color: $blue;
	padding: 10px 15px;
	display: inline-block;
	text-align: center;
	min-width: 168px;
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 16px;
	color: $white;
	text-decoration: none;

	&:hover {
		background-color: $orange-a11y;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}	
}

.orange-btn {
	background-color: $orange-a11y;
	padding: 10px 15px;
	display: inline-block;
	text-align: center;
	min-width: 168px;
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 16px;
	color: $white;
	text-decoration: none;
	&:hover {
		background-color: $blue;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}

.white-btn {
	background-color: $white;
	padding: 10px 15px;
	display: inline-block;
	text-align: center;
	min-width: 168px;
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 16px;
	color: $blue;
	text-decoration: none;
	&:hover {
		background-color: $blue;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}

.grey-btn {
	background-color: $grey;
	padding: 10px 15px;
	display: inline-block;
	text-align: center;
	min-width: 168px;
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 16px;
	color: $blue;
	text-decoration: none;

	&:hover {
		background-color: $grey-d;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}	
}

.blue-bg {
	.white-btn:hover {
		background-color: $grey-b;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.orange-btn:hover {
		background-color: $grey-c;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.grey-btn {
		background-color: $grey-d;
		color: $white;
		
		&:hover {
			background-color: $grey;
			color: $blue;		
		}
	}
}

.orange-a11y-bg {
	.white-btn:hover, .orange-bg .white-btn:hover {
		background-color: $grey-c;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.blue-btn:hover, .orange-bg .blue-btn:hover {
		background-color: $grey-c;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.grey-btn {
		background-color: $grey-d;
		color: $white;
		
		&:hover {
			background-color: $grey;
			color: $blue;		
		}
	}
}

.grey-bg {
	.grey-btn {
		background-color: $grey-d;
		color: $white;
	}
	.grey-btn:hover {
		background-color: $white-b;
		color: $orange-a11y;
	}

	.white-btn:hover, .orange-bg .white-btn:hover {
		background-color: $grey-c;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.blue-btn:hover, .orange-bg .blue-btn:hover {
		background-color: $grey-c;
		color: $white;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}

.banner-btns>.orange-btn {
	margin-right: 15px;
}

.video-controls-wrap>div {
	margin-bottom: 15px;
}

#main-slider-wrapper .banner-btns {
	.orange-btn, .white-btn, .blue-btn, .grey-btn {
		max-width: 200px;
	}	
}
/* END button.scss */
