<div class="container">

    <div class="container grey-bg p-5">
        <h2>Rectangle Buttons on Grey Background</h2>
        <div class="w-100">
            <div class="buttons-bg-wrapper">
                <a class="blue-btn" href="#">Action</a>
                <a class="white-btn" href="#">Action</a>
                <a class="orange-btn" href="#">Action</a>
                <a class="grey-btn" href="#">Action</a>
            </div>
        </div>
    </div>
    <br />
    <div class="container white-bg p-5">
        <h2>Rectangle Buttons on White Background</h2>
        <div class="w-100">
            <div class="buttons-bg-wrapper">
                <a class="blue-btn" href="#">Action</a>
                <a class="orange-btn" href="#">Action</a>
                <a class="grey-btn" href="#">Action</a>
            </div>
        </div>
    </div>
    <br />
    <div class="container blue-bg p-5 white">
        <h2 class="text-white">Rectangle Buttons on Blue Background</h2>
        <div class="w-100">
            <div class="buttons-bg-wrapper">
                <a class="white-btn" href="#">Action</a>
                <a class="orange-btn" href="#">Action</a>
                <a class="grey-btn" href="#">Action</a>
            </div>
        </div>
    </div>
    <br />
    <div class="container orange-a11y-bg p-5">
        <h2>Rectangle Buttons on Orange Background</h2>
        <div class="w-100">
            <div class="buttons-bg-wrapper">
                <a class="blue-btn" href="#">Action</a>
                <a class="white-btn" href="#">Action</a>
                <a class="grey-btn" href="#">Action</a>
            </div>
        </div>
    </div>

</div>