/* components/03-example-pages/07-news-page/news-page.scss */
/* BEGIN news-page.scss */
.news-inner-wrapper {
	margin: 0 auto;
	font-size: 0.97rem;

	.img-caption {
		font-size: 0.9rem;
		font-style: italic;
		background-color: $grey;
		line-height: 2.2;
		padding: 0.25rem;
	}
}

.news-text-block .postfix {
	font-size: 0.89rem;
}

.news-inner-wrapper .news-post-details {
	font-weight: 300;
	color: $blue-b;
    line-height: 1.1;
	font-size: 0.95rem;
}

.news-inner-wrapper .news-subtitle {
	font-weight: 500;
	font-size: 1.3rem;
	color: $orange-a11y;
	line-height: 1.75;
}

.news-text-block h6 {
	// font-size: 17px;
	font-weight: 700;
	color: $blue;
}
.news-text-block p {
	font-size: 0.97rem;
	font-weight: 400;
	color: $blue;
}
.news-img {
	margin-top: 40px;
	margin-bottom: 40px;
}
.news-heading .news-text-block {
	margin-bottom: 35px;
}
.author-name {
	color: $blue;
	font-style: italic;
}
.news-tags a {
	color: $orange-a11y;
	font-size: 19px;
	text-decoration: underline;
	display: inline-block;
}
.news-tags {
	padding-top: 35px;
}
/* END news-page.scss */