<!-- Footer -->
<footer id="footer">
    <div class="container secondary-footer">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 pb-4">
                <div class="pb-3 footer-logo">
                    <a href="https://www.utsa.edu/">
                        <img src="{{path '/college-dls/utsa/images/ut-san-antonio-horizontal-ow.svg'}}" height="32px" width="auto" alt="The University of Texas at San Antonio logo" />
                    </a>
                </div>
                <div class="footer-text">
                    <p>One UTSA Circle San Antonio, TX 78249</p>
                    <p>Information: <a href="tel:+12104584011">210-458-4011</a></p>
                </div>
            </div>
        <div class="col-sm-12 col-lg-8">
				<div class="secondary-footer-social">
                    <a class="facebook" href="https://facebook.com/utsa" aria-label="Facebook"><i
                            class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    <a class="twitter" href="https://x.com/utsa" aria-label="Twitter"><i class="fa-brands fa-x-twitter"
                            aria-hidden="true"></i></a>
                    <a class="youtube" href="https://youtube.com/user/utsa" aria-label="Youtube"><i
                            class="fab fa-youtube" aria-hidden="true"></i></a>
                    <a class="linkedin" href="https://linkedin.com/school/the-university-of-texas-at-san-antonio/"
                        aria-label="Linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    <a class="instagram" href="https://instagram.com/utsa/" aria-label="Instagram"><i
                            class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div>
				<nav class="secondary-footer-links">
					<ul class="list-unstyled">
                        <li>
                            <a href="https://utsa.edu/about/careers#_ga=2.180574631.1891322053.1753909729-1983867998.1741794788">Careers</a>
                        </li>
                        <li>
                            <a href="https://map.utsa.edu">Campus Map</a>
                        </li>
                        <li>
                            <a href="https://utsa.edu/about/directories">Directories</a>
                        </li>
                        <li>
                            <a href="https://utsa.edu/about/university-organization">University Organization</a>
                        </li>
					</ul>
				</nav>
			</div>
    </div>
    <hr>
    <div class="copyright-subfooter">
        <div class="row">
            <div class="col-sm-12">
                <nav class="subfooter-links">
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <div class="utsa-copyright">&copy;
                                <span class="year" id="year">2025</span> The University of Texas at San Antonio
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.utsa.edu/ba-administration-operations/services/risk-emergency-management/business-continuity-emergency-management/emergency-response-guide.html" id="s-footer-response-guide">Emergency Response Guide</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies" id="s-footer-policies">Policies</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies/accessibility" id="s-footer-web-accessibility">Web
                                Accessibility</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies/reqlinks.html" id="s-footer-required-links">Required
                                Links</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsystem.edu/" id="s-footer-ut-system">UT System</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!--End Footer -->