/* components/02-components/07-navigation/05-global-footer/global-footer.scss */
/* BEGIN global-footer.scss */
#footer {
    border-top: 1px solid $orange-a11y;
    background-color: $blue;
    padding-top: 3.5rem;
    font-family: open-sans, sans-serif !important;

    li.nav-item a {
        font-size: 0.8125rem;
        line-height: 1.25;
    }

    p {
        color: $white;
    }

    .footer-logo a:hover {
        background: none;
        cursor: pointer;
        padding-bottom: .5rem;
        border-bottom: 1px solid $orange-a11y;
    }

    .footer-logo-vert a:hover {
        background: none;
        cursor: pointer;
        padding-bottom: 3rem;
        border-bottom: 1px solid $orange-a11y;
    }

    .footer-header {
        font-size: 1.375rem;
    }

    .footer-text p {
        color: $white;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.25;
        margin-bottom: .125rem;
    }

    .footer-text p a {
        color: $white;
        text-decoration: underline;
    }

    .footer-text p>.footer-first-text {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid $grey-b;
    }

    .footer-social>a {
        width: 35px;
        height: 35px;
        display: inline-block;
        border-radius: 50%;
        color: $white;
        border: 2px solid $white;
        text-align: center;
        font-size: 1.25rem;
        margin-right: 3px;
    }

    .footer-column-1 .footer-logo {
        margin-bottom: 10px;
    }

    .footer-column-1 .footer-social {
        padding-top: 20px;
    }

    .nav-item>a {
        color: $white;
        font-size: .8125rem;
        line-height: 1;
        padding: 6px 2px;
        display: inline-block;
        margin-bottom: 5px;
    }

    .nav-item {
        line-height: normal;
    }

    .nav-item>a:hover {
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: $blue;
        background-color: $grey;
        text-decoration: underline;
    }

    // #footer>.main-footer-wrap {
    //     width: 100%;
    //     max-width: 1000px;
    //     margin: 0 auto;
    // }

    .copy-right-sec {
        background-color: $blue;
        // text-align: center;
        padding: 26px 0px;
    }

    // .main-footer-wrap {
    //     padding: 48px 15px 0px 15px;
    // }

    .footer-social>a:hover {
        cursor: pointer;
        color: $blue;
        border: 2px solid $grey;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .footer-column-2 {
        width: 100%;
        // max-width: 130px;
        margin: 0 auto;
    }

    .secondary-footer {
        &-social {
            text-align: right;
            margin-bottom: 2rem;
            > a {
                background-color: $white;
                color: $blue;
                padding: .25rem;
                margin: .125rem;
                border-radius: 50%;
                display: inline-block;
                height: 2.25rem;
                width: 2.25rem;
                font-size: 1.25rem;
                &:hover {
                    background-color: $orange-a11y;
                    color: $blue;
                }
            }
        }
        &-links ul {
            padding: 0;
            margin: 1rem 0 1rem 0;
            display: flex;
            justify-content: end;
            flex-wrap: wrap;
            >li {
                font-size: .8125rem;
                font-weight: 400;
                padding: .25rem;
                line-height: 1;
                border-left: 1px solid rgba(255, 255, 255, .25);
                &:first-child {
                    border-left: none;
                }
                > a {
                    color: $white;
                    padding-left: .25rem;
                    padding-right: .25rem;
                    text-decoration: none;
                        &:hover {
                        color: $blue;
                        text-decoration: underline;
                        }
                }
            }
        }
        hr {
            border-top: 1px dotted $blue-highlight;
            opacity: 1;
            border-bottom: none;
        }
        .copyright-subfooter {
        padding: 1rem 0;
        font-size: .8rem
    }
    }

    .copy-right-text {
        color: $white;
        font-size: 11px;
        margin-bottom: 4px;
    }

    .producedBy,
    .producedBy a {
        font-size: 11px;
        color: $grey-b;
        font-weight: 600;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    .copyright-subfooter {
        padding: 1.5625rem 0;
        font-size: .8rem
    }


    .copyright-subfooter .utsa-copyright {
        position: relative
    }

    .copyright-subfooter .utsa-copyright:after {
        content: " ";
        display: inline-block;
        height: .75rem;
        width: .125rem;
        background-color: $white;
        position: absolute;
        top: 25%;
        right: 0
    }

    .copyright-subfooter .utsa-copyright p {
        margin: 0;
        text-align: right;
        padding-right: 1.5625rem
    }

    .copyright-subfooter .subfooter-links {
        padding: 0
    }

    .copyright-subfooter .subfooter-links ul {
        padding: 0;
        margin: 0
    }

    .copyright-subfooter .subfooter-links ul li {
        display: inline-block;
        padding: 0 .625rem
    }

    .copyright-subfooter .subfooter-links ul li a {
        text-decoration: underline;
        padding: 0
    }

    hr {
        border-bottom: .125rem solid #fff
    }
}

@media (max-width: 991px) {
    #footer {
        .footer-demo-component .main-footer-wrap {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
        }
    }
}

@media (max-width: 767px) {
    #footer {
        line-height:1.75rem;

        .main-footer-wrap {
            padding: 30px 0px;
        }

        .footer-column-2 {
            width: 100%;
            max-width: 100%;
            margin: initial;
            padding-top: 25px;
        }

        .copyright-subfooter {
            text-align: center;
        }

        .copyright-subfooter .utsa-copyright p {
            text-align: center;
        }

        .copyright-subfooter .utsa-copyright:after {
            display: none;
        }
    }
}

/* Dark Mode - Footer/Ankle Styles */
@include color-mode(dark) {
    .white-b-bg {
        p, ul li, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
            color:$blue;
        }
        a {
            color: $blue;
            &:hover {
                color: $blue;
                background-color: $grey;
            }
        }
    }
    #footer .footer-text p .footer-second-text a {
        color: $white;
        &:hover {
            color: $blue;
        }
    }
}
/* Dark Mode - Footer/Ankle END */

/* END global-footer.scss */