

<div class="container">
    <div class="container lightgrey-bg p-5">
        <h2>Link Text with Arrow</h2>
        <div class="w-25">
            <a href="#" class="view-all-link" >I am a text link. <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="container darkblue-bg p-5">
        <h2 class="color-white">Action Plain Button Link</h2>
        <div class="w-25">
            <a href="#" class="action-plain-btn">I am a text link. <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>

    <div class="container lightgrey-bg p-5">
        <h2>Form Button Link</h2>
        <div class="buttons-plain-wrapper p-3">
            <a href="#" class="form-btn">I am a text link. <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>

</div>

