/* components/01-visual-styling/02-typography/09-table/table.scss */
/* BEGIN table.scss */
table {
	width: 100%;
	padding: 0px 15px;
	margin-bottom: 20px;
}

th{
	font-weight: bold !important;
	color: $orange-a11y;
}

th, td {border: 1px solid $blue; padding:12px; vertical-align:top;}

tr th {
	padding: 12px 25px;
}

tr td {
	padding: 12px 25px;
}

thead th {
	font-size: 17px;
	font-weight: 500;
}

tr td {
	padding: 12px 25px;
	font-size: 17px;
	color: $blue;
}

.table-design thead th {
	color: $white;
}

.table-design th, .table-design td {border: 0px;}



.table-design tbody>tr {
	border-bottom: 1px solid $grey;

	&:nth-child(2n) {
		background-color: $white-b;
		border-top: 1px solid $grey;
	}
}

.table-design thead {
	background-color: $orange-a11y;
}

.mb-0 {
	margin-bottom: 0px;
}

/* END table.scss */