

<section class="grey-bg page-text-wrapper program-listing mt-5">

    <!-- Action Cards -->
    <div class="container">
        <div class="row" id="visit">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="highlight-card white-bg">
    <div class="highlight-card-img">
        <a href="/visit/tours/">
            <img src="../../college-dls/college/images/content-highland-card.png" alt="Card Image" />
        </a>
    </div>
    <div class="highlight-card-content">
        <a class="highlight-card-link pb-3" href="https://google.com ">Lorem ipsum dolor sit amet, consectetur</a>
        <p>Led by student ambassadors, see what our campus looks like and what UTSA can do for you to enable you to reach your educational goals. Group tours are also available.</p>
        <a class="blue-btn" href="https://google.com">Visit Us Today <i class="fas fa-arrow-right"
                aria-hidden="true"></i></a>
    </div>
</div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="highlight-card white-bg">
    <div class="highlight-card-img">
        <a href="/visit/tours/">
            <img src="../../college-dls/college/images/content-highland-card.png" alt="Card Image" />
        </a>
    </div>
    <div class="highlight-card-content">
        <a class="highlight-card-link pb-3" href="https://google.com ">Lorem ipsum dolor sit amet, consectetur</a>
        <p>Led by student ambassadors, see what our campus looks like and what UTSA can do for you to enable you to reach your educational goals. Group tours are also available.</p>
        <a class="blue-btn" href="https://google.com">Visit Us Today <i class="fas fa-arrow-right"
                aria-hidden="true"></i></a>
    </div>
</div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="highlight-card white-bg">
    <div class="highlight-card-img">
        <a href="/visit/tours/">
            <img src="../../college-dls/college/images/content-highland-card.png" alt="Card Image" />
        </a>
    </div>
    <div class="highlight-card-content">
        <a class="highlight-card-link pb-3" href="https://google.com ">Lorem ipsum dolor sit amet, consectetur</a>
        <p>Led by student ambassadors, see what our campus looks like and what UTSA can do for you to enable you to reach your educational goals. Group tours are also available.</p>
        <a class="blue-btn" href="https://google.com">Visit Us Today <i class="fas fa-arrow-right"
                aria-hidden="true"></i></a>
    </div>
</div>
            </div>
        </div>
    </div>
    <!-- End Color Selection Section -->
</section>
