/* components/02-components/01-card/02-event-card/event-card.scss */
/* BEGIN event-card.scss */

.deadline-card-componet-div {
    --notchSize: 3.8rem;

    border-top: 12px solid #f15b22;
    clip-path: polygon(
        100% 0, 
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%, 
        0 100%, 
        0 0
    );
    -webkit-clip-path: polygon(
        100% 0, 
        100% calc(100% - var(--notchSize)),
        calc(100% - var(--notchSize)) 100%, 
        0 100%, 
        0 0
    );
    height: 100%;
    padding:40px 38px 60px
}
/* END event-card.scss */