<div class="container">
    <div class="">
        <div class="row no-mrg">
            <div class="col-xl-col-lg-6 col-md-6 col-sm-12">
                <div class="unordered-list">
                    <ul class="ul-list">
                        <li class="list-item">{{ text }}</li>
                        <li class="list-item">Use the HTML &lt;ol&gt; element to define an ordered list</li>
                        <li class="list-item">Use the HTML type attribute to define the numbering type</li>
                        <li class="list-item">Use the HTML &lt;li&gt; element to define a list item</li>
                        <li class="list-item">Lists can be nested</li>
                        <li class="list-item">List items can contain other HTML elements</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>