/* components/03-sections/05-content-group/01-content-list/content-list.scss */
/* BEGIN content-list.scss */


/* Dark Mode - Component Styles - Content List */
@include color-mode(dark) {
	.highlight-card .highlight-card-content p {
		color: $blue;
	}
	.program-listing {
		h2, h3, h4, h5, h6 {
			color:$blue;
		}
	}
	.highlight-card .highlight-card-content>.blue-btn {
		color:$white;
		background-color: $blue;
		&:hover {
			color: $blue;
			background-color: $grey-b;
		}
	}
}
/* Component Styles - Content List END */

/* END content-list.scss */