/* components/03-sections/05-content-group/06-link-list/link-list.scss */
/* BEGIN link-list.scss */

.resources-list {
    a {
        text-decoration: none;
    }
}

.resources-list li a {
	border-bottom: 1px solid $orange-a11y;
	padding-bottom: 10px;
	display: block;
	font-weight: 600;
	font-size: 1.25rem;
	color: $blue;
}

/* Dark Mode - Component Styles - Link List */
@include color-mode(dark) {
	ul.resources-list li a {
		border-bottom: 1px solid $orange;
		color: $grey;
		&:hover {
			background-color: $blue;
			color: $white;
		}
	}

	.tab-wrapper, .accordion-wrapper {
		ul.resources-list li {
			color: $blue;
		}
		ul.resources-list li a {
			color: $blue;
			&:hover {
				background-color: $blue;
				color: $white;
			}
		}
	}
}
/* Component Styles - Link List END */

/* END link-list.scss */