 <div class="py-5 content-listing">
     <div class="container">
         <div class="row">
            {{#each cards as |action|}}
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                {{render '@action-card--grey' action merge=true}}
             </div>
            {{/each}}
            {{#each cards as |action|}}
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                {{render '@action-card--grey' action merge=true}}
             </div>
            {{/each}}
         </div>

     </div>
 </div>