

<h2 class="h5">PNG Image with no alt text</h2>
<p><img
    src="../../college-dls/college/images/card-image.png"
    alt="card-image.png"
  /></p>

<h2 class="h5">JPG Image with no alt text</h2>
<p><img
    src="../../college-dls/college/images/utsa-housing-reasons-featured-timesaving.jpg"
    alt="utsa-housing-reasons-featured-academics.jpg"
  /></p>

<h2 class="h5">Image with "Placeholder" alt text</h2>
<div><img
    src="../../college-dls/college/images/utsa-housing-reasons-featured-timesaving.jpg"
    alt="Placeholder"
  /></div>

<h2 class="h5">Image with no alt text</h2>
<div><img
    src="../../college-dls/college/images/utsa-housing-reasons-featured-timesaving.jpg"
    alt=""
  /></div>
