/* components/03-sections/07-quickfacts/quickfacts.scss */
/* BEGIN quickfacts.scss */

//default color, white background
.quick-fact-wrapper {
	overflow: hidden;
	position: relative;
	z-index: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	padding: 30px 0px 40px 0px;
	position: relative;

	::after {
		content: '';
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:1.0%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-secondary' d='M352 256c-8.188 0-16.38-3.125-22.62-9.375L192 109.3L54.63 246.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 252.9 360.2 256 352 256z'/%3E%3Cpath class='fa-secondary' d='M352 448c-8.188 0-16.38-3.125-22.62-9.375L192 301.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 444.9 360.2 448 352 448z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -10;
		opacity: 0.007;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.row {
		margin: 0px;
	}

	.quick-facts-content {
		text-align: center;
		z-index:100;

		h2 {
			font-family: "kulturista-web", serif;
			font-weight: 700;
			margin-bottom: 20px;
			font-size: 4.5rem;
		}

		p {
			font-size: 1.2rem;
			font-weight: 600;
			width: 100%;
			line-height: normal;
		}
	}
	.department-heading {
		margin-bottom: 30px;
	}

	h3 {
		color: $blue;
	}

	.quick-facts-content h2 {
		color: $orange-a11y;
	}

	.quick-facts-content p {
		color: $blue;
	}

	&.blue-bg {
		::after {
			opacity: 0.025;
		}
	
		h3 {
			color: $white;
		}
	
		.quick-facts-content {
			h2 {
				color: $orange-a11y;
			}
	
			p {
				color: $white;
			}
		}
	}

	&.grey-bg {
		::after {
			opacity: 0.005;
		}
	
		h3 {
			color: $blue;
		}
	
		.quick-facts-content {
			h2 {
				color: $orange-a11y;
			}
	
			p {
				color: $blue;
			}
		}
	}

	&.orange-a11y-bg {
		background-color: $orange-a11y;

		h3 {
			color: $white;
		}
	
		.quick-facts-content {
			h2 {
				color: $white;
			}
	
			p {
				color: $blue;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		.quick-facts-content {
			h2 {
				font-size: 3.2rem;
			}
			p {
				font-size: 1.0rem;
			}
		}
	}
	
	@include media-breakpoint-down(md) {
		padding-top: 30px;
		padding-bottom: 30px;

		.quick-facts-content {
			h2 {
				font-size: 3.5rem;
			}

			p {
				font-size: 1.1rem;
			}
		}
	}
}

/* END quickfacts.scss */