

<div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
  <!-- Loader -->
  <div id="cover">
    <div class="loading-spin"><i class="fas fa-spinner"></i></div>
  </div>
  <!-- End Loader -->
  <!-- Main Content Body -->
  <main id="skipToContent">
    <h1>Stacked Component Testing Page</h1>
    <h2 class="display-2">TESTING ONLY - DO NOT USE</h2>

     <section class="my-5">
    <div class="container">
        <div class="row">
            <h2 class="h3 blue mb-3">This is the Link List Title</h2>
            <div class="col-12 col-md-6">
                <ul class="resources-list">  
                    <li><a href="#">Covid-19 Funding Opps</a></li>
                    <li><a href="#">Covid-19 Labs Exemption</a></li>
                    <li><a href="#">Find Tech Transfer</a></li>
                    <li><a href="#">College of Business Administration</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul class="resources-list">
                    <li><a href="#">Covid-19 Funding Opps</a></li>
                    <li><a href="#">Covid-19 Labs Exemption</a></li>
                    <li><a href="#">Find Tech Transfer</a></li>
                    <li><a href="#">College of Business Administration</a></li>
                </ul>
            </div>
        </div>
    </div>
 </section>

    <section class="content-img-design orange-offset-bg bt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-last">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-top-right" src="../../college-dls/college/images/functional-1.png" alt="Heading Image"  loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-first">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="blue-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    <section class="content-img-design orange-offset-bg  offset-left pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-bottom-left" src="../../college-dls/college/images/functional-1.png" alt="Heading Image"  loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="blue-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <section class="content-img-design blue-offset-bg pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-last">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-top-right" src="../../college-dls/college/images/functional-1.png" alt="Heading Image" loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-first">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="orange-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="content-img-design blue-offset-bg offset-left ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-bottom-left" src="../../college-dls/college/images/functional-1.png" alt="Heading Image" loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="orange-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="headline-text-btn-wrapper grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="heading-wrapper">
                    <h2 class="h4">Medium Length Headline</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="paragraph-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="blue-action-btn">
                    <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="headline-text-btn-wrapper blue-bg stripe-bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="heading-wrapper">
                    <h2 class="h4">Medium Length Headline</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="paragraph-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="orange-action-btn">
                    <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="headline-text-btn-wrapper grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="heading-wrapper">
                    <h2 class="h4">Medium Length Headline</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="paragraph-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="blue-action-btn">
                    <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


    <section class="content-img-design orange-offset-bg bt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-last">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-top-right" src="../../college-dls/college/images/functional-1.png" alt="Heading Image"  loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-first">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="blue-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    <section class="content-img-design blue-offset-bg offset-left ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-bottom-left" src="../../college-dls/college/images/functional-1.png" alt="Heading Image" loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="orange-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="content-img-design orange-offset-bg  offset-left pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-bottom-left" src="../../college-dls/college/images/functional-1.png" alt="Heading Image"  loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="blue-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="content-img-design blue-offset-bg pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-last">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-top-right" src="../../college-dls/college/images/functional-1.png" alt="Heading Image" loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-first">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="orange-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <section class="headline-text-btn-wrapper grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="heading-wrapper">
                    <h2 class="h4">Medium Length Headline</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="paragraph-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="blue-action-btn">
                    <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="headline-text-btn-wrapper blue-bg stripe-bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="heading-wrapper">
                    <h2 class="h4">Medium Length Headline</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="paragraph-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="orange-action-btn">
                    <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="headline-text-btn-wrapper grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="heading-wrapper">
                    <h2 class="h4">Medium Length Headline</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="paragraph-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="blue-action-btn">
                    <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="content-img-design blue-offset-bg pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-last">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-top-right" src="../../college-dls/college/images/functional-1.png" alt="Heading Image" loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-first">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="orange-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="headline-text-btn-wrapper grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="heading-wrapper">
                    <h2 class="h4">Medium Length Display Stacked</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="paragraph-text">
                    <p></p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="blue-action-btn">
                    <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="content-img-design orange-offset-bg  offset-left pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-bottom-left" src="../../college-dls/college/images/functional-1.png" alt="Heading Image"  loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="blue-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="content-img-design pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-bottom-left" src="../../college-dls/college/images/functional-1.png" alt="Heading Image" loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="blue-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="content-img-design blue-offset-bg offset-left ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-bottom-left" src="../../college-dls/college/images/functional-1.png" alt="Heading Image" loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="orange-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="headline-text-btn-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="heading-wrapper">
                    <h2 class="h4">Medium Length Headline</h2>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="paragraph-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="orange-action-btn">
                    <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="content-img-design orange-offset-bg bt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-last">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-top-right" src="../../college-dls/college/images/functional-1.png" alt="Heading Image"  loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-first">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="blue-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    <section class="content-img-design pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-last">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-top-right" src="../../college-dls/college/images/functional-1.png" alt="Heading Image"  loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-first">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="blue-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="content-img-design blue-offset-bg pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-last">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-top-right" src="../../college-dls/college/images/functional-1.png" alt="Heading Image" loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-first">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Stacked</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="orange-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- END CTA -->
  </main>

</div>
