

<h3>Background Patterns</h3>
<div class="Prose">
    <div class="grid-list">
        <div class="grid-list__item">
            <div class="bg-color navy-bg-stripe bg-stripe">
                <div></div>
                <pre>Navy with Striped Pattern Background
                <span>.navy-bg-stripe .bg-stripe</span></pre>
            </div>
            <div class="bg-color bg-stripe bg-orange">
                <div></div>
                <pre>Primary Orange with Striped Background
                <span>.bg-stripe .bg-orange</span></pre>
            </div>
            <div class="bg-color muted-blue-bg">
                <div></div>
                <pre>Muted Blue Background
                <span>.muted-blue-bg</span></pre>
            </div>
            <div class="bg-color muted-blue-bg bg-stripe">
                <div></div>
                <pre>Muted Blue with Striped Pattern Background
                <span>.muted-blue-bg .bg-stripe</span></pre>
            </div>
            <div class="bg-color bg-stripe bg-cool-grey-stripe">
                <div></div>
                <pre>Cool Gray with Striped Background
                <span>.bg-stripe .bg-cool-grey-stripe</span></pre>
            </div>
        </div>
    </div>
</div>
