

 <div class="content-listing">
     <div class="container">
         <div class="row">
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                 <div class="highlight-card-componet-div blue">
    <div class="highlight-card-img">
        <img src="../../college-dls/college/images/content-highland-card.png" alt="Card Image" />
    </div>
    <div class="highlight-card-cntnt"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></div>
</div>

             </div>
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                 <div class="highlight-card-componet-div blue">
    <div class="highlight-card-img">
        <img src="../../college-dls/college/images/content-highland-card.png" alt="Card Image" />
    </div>
    <div class="highlight-card-cntnt"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></div>
</div>

             </div>
             <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                 <div class="highlight-card-componet-div blue">
    <div class="highlight-card-img">
        <img src="../../college-dls/college/images/content-highland-card.png" alt="Card Image" />
    </div>
    <div class="highlight-card-cntnt"><a href="#">Lorem ipsum dolor sit amet, consectetur</a></div>
</div>

             </div>
         </div>
     </div>
 </div>
