

<div>
    <form class="find-program-form form-design">
         <div class="darkblue-bg">
             <div class="form-grouph input-design">
                 <input type="text" placeholder="Search Degrees and Programs" title="Search Degrees and Programs">
             </div>
             <div class="form-grouph select-design">
                 <label id="bydegreetype" class="hide">by Degree Type</label>
                 <select class="js-example-disabled-results select2-hidden-accessible" aria-labelledby="bydegreetype"
                     data-select2-id="select2-data-3-ld5m" tabindex="-1" aria-hidden="true">
                     <option data-select2-id="select2-data-5-lp35">by Degree Type</option>
                     <option>by Degree Type</option>
                     <option>by Degree Type</option>
                 </select><span class="select2 select2-container select2-container--default" dir="ltr"
                     data-select2-id="select2-data-4-k7yh" style="width: 493.5px;"><span class="selection"><span
                             class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                             aria-expanded="false" tabindex="0" aria-disabled="false"
                             aria-labelledby="select2-9kdn-container" aria-controls="select2-9kdn-container"><span
                                 class="select2-selection__rendered" id="select2-9kdn-container" role="textbox"
                                 aria-readonly="true" title="by Degree Type">by Degree Type</span><span
                                 class="select2-selection__arrow" role="presentation"><b
                                     role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                         aria-hidden="true"></span></span>
             </div>
             <div class="form-grouph submit-design">
                 <input class="bg-darkorange color-white form-btn" type="submit" value="Search">
             </div>
         </div>
     </form>
 </div>
