<section class="grey-bg page-text-wrapper program-listing mt-5">

    <!-- Action Cards -->
    <div class="container">
        <div class="row" id="visit">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="highlight-card white-bg">
                    <div class="highlight-card-img">
                        <a href="/visit/tours/">
                            <img src="/college-dls/college/images/visit_cmptour_1000x750.jpg"
                                alt="campus visit image" />
                        </a>
                    </div>
                    <div class="highlight-card-content">
                        <a class="highlight-card-link pb-3" href="/visit/tours/">Campus Tours</a>
                        <p>Led by student ambassadors, see what our campus looks like and what UTSA can do for you to
                            enable you to reach your educational goals. Group tours are also available.</p>
                        <a class="blue-btn" href="/visit/tours/">View Campus Tours &amp; Register <i
                                class="fas fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="highlight-card white-bg">
                    <div class="highlight-card-img">
                        <a href="/visit/visits/">
                            <img src="/college-dls/college/images/visit_cmptour_1000x750.jpg"
                                alt="campus visit image" />
                        </a>
                    </div>
                    <div class="highlight-card-content">
                        <a class="highlight-card-link pb-3" href="/visit/visits/">Campus Visits</a>
                        <p>More than just a campus tour, various academic or campus partners host in-person visits on
                            campus that could include a presentation, specialized tour of certain facilities, student
                            panels, a meet-and-greet with faculty and staff, or more …</p>
                        <a class="blue-btn" href="/visit/visits/">View Campus Visits &amp; Register <i
                                class="fas fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="highlight-card white-bg">
                    <div class="highlight-card-img">
                        <a href="/visit/utsa-day/">
                            <img src="/college-dls/college/images/visit_cmptour_1000x750.jpg"
                                alt="campus visit image" />
                        </a>
                    </div>
                    <div class="highlight-card-content">
                        <a class="highlight-card-link pb-3" href="/visit/utsa-day/">UTSA Day</a>
                        <p>UTSA Day is our large Saturday open house event that happens three times a year. It includes
                            many activities like tours, presentations, workshops and more. Discover more about the
                            program or college you’re interested in, hear from admissions staff and understand your
                            financial aid options.</p>
                        <a class="blue-btn" href="/visit/utsa-day/">View UTSA Day &amp; Register <i
                                class="fas fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="highlight-card white-bg">
                    <div class="highlight-card-img">
                        <a href="/visit/infosessions/">
                            <img src="/college-dls/college/images/visit_cmptour_1000x750.jpg"
                                alt="campus visit image" />
                        </a>
                    </div>
                    <div class="highlight-card-content">
                        <a class="highlight-card-link pb-3" href="/visit/infosessions/">Info Sessions (Virtual)</a>
                        <p>Join our many virtual information sessions where we break down the various aspects of
                            admissions, financial aid, academics and more.</p>
                        <a class="blue-btn" href="/visit/infosessions/">View Info Sessions &amp; Register <i
                                class="fas fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="highlight-card white-bg">
                    <div class="highlight-card-img">
                        <a href="/visit/call/">
                            <img src="/college-dls/college/images/visit_cmptour_1000x750.jpg"
                                alt="campus visit image" />

                        </a>
                    </div>
                    <div class="highlight-card-content">
                        <a class="highlight-card-link pb-3" href="/visit/call/">Speak with a Student Ambassador</a>
                        <p>Hear about what it’s like to be a Roadrunner from a UTSA student by scheduling a call with
                            one of our student ambassadors. </p>
                        <a class="blue-btn" href="/visit/call/">Schedule a Call <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Color Selection Section -->
</section>