/* components/01-visual-styling/03-typography/01-headline/headline.scss */
/* BEGIN headline.scss */

h1 {
	font-size: 2.5rem;
	color: $blue;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

.h1 {
	font-size: 2.5rem;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

h2 {
	font-size: 2.25rem;
	color: $blue;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

.h2 {
	font-size: 2.25rem;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

h3 {
	font-size: 2rem;
	color: $blue;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

.h3 {
	font-size: 2rem;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

h4 {
	font-size: 1.75rem;
	color: $blue;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

.h4 {
	font-size: 1.75rem;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

h5 {
	font-size: 1.5rem;
	color: $blue;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

.h5 {
	font-size: 1.5rem;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

h6 {
	font-size: 1.25rem;
	color: $blue;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

.h6 {
	font-size: 1.25rem;
	font-weight: 700;
	font-family: $heading-font-family-sans-serif;
}

.display-1 {
	font-size: 4rem;
	line-height: 1;
	font-weight: 600;
	font-family: arsenal, sans-serif;
	color: $blue;
}

.display-2 {
	font-size: 3.75rem;
	font-weight: 600;
	line-height: 1.2;
	font-family: arsenal, sans-serif;
	color: $blue;
}

.display-3 {
	font-size: 3.5rem;
	font-weight: 600;
	line-height: 1.2;
	font-family: arsenal, sans-serif;
	color: $blue;
}

.display-4 {
	font-size: 3.25rem;
	font-weight: 400;
	line-height: 1.2;
	font-family: arsenal, sans-serif;
	color: $blue;
}

.display-5 {
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.3;
	font-family: arsenal, sans-serif;
	color: $blue;
}

.display-6 {
	font-size: 2.75rem;
	font-weight: 400;
	line-height: 1.3;
	font-family: arsenal, sans-serif;
	color: $blue;
}

.bullet-heading {
	font-size: 28px;
	font-weight: 400;
	font-family: "libre franklin", sans-serif;
	margin-bottom: 33px;
	text-transform: capitalize;
}
.standard-headlines {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
}

@include color-mode(dark) {
	h1, h2, h3, h4, h5, h6 {
		color: $white;
	}
	.white-bg {
		h1, h2, h3, h4, h5, h6 {
			color: $blue;
		}
	}
	.h2 {
		font-size: 2.25rem;
	}
	.h3 {
		font-size: 2rem;
	}
	.h4 {
		font-size: 1.75rem;
	}
	.h5 {
		font-size: 1.5rem;
	}
	.h6 {
		font-size: 1.25rem;
	}
}

@include media-breakpoint-down(lg) {
	.headings-typography-ul>li {
		padding-left: 0px;
		padding-right: 0px;
	}
}
/* END headline.scss */