

<div class="contact-card">
    <div class="row align-items-center mb-5 mt-3">
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="staff-card-img">
                <img class="clip-mask-top-right" src="../../college-dls/college/images/account-user.png" alt="Card Image" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-8">
            <div class="staff-card-content">
                <h2 class="h4">Contact</h2>
                <p class="staff-card-name">
                     <span class="icon"><i class=" fa-solid fa-link fa-sm" aria-hidden="true"></i></span> <a href="#">Jane Doe, Ph.D.</a>
                </p>
                <p class="profile-card-title mb-3">Associate Professor</p>
                <p class="staff-card-department">Department Name</p>
                <p class="mail-info">
                     <span class="icon"><i class="far fa-envelope fa-sm pr-1" aria-hidden="true"></i></span> <a href="#">jane.doe@utsa.edu</a>
                </p>
            </div>
        </div>
    </div>
</div>
