

<section class="timeline-container">
  <div class="container py-5">
    <h2>From College to Career</h2>
    <div class="main-timeline">
      <div class="col-12 timeline-banner-start"><h3>Medium Length Subheader</h3></div>
      <div class="timeline timeline-right">
        <div class="card">
          <div class="card-body p-4">
            <h3 class="timeline-section-header">1. Section Header</h3>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                  <ul>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                  </ul>
              </div>
              <div class="col-xs-12 col-md-6">
                <ul>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline timeline-right">
        <div class="card">
          <div class="card-body p-4">
            <h3 class="timeline-section-header">2. Section Header</h3>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                  <ul>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                  </ul>
              </div>
              <div class="col-xs-12 col-md-6">
                <ul>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline timeline-right">
        <div class="card">
          <div class="card-body p-4">
            <h3 class="timeline-section-header">3. Section Header</h3>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                  <ul>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                  </ul>
              </div>
              <div class="col-xs-12 col-md-6">
                <ul>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline timeline-right">
        <div class="card">
          <div class="card-body p-4">
            <h3 class="timeline-section-header">4. Section Header</h3>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                  <ul>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                      <li>List item or step to take</li>
                  </ul>
              </div>
              <div class="col-xs-12 col-md-6">
                <ul>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                    <li>List item or step to take</li>
                    <li class="orange-a11y"><p>BIG EVENT<br />Apply for Graduation</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 timeline-banner-end"><h3>Medium Length Subheader</h3></div>
    </div>
  </div>
</section>
