

<div class="container">
    <div class="medium-headline-component">
        <h2>Medium Length Display Heading</h2>
    </div>
    <div class="medium-headline-table">
        <table class="table-design-grey">
            <thead>
                <tr>
                    <th>First Category Title</th>
                    <th>Second Category Title</th>
                    <th>Third Category Title</th>
                    <th>Fourth Category Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Row One
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
                <tr>
                    <td>
                        Row Two
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
                <tr>
                    <td>
                        Row Three
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
                <tr>
                    <td>
                        Row Four
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
