

<section class="py-5 events-listing-sec">
    <div class="container">
        <div class="">
            <h3 class="blue fw-bold h4">Upcoming Events</h3>
        </div>

        <div class="event-horizontal-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="events-listing-img">
                    <img class="clip-mask-top-right" src="../../college-dls/college/images/Event-Listing-1.png" alt="Event Listing">
                    <div class="date-absolute">
                        <p class="months">APR - MAY</p>
                        <p class="months-date">29-3</p>
                        <p class="year">2021</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="events-listing-content">
                    <a class="event-link-overlay" href="#" aria-label="Event Overlay">&nbsp;</a>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <p>6-8 PM, Location Name, Main Campus</p>
                    <div class="right-arrow">
                        <img src="../../college-dls/utsa/images/Corner-Arrow.png" alt="Arrow Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="event-horizontal-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="events-listing-img">
                    <img class="clip-mask-top-right" src="../../college-dls/college/images/Event-Listing-1.png" alt="Event Listing">
                    <div class="date-absolute">
                        <p class="months">APR - MAY</p>
                        <p class="months-date">29-3</p>
                        <p class="year">2021</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="events-listing-content">
                    <a class="event-link-overlay" href="#" aria-label="Event Overlay">&nbsp;</a>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <p>6-8 PM, Location Name, Main Campus</p>
                    <div class="right-arrow">
                        <img src="../../college-dls/utsa/images/Corner-Arrow.png" alt="Arrow Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="event-horizontal-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="events-listing-img">
                    <img class="clip-mask-top-right" src="../../college-dls/college/images/Event-Listing-1.png" alt="Event Listing">
                    <div class="date-absolute">
                        <p class="months">APR - MAY</p>
                        <p class="months-date">29-3</p>
                        <p class="year">2021</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="events-listing-content">
                    <a class="event-link-overlay" href="#" aria-label="Event Overlay">&nbsp;</a>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <p>6-8 PM, Location Name, Main Campus</p>
                    <div class="right-arrow">
                        <img src="../../college-dls/utsa/images/Corner-Arrow.png" alt="Arrow Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="event-horizontal-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="events-listing-img">
                    <img class="clip-mask-top-right" src="../../college-dls/college/images/Event-Listing-1.png" alt="Event Listing">
                    <div class="date-absolute">
                        <p class="months">APR - MAY</p>
                        <p class="months-date">29-3</p>
                        <p class="year">2021</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="events-listing-content">
                    <a class="event-link-overlay" href="#" aria-label="Event Overlay">&nbsp;</a>
                    <h5>Lorem ipsum dolor sit amet</h5>
                    <p>6-8 PM, Location Name, Main Campus</p>
                    <div class="right-arrow">
                        <img src="../../college-dls/utsa/images/Corner-Arrow.png" alt="Arrow Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</section>
