<div class="container">
    <div class="container grey-bg p-5">
        <h2>Link Text with Arrow</h2>
        <div class="w-25">
            <a href="#" class="view-all-link" >{{ text }} <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
    <br />
    <div class="container white blue-bg p-5">
        <h2 class="white">Action Plain Button Link</h2>
        <div class="w-25">
            <a href="#" class="view-all-link">{{ text }} <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
    <br />
    <div class="container white orange-a11y-bg stripe-bg p-5">
        <h2>Action Plain Button Link</h2>
        <div class="w-25">
            <a href="#" class="view-all-link">{{ text }} <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>

</div>
