<lite-youtube videotitle="{{ title }}" videoid="{{ youtubeID }}" nocookie="true" autoload="true">
  <a class="lite-youtube-fallback" href="https://www.youtube.com/watch?v={{ youtubeID }}">{{ title }}"</a>
</lite-youtube>