

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="icon" type="image/x-icon" sizes="152x152" href="/college-dls/favicon.ico" />
  <link rel="preload" href="https://use.typekit.net" as="font" />
  <link rel="dns-prefetch" href="https://use.typekit.net" as="font">
  <link rel="preload" href="https://kit.fontawesome.com" as="font" />
  <link rel="dns-prefetch" href="https://kit.fontawesome.com" as="font" />

  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Video Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      
      <div class="container">
        <h2>Video Gallery</h2>
        <div class="row">
          <div class="col-md-3"><a class="popupYoutube" href="https://www.youtube.com/watch?v=3lztWxiJ170">
                                                    <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em><img alt="Adobe Journeys - Week 6 Adobe with a broken arm
" src="/college-dls/college/images/video-thumbnail-1.png">
                                            </a></div>
          <div class="col-md-3"><a class="popupYoutube" href="https://www.youtube.com/watch?v=zpvoYp9osDQ">
                                                    <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em><img alt="Adobe Quick Tips - Compositing in Photoshop" src="/college-dls/college/images/video-thumbnail-2.png">
                                            </a></div>
          <div class="col-md-3"><a class="popupYoutube" href="https://www.youtube.com/watch?v=FiRMQpyJBK8">
                                                    <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em><img alt="Journeys with Adobe - Aaron Rodriguez" src="/college-dls/college/images/video-thumbnail-3.png">
                                            </a></div>
          <div class="col-md-3"><a class="popupYoutube" href="https://www.youtube.com/watch?v=S_5HKIYvG5w">
                                                    <em aria-hidden="true" class="fa fa-play" tabindex="-1">&nbsp;</em><img alt="Journeys with Adobe - Elena Camargo
" src="/college-dls/college/images/video-thumbnail-4.jpg"">
                                            </a></div>
        </div>
        
      </div>
    </section>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/vendor.min.js" type="text/javascript"></script>
  <script src="../../college-dls/js/college-dls.min.js" type="text/javascript"></script>
</body>


</html>
