/* components/03-example-pages/06-faculty-profile-page/faculty-profile-page.scss */
/* BEGIN program-listing-page.scss */
.profile-details-component-div .profile-discovery-content {
	padding: 0 20px;
}
/* END program-listing-page.scss */