

<div class="container p-2">
    <div class="row">
        <h2>Simple Paragraph</h2>
        <p class="paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
            aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna neque,
            bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut sollicitudin nisl.
            Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in lorem pharetra dictum. Fusce
            pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque vehicula hendrerit id eu libero.
            </p>
    </div>
</div>

<div class="container p-2">
    <div class="row">
        <h2>Open Sans, .tk-open-sans</h2>
        <p class="tk-open-sans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
            aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna neque,
            bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut sollicitudin nisl.
            Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in lorem pharetra dictum. Fusce
            pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque vehicula hendrerit id eu libero.
            </p>
    </div>
</div>

<div class="container p-2">
    <div class="row">
        <h2>FF Meta Web Pro, .tk-ff-meta-web-pro</h2>
        <p class="tk-ff-meta-web-pro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt
            urna a porta lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
            aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna neque,
            bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut sollicitudin nisl.
            Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in lorem pharetra dictum. Fusce
            pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque vehicula hendrerit id eu libero.
            </p>
    </div>
</div>

<div class="container p-2">
    <div class="row">
        <h2>Kulturista Web, .tk-kulturista-web</h2>
        <p class="tk-kulturista-web">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt
            urna a porta lobortis. Aliquam sit amet eros quam. Fusce venenatis ipsum non est porta porttitor. Curabitur
            aliquet mattis elit. Mauris eget velit bibendum, auctor risus eu, elementum sem. Fusce magna neque,
            bibendum in efficitur ut, elementum non risus. Aenean vitae elementum risus. Donec ut sollicitudin nisl.
            Pellentesque vehicula eu neque ut iaculis. Phasellus dignissim augue in lorem pharetra dictum. Fusce
            pellentesque ut ipsum quis malesuada. Duis eu ipsum eget neque vehicula hendrerit id eu libero.
            </p>
    </div>
</div>

<div class="container p-2">
    <div class="row tk-open-sans">
        <h2 class="pb-2">Font Weight Examples</h2>
        <h3>Font Light .fw-light</h3>
        <p class="fw-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis.</p>
        <h3>Font Light .fw-normal</h3>
        <p class="fw-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis.</p>
        <h3>Font Light .fw-bold</h3>
        <p class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis.</p>
        <h3>Font Light .fw-bolder</h3>
        <p class="fw-bolder">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis.</p>
    </div>
</div>

<div class="container p-2">
    <div class="anchor-list-wrapper row">
        <h2  class="pb-2">Anchor Classes</h2>
        <div class="py-3">
            <a href="#">Anchor Link</a>
            <a href="#" class="grey-anchor">Anchor Link</a>
            <a href="#" class="orange-anchor">Anchor Link</a>
        </div>
    </div>
</div>

