

<div class="program-listing-a blue-bg">
    <form class="form-design">
        <div class="row">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="form-group input-design">
                    <label for="searchDegree" class="d-none">Search Degrees and
                        Programs</label>
                    <input id="searchDegree" type="text" placeholder="Search Degrees and Programs"
                        name="Search Degrees and Programs" />
                </div>
            </div>
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <div class="form-group select-design">
                    <label id="searchDegree" class="d-none">Search Degrees and
                        Programs</label>
                    <select class="js-example-disabled-results" aria-labelledby="searchDegree">

                        <option>Filter By Degree Type</option>
                    </select>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12">
                <div class="form-group submit-design">
                    <button class="orange-btn form-btn" type="submit" value="Search"
                        title="Search Degrees and Programs">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
