<!-- Sticky Header -->
<div class="top-navigation" aria-label="Main Navigation">
  <!-- Main Header -->
  <div id="main-header">
    <div class="container">
      <nav class="navbar navbar-expand-md" aria-label="Top Navigation">
        <a class="navbar-brand p-2" href="#" aria-label="Logo Image">
          <img
            class="college-logo"
            width="265px"
            height="33px"
            alt="Full College Name Goes Here"
            src="{{path
              '/college-dls/college/images/logo-hcap-2color-formal-single-short.svg'
            }}"
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar4"
          aria-label="Toggle"
        >
          <span class="navbar-toggler-icon"><i class="fal fa-bars"></i></span>
          <span class="navbar-toggler-close-icon" style="display: none;"><i
              class="fal fa-times"
            ></i></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="collapsibleNavbar4"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                aria-label="Programs menu dropdown"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="programs"
              >Programs</a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/programs/index.html#Undergraduate-Programs"
                  target="_parent"
                >Undergraduate</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/programs/index.html#Masters-Programs"
                  target="_parent"
                >Master's Programs</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/programs/index.html#Doctoral-Programs"
                  target="_parent"
                >Doctoral Programs</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/programs/index.html#Certificate-Programs"
                  target="_parent"
                >Certificate Programs</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/programs/index.html#Concentrations"
                  target="_parent"
                >Concentrations</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/programs/index.html#Minors"
                  target="_parent"
                >Minors</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                aria-label="Faculty menu dropdown"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="faculty"
              >Faculty</a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/faculty/index.html"
                  target="_parent"
                >Faculty</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/faculty/council/index.html"
                  target="_parent"
                >Faculty Council</a>
              </div>
            </li>
            <li class="nav-item"><a
                aria-label="HCAP Research"
                class="nav-link"
                href="https://hcap.utsa.edu/research/index.html"
                target="_parent"
              >Research</a></li>
            <li class="nav-item">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                aria-label="Disciplines menu dropdown"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="disciplines"
              >Disciplines</a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/criminal-justice/index.html"
                  target="_parent"
                >Criminology and Criminal Justice</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/kinesiology/index.html"
                  target="_parent"
                >Kinesiology</a>
                <a
                  aria-label="Nutrition and Dietetics"
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/nutrition-and-dietetics/index.html"
                  target="_parent"
                >Nutrition and Dietetics</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/psychology/index.html"
                  target="_parent"
                >Psychology</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/public-administration/index.html"
                  target="_parent"
                >Public Administration</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/public-health/index.html"
                  target="_parent"
                >Public Health</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/social-work/index.html"
                  target="_parent"
                >Social Work</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/sociology-and-demography/index.html"
                  target="_parent"
                >Sociology and Demography</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                aria-label="Student Success menu dropdown"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="student-success"
              >Student Success</a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/student-success/index.html"
                  target="_parent"
                >Student Success Home</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/student-success/aid-scholarships.html"
                  target="_parent"
                >Awards, Aid and Scholarships</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/student-success/career-success.html"
                  target="_parent"
                >Career Success</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/student-success/academic-success.html"
                  target="_parent"
                >Academic Success</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/student-success/student-success-center.html"
                  target="_parent"
                >Student Success Center</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/student-success/timeline.html"
                  target="_parent"
                >Roadmap to Success</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                aria-label="News &amp; Events menu dropdown"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="news--amp--events"
              >News &amp; Events</a>
              <div class="dropdown-menu">
                <a
                  aria-label="College for Health, Community and Policy News"
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/news/index.html"
                  target="_parent"
                >News</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/events/index.html"
                  target="_parent"
                >Events</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                aria-label="About menu dropdown"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="about"
              >About</a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/about/index.html"
                  target="_parent"
                >About Us</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/about/deans-office.html"
                  target="_parent"
                >Leadership and Staff</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/about/meet-the-dean.html"
                  target="_parent"
                >Meet the Dean</a>
                <a
                  aria-label="Business Service Center"
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/about/business-service-center/index.html"
                  target="_parent"
                >Business Service Center</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/about/contact-us.html"
                  target="_parent"
                >Contact Us</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/support-hcap/index.html"
                  target="_parent"
                >Support HCAP</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/about/adv-council.html"
                  target="_parent"
                >Dean's Advisory Council</a>
                <a
                  class="dropdown-item"
                  href="https://hcap.utsa.edu/about/restorative-practices.html"
                  target="_parent"
                >Restorative Practices</a>
              </div>
            </li>
            <li class="nav-item mobile-nav-btns">
              <a
                class="action-btn"
                href="https://hcap.utsa.edu/requestinfo.html"
                target="_parent"
              >Request Info <i class="fas fa-arrow-right"></i></a>
              <a
                class="action-btn"
                href="https://www.utsa.edu/visit/"
                target="_parent"
              >Visit <i class="fas fa-arrow-right"></i></a>
              <a
                class="action-btn"
                href="https://www.utsa.edu/admissions/"
                target="_parent"
              >Apply <i class="fas fa-arrow-right"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!--End Main Header -->
  <!-- Request Apply Header -->
  <div class="bottom-absolute-header d-flex flex-row-reverse">
    <div id="orange-bg-header">
      <div class="container">
        <ul class="orange-header-list">
          <li class="nav-item"><a class="nav-link" href="#">Request Info</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Visit</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Apply</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Sticky Header -->