<div class="container py-4 bg-cool-grey">
  <div class="row">
    <div class="col">
      {{> @action-card }}
    </div>
    <div class="col">
      {{> @action-card }}
    </div>
    <div class="col">
      {{> @action-card }}
    </div>
  </div>
</div>