<h3>Foreground Colors</h3>
<div class="container">
    <div class="row" style="height:15rem;">
        <div class="col-3 lightgrey-bg color-blue p-2">
            <h4>Blue Color</h4>
            <span>.color-blue #025efc</span>
        </div>

        <div class="col-3 lightgrey-bg color-white p-2">
            <h4>White Color</h4>
            <span>.color-white #ffffff</span>
        </div>

        <div class="col-3 lightgrey-bg color-orange p-2">
            <h4>Orange Color</h4>
            <span>.color-orange #d3430d</span>
        </div>
    </div>

    <div class="row" style="height:15rem;">
        <div class="col-3 lightgrey-bg color-darkblue p-2">
            <h4>Darkblue Color</h4>
            <span>.color-darkblue #0b2340</span>
        </div>

        <div class="col-3 lightgrey-bg light-grey p-2">
            <h4>Light Grey Color</h4>
            <span>.light-grey #949494</span>
        </div>

        <div class="col-3 lightgrey-bg color-black p-2">
            <h4>Black Color</h4>
            <span>.lightgrey-bg #000000</span>
        </div>
    </div>
</div>


<h3>Background Colors</h3>
<div class="container">
    <div class="row" style="height:15rem;">
        <div class="col-3 lightgrey-bg p-2">
            <h4>Light Grey Background</h4>
            <span>.lightgrey-bg #e7e7e7</span>
        </div>

        <div class="col-3 darkblue-bg p-3 color-white">
            <h4>Dark Blue Background</h4>
            <span>.darkblue-bg #0b2341</span>
        </div>

        <div class="col-3 white-bg p-3">
            <h4>White Background</h4>
            <span>.white-bg #ffffff</span>
        </div>

        <div class="col-3 bg-orange p-3 color-white">
            <h4>Orange Background</h4>
            <span>.bg-orange #f15b22</span>
        </div>
    </div>

    <div class="row" style="height:15rem;">
        <div class="col-3 navy-bg p-2 color-white">
            <h4>Primary Navy Background</h4>
            <span>.navy-bg #0b2241</span>
        </div>

        <div class="col-3 bg-darkorange p-3 color-white">
            <h4>Dark Orange Background</h4>
            <span>.bg-darkorange #d3430d</span>
        </div>

        <div class="col-3 bg-warm-grey p-3">
            <h4>Warm Grey Background</h4>
            <span>.bg-warm-grey #e7e7e7</span>
        </div>

        <div class="col-3 bg-cool-grey p-3 ">
            <h4>Cool Grey Background</h4>
            <span>.bg-cool-grey #dbdee3</span>
        </div>
    </div>
</div>