

<div class="staff-card-component-div">
    <div class="row mb-5">
        <h2 class="h3">Linked Variant</h2>
        <hr />
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="staff-card-img">
                <img class="clip-mask-top-right" src="../../college-dls/college/images/account-user.png" alt="Card Image" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-8">
            <div class="staff-card-content">
                <h2 class="h4">Contact</h2>
                <p class="staff-card-name">
                     <span class="icon"><i class=" fa-solid fa-link fa-sm" aria-hidden="true"></i></span> <a href="#">Jane Doe, Ph.D.</a>
                </p>
                <p class="profile-card-title mb-3">Associate Professor</p>
                <p class="staff-card-department">Department Name</p>
                <a class="mail-info" href="mailto:jane.doe@utsa.edu"><span class="icon"><i class=" far fa-envelope fa-sm" aria-hidden="true"></i></span> jane.doe@utsa.edu</a>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="h3">Unlinked Variant</h2>
        <hr />
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="staff-card-img">
                <img class="clip-mask-top-right" src="../../college-dls/college/images/account-user.png" alt="Card Image" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-8">
            <div class="staff-card-content">
                <h2 class="h4">Contact</h2>
                <p class="staff-card-name">Jane Doe, Ph.D.</p>
                <p class="profile-card-title mb-3">Associate Professor</p>
                <p class="staff-card-department">Department Name</p>
                <a class="mail-info" href="mailto:jane.doe@utsa.edu"><span class="icon"><i class=" far fa-envelope fa-sm" aria-hidden="true"></i></span> jane.doe@utsa.edu</a>
            </div>
        </div>
    </div>
</div>


