<div class="container">
    <div class="container p-5">
        <h2>Blue Angled Action Button</h2>
        <div class="w-25">
            <div class="blue-action-btn">
                <a href="#" class="action-btn">Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="container  p-5">
        <h2>Orange Angled Action Button</h2>
        <div class="w-25">
            <div class="orange-action-btn">
                <a href="#" class="action-btn">Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="container  p-5">
        <h2>Orange Angled Action Button Large</h2>
        <div class="w-25">
            <div class="orange-action-large-btn">
                <a href="#" class="action-btn btn-large">Action <i class="fas fa-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

</div>