<div class="container">
    <div class="container pt-5 mt-5">
        <h2>Blue Angled Action Button</h2>
        <div class="w-25">
            <div class="blue-action-btn">
                <a href="#" class="action-btn">Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="container pt-5 mt-5">
        <h2>Orange Angled Action Button</h2>
        <div class="w-25">
            <div class="orange-action-btn">
                <a href="#" class="action-btn">Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="roadrunner-btns">
            <div class="row">
                <h2>Orange Angled Action Button Large</h2>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <a href="#" class="action-btn">Request Information <i class="fas fa-arrow-right"
                            aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>