

<!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg">
            <a href="#" class="content-card-link">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
        </div>
    </div>
</div>
<!-- End card Component -->

