<section class="research-upcoming-events">
    <div class="container">
        <div class="utsa-research-upcoming">
            <h4 class="blue fw-bold h4">Upcoming Events</h4>
        </div>

        {{ render '@event-card--horizontal-image' }}

        {{ render '@event-card--horizontal-image' }}

        {{ render '@event-card--horizontal-image' }}

        {{ render '@event-card--horizontal-image' }}

    </div>
</section>