<section class="py-5 events-listing-sec">
    <div class="container">
        <div class="">
            <h3 class="blue fw-bold h4">Upcoming Events</h3>
        </div>

        {{ render '@event-card--horizontal-image' }}

        {{ render '@event-card--horizontal-image' }}

        {{ render '@event-card--horizontal-image' }}

        {{ render '@event-card--horizontal-image' }}

    </div>
</section>