<div class="py-5 events-listing-sec">
    <div class="container-1300px">
        <div class="inner-sec-headings">
            <h2 class="blue fw-bold h4">Upcoming Events</h2>
            <a class="view-all-link" href="#">View All Events <i class="fas fa-arrow-right"
                    aria-hidden="true"></i></a>
        </div>
                
        {{ render '@event-card--horizontal' }}

        {{ render '@event-card--horizontal-blue' }}

        {{ render '@event-card--horizontal' }}
    </div>
</div>