

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/theme/theme.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Default Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <div class="container">
    <div class="row" style="height:15rem;">
        <div class="col-4 border-top-5px-orange p-2">
            <h4>Border Top Orange 5px</h4>
            <span>.border-top-5px-orange</span>
        </div>
</div>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/college-dls.js" type="text/javascript"></script>
</body>


</html>
