

<div class="program-listing-b orange-bg">
    <form class="form-design">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group input-design">
                    <label for="searchDegreeone" class="d-none">Search Degrees and Programs</label>
                    <input id="searchDegreeone" type="text" placeholder="Search Degrees and Programs"
                        name="Search Degrees and Programs" />
                </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <div class="form-group select-design">
                            <label for="byalpha" class="d-none">Search Degrees and Programs</label>
                            <select id="byalpha" class="js-example-disabled-results" aria-labelledby="byalpha">
                                <option>by Alpha</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <div class="form-group select-design">
                            <label for="bydepartment" class="d-none">by Department</label>
                            <select id="bydepartment" class="js-example-disabled-results" aria-labelledby="bydepartment">
                                <option>by Department</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <div class="form-group select-design">
                            <label for="bydegree" class="d-none">by Degree</label>
                            <select id="bydegree" class="js-example-disabled-results" aria-labelledby="bydegree">
                                <option>by Degree</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <div class="form-group select-design">
                            <label for="interest" class="d-none">by Interest/Skill</label>
                            <select id="interest" class="js-example-disabled-results" aria-labelledby="interest">
                                <option>by Interest/Skill</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12">
                <div class="form-group submit-design">
                    <button class="blue-btn form-btn" type="submit" value="Search">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
