

<section class="grey-bg pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center d-flex">

            <div class="col-md-4">
                <div class="blue-action-btn">
    <a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
</div>
            </div>

            <div class="col-md-4">
                <div class="blue-action-btn">
    <a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
</div>
            </div>

            <div class="col-md-4">
                <div class="blue-action-btn">
    <a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
</div>
            </div>

        </div>
    </div>
</section>
