
<div class="p-3">
    <h2>Font Family Classes</h2>
    <br/>
    <span class="tk-open-sans">Open Sans: .tk-open-sans {{ text }} </h1>
    <br/>
    <span class="tk-ff-meta-web-pro">FF Meta Web Pro: .tk-ff-meta-web-pro</h1>
    <br/>
    <span class="tk-kulturista-web">Kulturista Web: .tk-ff-meta-web-pro</h1>
</div>
<div class="mt-1 p-3">
    <h2>Font Weight Classes</h2>
    <br/>
    <span class="fw-light">Font Light .fw-light</span>
    <br/>
    <span class="fw-normal">Font Regular .fw-normal</span>
    <br/>
    <span class="fw-medium">Font Medium .fw-medium</span>
    <br/>
    <span class="fw-semibold">Font Semibold .fw-semibold</span>
    <br/>
    <span class="fw-bold">Font Bold .fw-bold</span>
    <br/>
    <span class="fw-bolder">Font ExtraBold .fw-bolder</span>
</div>
