<!DOCTYPE html>
<html lang="en">
   <head>
    <title>UTSA</title>
    <meta charset="utf-8">
    <meta name="keywords" content="UTSA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA">
    <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css">
    <link media="all" rel="stylesheet" href="{{ path '/stylesheets/site.css' }}">
    <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
    <title>{{ _target.label }} Preview</title>

      <link href="images/fav.ico" rel="Shortcut Icon" type="image/ico">
      <!-- Adobe Font -->
      <link href="css/select2.min.css" rel="stylesheet" />
   </head>
   <body>
      <!-- Body Wrapper -->
      {{{ yield }}}
      <!--End Body Wrapper -->

      <!-- Loader Script -->
      <!--
      <script src="js/jquery.min.js"></script>
      -->
      <!-- Bootstrap Js -->
      <!--
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/script.js"></script>
      -->
      <!-- Font Awsome Pro -->
      <!--
      <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
      <script src="js/select2.min.js"></script>
      <script>
         $(window).on('load', function () {
         $("#cover").fadeOut(1750);
         });
      </script>
      -->
      <!-- Loader Script -->
   </body>
</html>