

<section class="banner" id="banner-rotating">
   <h1 class="visually-hidden">Page Title</h1>
   <div class="slider-wrapper ">
      <div class="overlay"></div>
      <div id="hero-slider" class="carousel slide" data-bs-pause="false" aria-roledescription="carousel"
         aria-label="slides for content">
         <!-- The slideshow -->
         <div class="carousel-inner" aria-live="off">
            <div class="carousel-item active" role="group" aria-roledescription="slide" aria-label="1 of 4">
               <div class="hero-banner-slider" style="background-image: url('../../college-dls/college/images/placeholders/placeholder-1200-600-blue.svg');">
                  <div class="container">
                     <div class="hero-banner-content">
                        <h2 class="h1 banner-heading">I am a default banner. <span class="display-block">heading</span></h2>
                        <p class="banner-description">I am a much longer description subheading that goes here<span class="display-block">consectetur
                              adipiscing elit.</span></p>
                        <div class="banner-btns">
                           <a class="orange-btn" href="#">Action</a>
                           <a class="white-btn" href="#">Action</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item active" role="group" aria-roledescription="slide" aria-label="1 of 4">
               <div class="hero-banner-slider" style="background-image: url('../../college-dls/college/images/placeholders/placeholder-1200-600-orange.svg');">
                  <div class="container">
                     <div class="hero-banner-content">
                        <h2 class="h1 banner-heading">I am a default banner. <span class="display-block">heading</span></h2>
                        <p class="banner-description">I am a much longer description subheading that goes here<span class="display-block">consectetur
                              adipiscing elit.</span></p>
                        <div class="banner-btns">
                           <a class="orange-btn" href="#">Action</a>
                           <a class="white-btn" href="#">Action</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item active" role="group" aria-roledescription="slide" aria-label="1 of 4">
               <div class="hero-banner-slider" style="background-image: url('../../college-dls/college/images/placeholders/placeholder-1200-600-blue.svg');">
                  <div class="container">
                     <div class="hero-banner-content">
                        <h2 class="h1 banner-heading">I am a default banner. <span class="display-block">heading</span></h2>
                        <p class="banner-description">I am a much longer description subheading that goes here<span class="display-block">consectetur
                              adipiscing elit.</span></p>
                        <div class="banner-btns">
                           <a class="orange-btn" href="#">Action</a>
                           <a class="white-btn" href="#">Action</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Indicators -->
         <ul class="carousel-indicators container">
            <li><button data-bs-target="#hero-slider" data-bs-slide-to="0" class="active"
                  aria-label="Slide First">&nbsp;</button></li>
            <li><button data-bs-target="#hero-slider" data-bs-slide-to="1" aria-label="Slide Second">&nbsp;</button>
            </li>
            <li><button data-bs-target="#hero-slider" data-bs-slide-to="2" aria-label="Slide Third">&nbsp;</button></li>
         </ul>
         <!-- Left and right controls -->
         <a class="carousel-control-prev" href="#hero-slider" data-bs-slide="prev" aria-label="Previous Arrow">
            <span class="carousel-prev-icon"><i class="fal fa-arrow-left" aria-hidden="true"></i></span>
         </a>
         <a class="carousel-control-next" href="#hero-slider" data-bs-slide="next" aria-label="Next Arrow">
            <span class="carousel-next-icon"><i class="fal fa-arrow-right" aria-hidden="true"></i></span>
         </a>
         <div id="carousel-button">
            <div class="carousel-controls" data-click="1">
               <button id="pauseButton" type="button" class="btn rotation pause" aria-label="pause"
                  aria-label="Stop automatic slide show">
                  <i class="fas fa-pause-circle" aria-hidden="true"></i>
               </button>
            </div>
         </div>
      </div>
   </div>
</section>
