<div class="container">
    <div class="medium-headline-component">
        <h2>{{ heading }}</h2>
    </div>
    
        <table>
            <thead>
                <tr>
                    <th scope="col">First Category Title</th>
                    <th scope="col">Second Category Title</th>
                    <th scope="col">Third Category Title</th>
                    <th scope="col">Fourth Category Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        Row One
                    </th>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Row Two
                    </th>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Row Three
                    </th>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Row Four
                    </th>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
            </tbody>
        </table>
</div>