<div class="container">
    <div class="medium-headline-component">
        <h2>{{ heading }}</h2>
    </div>
    
        <table>
            <thead>
                <tr>
                    <th scope="col">First Category Title</th>
                    <th scope="col">Second Category Title</th>
                    <th scope="col">Third Category Title</th>
                    <th scope="col">Fourth Category Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        Row One
                    </th>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Row Two
                    </th>
                    <td>
                        <a href="#">Link</a>
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Row Three
                    </th>
                    <td>
                        <p>Data in p tag</p>
                    </td>
                    <td>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                            <li>Provident porro saepe doloremque labore ipsum inventore recusandae voluptas aperiam, dolore non veniam iure adipisci ipsam laborum.</li>
                            <li>Provident laborum, obcaecati, alias deleniti consectetur harum voluptas exercitationem debitis molestias dolores nihil, quia a ratione repellat asperiores molestiae sed et aperiam aspernatur.</li>
                        </ul>
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Row Four
                    </th>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
            </tbody>
        </table>
</div> 