<section class="content-callout-wrapper blue-bg py-5">
    <div class="container mx-auto">
        <h2 class="h3 orange-a11y">{{ headline }}</h2>
        <p class="white mb-5">{{ subhead }}</p>
        <div class="row white text-center">
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-plug-circle-check fa-6x p-3"></span>
                <h3 class="h6 white">All Utilities Included</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-washing-machine fa-6x p-3"></span>
                <h3 class="h6 white">Laundry Room</h3>
                <p>Ducimus sint saepe impedit sequi veniam quia, eveniet obcaecati doloribus consectetur laborum illum reiciendis.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-person-swimming fa-6x p-3"></span>
                <h3 class="h6 white">Swimming Pool/Hot Tub</h3>
                <p>Officia enim ipsam nobis? Aliquid ex at harum.</p>
            </div>            
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-wifi-weak fa-6x p-3"></span>
                <h3 class="h6 white">High Speed Internet/Wi-Fi</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-basketball-hoop fa-6x p-3"></span>
                <h3 class="h6 white">Basketball courts</h3>
                <p>Ducimus sint saepe impedit sequi veniam quia, eveniet obcaecati doloribus consectetur laborum illum reiciendis.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-bench-tree fa-6x p-3"></span>
                <h3 class="h6 white">Two Courtyards</h3>
                <p>Officia enim ipsam nobis? Aliquid ex at harum.</p>
            </div>            
        </div>
    </div>
</section>