<section class="content-callout-wrapper white py-5">
    <div class="container mx-auto">
        <h2 class="h3">{{ headline }}</h2>
        <p class="mb-5 blue">{{ subhead }}</p>
        <div class="row blue text-center">
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-plug-circle-check fa-6x p-3"></span>
                <h3 class="h6">All Utilities Included</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-washing-machine fa-6x p-3"></span>
                <h3 class="h6">Laundry Room</h3>
                <p>Ducimus sint saepe impedit sequi veniam quia, eveniet obcaecati doloribus consectetur laborum illum reiciendis.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-person-swimming fa-6x p-3"></span>
                <h3 class="h6">Swimming Pool/Hot Tub</h3>
                <p>Officia enim ipsam nobis? Aliquid ex at harum.</p>
            </div>            
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-wifi-weak fa-6x p-3"></span>
                <h3 class="h6">High Speed Internet/Wi-Fi</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-solid fa-basketball fa-6x p-3"></span>
                <h3 class="h6">Basketball courts</h3>
                <p>Ducimus sint saepe impedit sequi veniam quia, eveniet obcaecati doloribus consectetur laborum illum reiciendis.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 my-3 mb-3">
                <span class="fa-duotone fa-bench-tree fa-6x p-3"></span>
                <h3 class="h6">Two Courtyards</h3>
                <p>Officia enim ipsam nobis? Aliquid ex at harum.</p>
            </div>            
        </div>
    </div>
</section>