

<section class="py-5 content-listing">
    <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <!--Card Component -->
<div class="content-card-wrapper">
    <div class="content-card position-relative white-bg h-100">
        <div class="content-card-img">
            <img src="../../college-dls/utsa/images/card-image.png" class="clip-mask-top-right" alt="Content Card Image">
        </div>
        <div class="content-card-content position-relative grey-bg px-lg-2">
            <a href="#" class="content-card-link px-lg-2">Lorem ipsum dolor sit amet, consectetur </a>
            <p class="font-14 blue regular px-lg-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel purus ut arcu tempor mollis vitae sit amet nulla. Morbi quis interdum odio, ut hendrerit</p>
            <div class="blue-action-btn">
	<a href="#" class="action-btn">Call to Action <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
</div>

        </div>
    </div>
</div>
<!-- End card Component -->

                </div>
            </div>
    </div>
</section>


