

<section class="banner" id="banner-video">
   <div class="video-banner-wrapper">
         <video id="video" width="100%" height="auto" poster="../../college-dls/college/images/video-poster.png">
            <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/example-mp4.mp4" type="video/mp4">
            <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/example-webm.webm" type="video/webm">
         </video>
      <div class="video-content-block">
         <h1>Department Of <span class="display-block">Accounting</span></h1>
      </div>
      <div class="video-Controls">
         <div class="play-pause-btn" data-click="0">Play Video <i class="fal fa-play-circle" aria-hidden="true"></i></div>
      </div>
   </div>
</section>
