/* Dark Mode - Global Styles */
@include color-mode(dark) {
	--bs-body-bg: $grey-e-bg;
	.blue {
		color:$blue;
	}
	.white {
		color:$white;
	}
	.orange {
		color:$orange;
	}
	.orange-a11y {
		color:$orange-a11y;
	}
	.grey {
		color: $grey;
	}
}
/* Dark Mode - Global Styles END */

/* Dark Mode - Font and Text Styles */
@include color-mode(dark) {
	h2, h3, h4, h5, h6, p, ul li, a {
		color: $white;
	}
	.paragraph-text {
		color:$white;
	}
	.grey-bg, .orange-bg {
		h2 {
			color: $blue;
		}
	}
}
/* Font and Text Styles END */

/* Dark Mode - Header and Main Navigation Styles */
// @include color-mode(dark) {
// 	#main-header {
// 		background-color: var(--bs-body-bg);
// 	}

// 	.main-header #main-header .navbar-nav > .nav-item .nav-link {
// 		color: $white;
// 		&:hover, &:active, &:focus {
// 			color: $blue;
// 		}
// 	}

// 	#main-header .navbar-nav > .nav-item {
// 		&:hover, &:active, &:focus {
// 			background-color: $grey;
// 		}
// 	}

// 	#main-header .navbar-nav > .nav-item .dropdown-menu {
// 		background-color: $grey;
// 	}

// 	img.college-logo {
// 		filter: grayscale(1) brightness(10) contrast(1);
// 		&:hover {
// 			filter: grayscale(0) brightness(100%) contrast(100%);
// 		}
// 	}
// }
/* Header and Main Navigation Styles END */

/* Dark Mode - Side Navigation Styles */
// @include color-mode(dark) {
// 	.department-menu-bar .sidebar {
// 		background-color:#151515;
// 	}
// 	.department-menu-bar .sidebar li.nav-item {
// 		span.heading, span.no-link {
// 			color: $grey;
// 		}
// 		a {
// 			color:$grey;
// 			border-bottom:1px solid $orange;
// 			&:hover {
// 				background-color: $blue;
// 			}
// 			&:active, &:focus {
// 				background-color: $orange-a11y;
// 			}
// 		}
// 		&:first-child a {
// 			border-top:1px solid $orange;
// 		}
// 		.disabled-link {
// 			color: $grey-c;
// 		}
// 	}
// 	.department-menu-bar .sidebar .dropdown-menu {
// 		background-color: $grey-e;
// 	}
// 	.department-menu-bar .sidebar li.nav-item button span:first-child {
// 		color: $white;
// 	}
// 	.department-menu-bar .sidebar .nav-item .plus-toggle {
// 		color: $orange;
// 	}
// }
/* Side Navigation Styles END */

/* Dark Mode - Component Styles - Home Slider */
// @include color-mode(dark) {
// 	.carousel .carousel-indicators [data-bs-target] {
// 		background-color: $grey;
// 	}
// 	.banner-btns a.white-btn {
// 		color:$blue;
// 		&:hover {
// 			color:$white;
// 		}
// 	}
// }
/* Component Styles - Home Slider END */

/* Dark Mode - Component Styles - Accordions */
// @include color-mode(dark) {
// 	.accordion-body-content {
// 		p, ul li, h2, h3, h4, h5, h6 {
// 			color: $blue;
// 		}
// 	}
// }
/* Component Styles - Accordions END */

/* Dark Mode - Component Styles - Tabs */
@include color-mode(dark) {
	.tab-wrapper .tab-header {
		h2, .h2, h3, .h3 {
			color:$orange;
		}
	}
	.tab-wrapper .tab-content .tab-body-content {
		p, ul li, a, h2, h3, h4, h5, h6 {
			color: $blue;
		}
	}
}
/* Component Styles - Tabs END */

/* Dark Mode - Component Styles - CTAs */
// @include color-mode(dark) {
// 	.content-img-design .heading-paragraph-design .h3 {
// 		color: $orange;
// 	}
// 	.content-img-design .heading-paragraph-design .h4 {
// 		color: $grey;
// 	}
// 	.headline-text-btn-wrapper .paragraph-text p {
// 		color: $white;
// 	}
// }
/* Component Styles - CTAs END */

/* Dark Mode - Component Styles - Content List */
@include color-mode(dark) {
	.highlight-card .highlight-card-content p {
		color: $blue;
	}
}
/* Component Styles - Content List END */

/* Dark Mode - Component Styles - Link List */
@include color-mode(dark) {
	.resources-list li a {
		border-bottom: 1px solid $orange;
		color: $grey;
		&:hover {
			background-color: $blue;
		}
	}
}
/* Component Styles - Link List END */

/* Dark Mode - Component Styles - News and Events */
@include color-mode(dark) {
	.inner-sec-headings .h4 {
		color: $orange;
	}
	.view-all-link {
		color: $white;
		&:hover {
			color:$blue;
		}
	}
	.news-card.white-bg .news-card-content p {
		color: $blue;
	}
	.events-listing-content {
		h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
			color:$orange;
		}
	}
	.event-text-design {
		.months, .year {
		color:$grey;
		}
		.months-date {
			color:$orange;
		}
	}
	.event-horizontal .row {
		border-bottom: 1px solid $grey-c;
	}
}
/* Component Styles - News and Events END */

/* Dark Mode - Component Styles - Faculty Profiles */
@include color-mode(dark) {
	.profile-card .profile-card-content {
		p, .profile-card-title, .mail-info, .phone-no {
			color:$blue;
		}
	}
	.profile-card-list {
		h2, .h2 {
			color: $blue;
		}
	}
	.profile-details-component-div {
		h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		color:$orange;
		}
	}
	.profile-details-component-div .profile-details-title {
		color:$grey;
	}
	.faculty-contact-list, .faculty-degree-list {
		ul li {
		color:$white;
		}
		ul li a {
			color:$white;
				&:hover{
					color:$blue;
				}
			}
	}
}
/* Component Styles - Faculty Profiles END */

/* Dark Mode - Component Styles - Faculty Slider */
@include color-mode(dark) {
	.faculty-slider .inner-sec-headings h2 {
		color: $orange;
	}
	.faculty-slider {
		.faculty-slider-name {
			border-top: 6px solid $blue;
			a {color: $orange;
			}
		}
		.faculty-slider-title {
			color: $grey;
		}
	}
	.faculty-slider.grey-bg .inner-sec-headings h2 {
		color: $blue;
	}
	.faculty-slider.grey-bg {
		.faculty-slider-name {
			border-top: 6px solid $orange-a11y;
			a {color: $orange-a11y;
			}
		}
		.faculty-slider-title {
			color: $blue;
		}
	}
	.faculty-slider.orange-a11y-bg .inner-sec-headings h2 {
		color: $blue;
	}
	.faculty-slider.orange-a11y-bg {
		.faculty-slider-name {
			border-top: 6px solid $blue;
			a {color: $white;
				&:hover {
					color: $blue;
				}
			}
		}
		.faculty-slider-title {
			color: $white;
		}
	}
}
/* Component Styles - Faculty Slider END */

/* Dark Mode - Component Styles - Programs */
@include color-mode(dark) {
	.program-listing {
		h2, h3, h4, h5, h6 {
			color:$blue;
		}
	}
}
/* Component Styles - Programs END */

/* Dark Mode - Component Styles - News Story Page */
@include color-mode(dark) {
	.news-inner-wrapper .news-subtitle, .news-inner-wrapper .news-post-details {
		color: $grey;
	}
	.news-inner-wrapper .img-caption {
		color: $blue;
	}
	.news-inner-wrapper .news-text-block {
		h2, h3, h4, h5, h6 {
		color: $orange;
		}
	}
	.news-inner-wrapper .news-text-block p {
		color: $white;
	}
}
/* Component Styles - News Story Page END */

/* Dark Mode - Component Styles - Contact Info */
@include color-mode(dark) {
	.department-information h6, .contact-card .staff-card-content p, .staff-card-content .h4 {
		color: $white;
	}
	.department-information ul li {
		color: $white;
	}
	.staff-card-content .staff-card-name a, .staff-card-content .mail-info a {
		color: $orange;
		&:hover {
			color: $blue;
		}
	}
}
/* Component Styles - Contact Info END */

/* Dark Mode - Component Styles - Blockquotes */
@include color-mode(dark) {
	.blockquote-heading h3 {
		color: $orange;
	}
	.blockquote-wrapper .blockquote, .blockquote-wrapper .blockquote-footer {
		color:$grey;
	}
	.grey-bg .blockquote-heading {
		h2, h3 {
		color: $blue;
		}
	}
	.orange-a11y-bg .blockquote-heading {
		h2, h3 {
		color: $blue;
		}
	}
	.blockquote-wrapper.orange-a11y-bg .blockquote {
		color:$blue;
	}
	.blockquote-wrapper.orange-a11y-bg .blockquote-footer {
		color:$white;
	}
}
/* Component Styles - Blockquotes END */

/* Dark Mode - Component Styles - Quickfacts Styles */
@include color-mode(dark) {
	.quick-fact-wrapper .quick-facts-content p {
		color: $white;
	}
	.quick-fact-wrapper {
		& ::after {
			opacity:.05;
		}
		&.orange-a11y-bg ::after {
			opacity:.007;
		}
	}
}
/* Component Styles - Quickfacts END */

/* Dark Mode - Component Styles - Find Program/Faculty */
@include color-mode(dark) {
	.find-program-text h4 {
		color: $orange;
	}
}
/* Component Styles - Find Program/Faculty END */

/* Dark Mode - Component Styles - Content Callout */
// @include color-mode(dark) {
// 	.content-callout-wrapper {
// 		.orange-a11y {
// 			color:$orange-a11y;
// 		}
// 		.blue {
// 			color: $blue;
// 		}
// 		.white {
// 			color: $white;
// 		}
// 		.orange {
// 			color: $orange;
// 		}
// 		&.grey-bg {
// 			p, ul li {
// 			color: $blue;
// 			}
// 			a {
// 				color:$blue;
// 				&:hover {
// 					color: $white;
// 				}
// 			}
// 		}
// 		&.white-bg {
// 			p, a, ul li {
// 			color: $blue;
// 			}
// 		}
// 	}
// }
/* Component Styles - Content Callout END */

/* Dark Mode - Component Styles - Footer */
@include color-mode(dark) {
	.site-footer {
		h2, h3, h4, h5, h6, ul li {
			color:$blue;
		}
	}
}
/* Component Styles - Footer END */