/*!
 * College DLS - Bootstrap Customization
 *  Variables Overrides
 * TODO: Decide what default bootstrap properties we want to override
 *       Below is a commented out example of some variable to think about overriding
 */

// scss-docs-start theme-color-variables
/*
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
*/


/*
$link-color:                              $primary !default;
$link-decoration:                         underline !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;
*/

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
/*
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
*/
$font-family-sans-serif:      "Open Sans", "Helvetica", "Helvetica Neue", system-ui, -apple-system, Arial, sans-serif, "Apple Color Emoji";

// stylelint-enable value-keyword-case
// $font-family-base:            var(--#{$variable-prefix}font-sans-serif) !default;
// $font-family-code:            var(--#{$variable-prefix}font-monospace) !default;
// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text


$blue: #0C2340;
$blue-b: #495970;
$blue-c: #344c6b;
$orange: #F15A22;
$orange-a11y: #D3430D;
$white: #FFFFFF;
$white-b: #F6F6F6;
$grey: #DBDEE3;
$grey-b: #B4B8BC;
$grey-c: #949494;
$grey-d: #606060;
$grey-e: #232323;
$grey-t: #e9e9e9;
$grey-t-b: #d9d9d9;
$black: #000000;
$blue-highlight: #025EFC;

$orange-b: #ee5a35; //seeing this orange in spots

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xxs: 0,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// scss-docs-end grid-breakpoints

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

// $grid-columns:                12;
$grid-gutter-width:           1.5rem;
// $grid-row-columns:            6;

// $gutters: $spacers !default;

// Container padding

$container-padding-x: $grid-gutter-width ;

// Magnific variable override to avoid division (deprecated)
$mfp-iframe-ratio:                    0.5625;                       // Ratio of iframe (9/16 = widescreen, 3/4 = standard, etc.)
