/* components/02-components/04-profile/03-profile-info/profile-info.scss */
/* BEGIN profile-info.scss */

.profile-details-component-div {
    color: $blue;

    a {
        text-decoration: underline;

        &:hover {
            color: $orange-a11y;
            background-color: #dadde2;
        }
    }

	.profile-details-img {
        margin-right:20px;
        padding-bottom: 30px;

        &>img {
		width: 100%;
		height: 100%;
        }
	}

    h2 {
        color: $blue;
        font-size: 2rem;
        margin-bottom: .25rem;
    }

    h3 {
        color: $orange-a11y;
        font-size: 1.75rem;
        margin-bottom: .25rem;
    }

    .profile-details- {

        &content {
            padding-left: 20px;
            padding-right: 20px;

            p {
                font-size: 1rem;
                margin-bottom: 1.5rem;
            }

            .icon {
                display: inline-block;
                font-size: 1.25rem;
                text-align: center;
                width: 25px;
                margin-right: 5px;
            }
        }

        &title {
            color: $orange-a11y;
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: .125rem;
        }

        &list > ul {
            margin-bottom: 1.5rem;
            font-size: 1rem;
            font-weight: 600;
        }

    }

    .profile-details-list > ul {
        /*
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        */
        &>li {
            //width: 50%;
            margin-bottom: .25rem;
        }
    }
    
    .profile-details {
        position: relative;
    }
    
    .profile-details .right-arrow-link {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 991px) {

	.profile-card-list .row>div {
		margin-bottom: 1.25rem;
	}
}

@media (max-width: 767px) {

	.profile-details .right-arrow-link {
		position: absolute;
		top: 0;
		right: 0;
	}

    .profile-details-img {
        margin-right:0px;
    }
}

@include color-mode(dark) {
	.profile-details-content{
        color: $white;
    }
}
/* END profile-info.scss */