<div class="highlight-card-componet-div blue">
    <div class="highlight-card-img">
        <img src="{{ path image }}" alt="Card Image" />
    </div>
    <div class="highlight-card-cntnt"><a href="#">{{ heading }}</a></div>
</div>
