
<div class="container p-2">
    <h2 class="pb-2">Font Families</h2>
    <div class="row">
        <h3>Open Sans, .tk-open-sans</h3>
        <p class="tk-open-sans">{{ text }}</p>
    </div>
</div>

<div class="container p-2">
    <div class="row">
        <h3>FF Meta Web Pro, .tk-ff-meta-web-pro</h3>
        <p class="tk-ff-meta-web-pro">{{ text }}</p>
    </div>
</div>

<div class="container p-2">
    <div class="row">
        <h3>Kulturista Web, .tk-kulturista-web</h3>
        <p class="tk-kulturista-web">{{ text }}
            </p>
    </div>
</div>

<div class="container p-2">
    <div class="row tk-open-sans">
        <h2 class="pb-2">Font Weight Examples</h2>
        <h3>Font Light .fw-light</h3>
        <p class="fw-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis.</p>
        <h3>Font Light .fw-normal</h3>
        <p class="fw-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis.</p>
        <h3>Font Light .fw-bold</h3>
        <p class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis.</p>
        <h3>Font Light .fw-bolder</h3>
        <p class="fw-bolder">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt urna a
            porta lobortis.</p>
    </div>
</div>