<div class="highlight-card white-bg">
    <div class="highlight-card-img">
        <img src="{{ path content-card.image }}" alt="Card Image" />
    </div>
    <div class="highlight-card-content"><a class="highlight-card-link" href="#">{{ content-card.heading }}</a></div>
</div>