<div class="highlight-card blue-bg">
    <div class="highlight-card-img">
        <img src="{{ path content-card.image }}" alt="Card Image" />
    </div>
    <div class="highlight-card-cntnt"><a href="#">{{ content-card.heading }}</a></div>
</div>
