/* components/01-visual-styling/03-typography/05-unordered-list/unordered-list.scss */
/* BEGIN unordered-list.scss */
.page-text-wrapper ul li, .tab-body-content ul li, .accordion-body-content ul li {
    margin-bottom: 7px;
  }

.page-text-wrapper ul > li > ul {
	margin-top: 7px;
  }
  
  .enhanced-ul-list li {
    margin-bottom: 7px;
  }
  
  .enhanced-ul-list li .color-orange {
    margin-right: 10px;
  }

/* END unordered-list.scss */