/* components/03-sections/10-icon-callout/icon-callout.scss */
/* BEGIN icon-callout.scss */


/* END icon-callout.scss */

/* Dark Mode - Icon Callout Styles */
@include color-mode(dark) {
	.content-callout-wrapper.white {
        .fa-6x {
            &::after {
                color: $white;
            }
            &::before {
                color: $white;
            }
        }
    }
    .content-callout-wrapper.white p {
        color:$white;
    }
}
/* Icon Callout Styles END */