

<div class="contact-card">
    <div class="row align-items-center">
        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="staff-card-img">
                <img class="clip-top-img" src="../../college-dls/college/images/account-user.png" alt="Card Image">
            </div>
        </div>
        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <div class="staff-card-cntnt">
                <h5>Contact</h5>
                <p class="taff-card-name">
                    <span class="first-name">Jane</span>
                    <span class="last-name">Doe, Ph.D.</span>
                </p>
                <p class="staff-card-deoartment">Department Name</p>
                <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a>
            </div>
        </div>
    </div>
</div>
