/* components/03-example-pages/07-news-page/news-page.scss */
/* BEGIN news-page.scss */
.news-cntnt-inner-wrapper {
	margin: 0 auto;
}

.news-text-block .postfix {
	font-size: 14px;
}

.news-cntnt-inner-wrapper .news-post-details {
	font-weight: 300;
	color: $blue-b;
	margin-top: 46px;
    line-height: 1.5;
	margin-bottom: 38px;
	font-size: 23px;
}
.news-cntnt-inner-wrapper .news-subtitle {
	font-weight: 500;
	font-size: 28px;
	color: $orange-a11y;
	line-height: 38px;
}
.news-text-block h6 {
	font-size: 17px;
	font-weight: 700;
	color: $blue;
}
.news-text-block p {
	font-size: 17px;
	font-weight: 400;
	color: $blue;
}
.news-img {
	margin-top: 40px;
	margin-bottom: 40px;
}
.news-heading-cntnts .news-text-block {
	margin-bottom: 35px;
}
.author-name {
	color: $blue;
	font-style: italic;
}
.news-tags a {
	color: $orange-a11y;
	font-size: 19px;
	text-decoration: underline;
	display: inline-block;
}
.news-tags {
	padding-top: 35px;
}
/* END news-page.scss */