

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="icon" type="image/x-icon" sizes="152x152" href="/college-dls/favicon.ico" />
  <link rel="preload" href="https://use.typekit.net" as="font" />
  <link rel="dns-prefetch" href="https://use.typekit.net" as="font">
  <link rel="preload" href="https://kit.fontawesome.com" as="font" />
  <link rel="dns-prefetch" href="https://kit.fontawesome.com" as="font" />  
  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Small Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="contact-card">
    <div class="row align-items-center">
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="staff-card-img">
                <img class="clip-mask-top-right" src="../../college-dls/college/images/account-user.png" alt="Card Image" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-8">
            <div class="staff-card-content">
                <h4>Contact</h4>
                <p class="staff-card-name">Jane Doe, Ph.D.</p>
                <p class="staff-card-department">Department Name</p>
                <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a>
            </div>
        </div>
    </div>
</div>
          </div>
        </div>
      </div>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/vendor.min.js" type="text/javascript"></script>
  <script src="../../college-dls/js/college-dls.min.js" type="text/javascript"></script>
</body>


</html>
