

<section class="enrollment-wrapper " style="background-image: url('../../college-dls/utsa/images/Future-Roadrunner.png');">
    <div class="container">
        <div class="enrollment-content text-center">
            <h2>Interested in Health, <br> Community or Policy?</h2>
            <p>Reach out today to find out more about our programs</p>
            <div class="roadrunner-btns">
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="#" class="action-btn">Request Information <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="#" class="action-btn">Visit Campus <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="#" class="action-btn">Apply <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
