<h3>Background Patterns</h3>
<div class="Prose">
    <div class="grid-list">
        <div class="grid-list__item">
            {{#each pattern }}
            <div class="bg-color {{ class }}">
                <div></div>
                <pre>{{ name }}
                <span>{{ className }}</span></pre>
            </div>
            {{/each}}
        </div>
    </div>
</div>