/* components/01-visual-styling/01-branding-standards/02-pattern/pattern.scss */
/* BEGIN pattern.scss */
.bg-stripe {
	background: -o-repeating-linear-gradient( 45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 7px, rgba(255, 255, 255, 0.1) 7px);
	background: repeating-linear-gradient( 45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0.04) 7px, rgba(255, 255, 255, 0.1) 7px);
}

.bg-orange.bg-stripe {
	background-color: #F15B22;
}

.darkblue-bg.bg-stripe {
	background-color: #0c2340;
}

.navy-bg.bg-stripe {
	background-color: #0C2340;
}

.muted-blue-bg {
	background-color: #495970;
}

.navy-bg-stripe.bg-stripe {
	background-color: #0a2240;
}

.muted-blue-stripe-bg.bg-stripe {
	background-color: #344c6b;
}

.bg-cool-grey {
	background-color: #dbdee3;
}

.bg-cool-grey-stripe {
	background-color: #b4b8bc;
}
/* END pattern.scss */