/* Hero Banner */
.hero-banner-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-banner-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
}
.padd-tb-20-per{
    padding-top: 20%;
    padding-bottom: 20%;
}
.max-width-990px{
    max-width: 1005px;
    padding: 0px 15px;
    margin: 0 auto;
}
.rectangle-orange-bg {
    background-color: #D3430D;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
    max-width: 168px;
    margin-right: 15px;
    font-weight: 600;
}
.rectangle-orange-bg:hover{
    background-color: #0B2340;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.rectangle-white-bg {
    background-color: #fff;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
    max-width: 168px;
    margin-right: 15px;
    font-weight: 600;
}
.rectangle-white-bg:hover {
    background-color: #0B2340;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.banner-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 27px;
}
.banner-heading {
    font-size: 50px;
    margin-bottom: 15px;
    line-height: 53px;
}
.banner-description {
    line-height: 30px;
}
/* End Hero Banner */