 <div class="css-box">
    <p>Navy with Striped Pattern Background :<span class="css-class">.navy-bg-stripe.bg-stripe</span></p>
    <p>Stripe Background : <span class="css-class">.bg-stripe</span></p>
    <p>Muted Blue Background :<span class="css-class">.muted-blue-bg</span></p>
    <p>Muted Blue with Striped Pattern Background : <span class="css-class">.muted-blue-bg.bg-stripe</span></p>
    <p>Primary Orange with Striped Background : <span class="css-class">.bg-stripe.bg-orange</span></p>
    <p>Cool Gray with Striped Background: <span class="css-class">.bg-stripe.bg-cool-grey-stripe</span></p>
 </div>
