/* components/01-visual-styling/02-typography/06-table/table.scss */
/* BEGIN table.scss */
.medium-headline-component h2 {
    font-size: 32px;
    color: #0c2340;
    font-weight: 700;
    margin-bottom: 30px;
}

table {
	width: 100%;
	padding: 0px 15px;
	margin-bottom: 20px;
}

th {
	font-weight: bold !important;
	color: $orange-a11y;
}

th,
td {
	border: 1px solid $blue;
	padding: 12px;
	vertical-align: top;
}

tr th {
	padding: 12px 25px;
}

tr td {
	padding: 12px 25px;
}

thead th {
	font-size: 17px;
	font-weight: 500;
}

tr td {
	padding: 12px 25px;
	font-size: 17px;
	color: $blue;
}

@mixin striped-table {

	th,
	td {
		border: 0px;
	}

	tbody>tr {
		border-bottom: 1px solid $grey-t-b;

		&:nth-child(2n) {
			background-color: $grey-t;
			border-top: 1px solid $grey-t-b;
		}
	}

	thead th {
		color: $white;
	}

	thead {
		background-color: $orange-a11y;
	}

}

.table-design {
	@include striped-table();
}

.table-design-grey {
	@include striped-table();

	thead th {
		color: $blue;
	}

	thead {
		background-color: $grey-t;
		border-bottom: 1px solid $grey-t-b;
		border-top: 1px solid $grey-t-b;
	}

}

.table-design-blue {
	@include striped-table();

	thead {
		background-color: $blue;
	}
}

.mb-0 {
	margin-bottom: 0px;
}
@include media-breakpoint-down(lg) {
	.medium-headline-table {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
}

/* Dark Mode - Table Styles */
@include color-mode(dark) {
	.medium-headline-component h2 {
		color: $white;
	}
	th {
		color: $orange-a11y;
	}
	
	th,
	td {
		border: 1px solid $grey;
	}
	tr td {
		color: $white;
		border: 1px solid $grey;
	}

	.table-design th, .table-design tr td {
		border: 1px solid $grey-e;
	}
	.table-design tbody > tr:nth-child(2n)>td {
		color: $blue;
		border-top: 1px solid $grey-c;
	}
	.table-design tbody > tr {
		border-bottom: 1px solid $grey-c;
	}

	.table-design-grey th, .table-design-grey tr td {
		border: 1px solid $grey-e;
	}
	.table-design-grey tbody > tr:nth-child(2n)>td {
		color: $blue;
		border-top: 1px solid $grey-b;
	}
	.table-design-grey tbody > tr {
		border-bottom: 1px solid $grey-b;
	}

	.table-design-blue th, .table-design-blue tr td {
		border: 1px solid $grey-e;
	}
	.table-design-blue tbody > tr:nth-child(2n)>td {
		color: $blue;
		border-top: 1px solid $grey-b;
	}
	.table-design-blue tbody > tr {
		border-bottom: 1px solid $grey-b;
	}

	.tab-wrapper .tab-content .tab-body-content {
		table tbody tr td {
			color:$blue;
			border: 1px solid $blue;
		}
		table thead tr th {
			border: 1px solid $blue;
		}

		table.table-design tbody tr td {
			color:$blue;
			border:none;
		}
		table.table-design thead tr th {
			border:none;
		}

		table.table-design-blue tbody tr td {
			color:$blue;
			border:none;
		}
		table.table-design-blue thead tr th {
			border:none;
		}

		table.table-design-grey tbody tr td {
			color:$blue;
			border:none;
		}
		table.table-design-grey thead tr th {
			border:none;
		}
	}

	.accordion .accordion-item .accordion-body-content {
		table tbody tr td {
			color:$blue;
			border: 1px solid $blue;
		}
		table thead tr th {
			border: 1px solid $blue;
		}

		table.table-design tbody tr td {
			color:$blue;
			border:none;
		}
		table.table-design thead tr th {
			border:none;
		}

		table.table-design-blue tbody tr td {
			color:$blue;
			border:none;
		}
		table.table-design-blue thead tr th {
			border:none;
		}

		table.table-design-grey tbody tr td {
			color:$blue;
			border:none;
		}
		table.table-design-grey thead tr th {
			border:none;
		}
	}
}
/* Dark Mode - Table END */

/* END table.scss */