

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/theme/theme.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Default Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <h3>Legacy Background (Vendor Supplied)</h3>
<div class="row">
    <div class="col-4 p-0 border">
        <div class="bg-color lightgrey-bg">
            <div></div>
            <pre>Light Grey
            <span>.lightgrey-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color darkblue-bg">
            <div></div>
            <pre>UTSA Blue
            <span>.darkblue-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color white-bg">
            <div></div>
            <pre>White
            <span>.white-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color bg-orange">
            <div></div>
            <pre>UTSA Orange
            <span>.bg-orange</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color navy-bg">
            <div></div>
            <pre>UTSA Dark Blue
            <span>.navy-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color bg-darkorange">
            <div></div>
            <pre>UTSA a11y Orange
            <span>.bg-darkorange</span></pre>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<h3>Legacy Background Patterns (Vendor Supplied)</h3>
<div class="row">
    <div class="col-4 p-0 border">
        <div class="bg-color navy-bg-stripe bg-stripe">
            <div></div>
            <pre>Navy with Striped Pattern Background
            <span>.navy-bg-stripe .bg-stripe</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color bg-orange bg-stripe ">
            <div></div>
            <pre>Primary Orange with Striped Background
            <span>.bg-stripe .bg-orange</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color muted-blue-bg">
            <div></div>
            <pre>Muted Blue Background
            <span>.muted-blue-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color muted-blue-bg bg-stripe">
            <div></div>
            <pre>Muted Blue with Striped Pattern Background
            <span>.muted-blue-bg .bg-stripe</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color bg-stripe bg-cool-grey-stripe">
            <div></div>
            <pre>Cool Gray with Striped Background
            <span>.bg-stripe .bg-cool-grey-stripe</span></pre>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<h3>Background (Standardized, new naming)</h3>
<div class="row">
    <div class="col-4 p-0 border">
        <div class="bg-color blue-bg">
            <div></div>
            <pre>Blue Background
            <span>.blue-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color blue-b-bg">
            <div></div>
            <pre>Blue #2 Background
            <span>.blue-b-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color blue-c-bg">
            <div></div>
            <pre>Blue #3 Background
            <span>.blue-c-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color white-bg">
            <div></div>
            <pre>White Background
            <span>.white-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color orange-bg">
            <div></div>
            <pre>Orange Background
            <span>.orange-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color orange-a11y-bg">
            <div></div>
            <pre>Orange (Accessible) Background
            <span>.orange-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-bg">
            <div></div>
            <pre>Grey #01 Background
            <span>.grey-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-b-bg">
            <div></div>
            <pre>Grey #02 Background
            <span>.grey-b-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-c-bg">
            <div></div>
            <pre>Grey #03 Background
            <span>.grey-c-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-d-bg">
            <div></div>
            <pre>Grey #04 Background
            <span>.grey-d-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-e-bg">
            <div></div>
            <pre>Grey #05 Background
            <span>.grey-e-bg</span></pre>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<h3>Background Patterns</h3>
<div class="row">
    <div class="col-4 p-0 border">
        <div class="bg-color blue-bg stripe-bg">
            <div></div>
            <pre>UTSA Blue with Striped Pattern Background
            <span>.blue-bg .stripe-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color orange-bg stripe-bg">
            <div></div>
            <pre>UTSA Orange with Striped Background
            <span>.orange-bg .stripe-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color blue-b-bg stripe-bg">
            <div></div>
            <pre>Blue #2 with Striped Pattern Background
            <span>.blue-b-bg.stripe-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color blue-c-bg stripe-bg">
            <div></div>
            <pre>Blue #3 with Striped Pattern Background
            <span>.blue-c-bg.stripe-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-b-bg">
            <div></div>
            <pre>Blue #3 Background
            <span>.grey-b-bg</span></pre>
        </div>
    </div>
    <div class="col-4 p-0 border">
        <div class="bg-color grey-b-bg stripe-bg">
            <div></div>
            <pre>Blue #3 with Striped Pattern Background
            <span>.grey-b-bg.stripe-bg</span></pre>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/college-dls.js" type="text/javascript"></script>
</body>


</html>
