

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/theme/theme.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Default Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <h3>Color</h3>
<div class="Prose">
    <div class="grid-list">
        <div class="grid-list__item">
            <div class="color" style="color: #025efc">
                <pre>Blue .color-blue
                <span>#025efc</span></pre>
            </div>
            <div class="color" style="color: #ffffff">
                <pre>White .color-white
                <span>#ffffff</span></pre>
            </div>
            <div class="color" style="color: #d3430d">
                <pre>UTSA a11y Orange .color-orange
                <span>#d3430d</span></pre>
            </div>
            <div class="color" style="color: #0b2340">
                <pre>UTSA Blue .color-darkblue
                <span>#0b2340</span></pre>
            </div>
            <div class="color" style="color: #f15a22">
                <pre>UTSA Orange .cool-orange
                <span>#f15a22</span></pre>
            </div>
            <div class="color" style="color: #949494">
                <pre>Light Grey .light-grey
                <span>#949494</span></pre>
            </div>
            <div class="color" style="color: #000000">
                <pre>Black .color-black
                <span>#000000</span></pre>
            </div>
        </div>
    </div>
</div>

<h3>Background</h3>
<div class="Prose">
    <div class="grid-list">
        <div class="grid-list__item mb-1 mt-3">
            <div class="color" style="color: #e7e7e7">
                <pre>Light Grey .lightgrey-bg
                <span>#e7e7e7</span></pre>
            </div>
            <div class="color" style="color: #0c2340">
                <pre>UTSA Blue .darkblue-bg
                <span>#0c2340</span></pre>
            </div>
            <div class="color" style="color: #ffffff">
                <pre>White .white-bg
                <span>#ffffff</span></pre>
            </div>
            <div class="color" style="color: #f15a22">
                <pre>UTSA Orange .bg-orange
                <span>#f15a22</span></pre>
            </div>
            <div class="color" style="color: #0C2340">
                <pre>UTSA Dark Blue .navy-bg
                <span>#0C2340</span></pre>
            </div>
            <div class="color" style="color: #d3430d">
                <pre>UTSA a11y Orange .bg-darkorange
                <span>#d3430d</span></pre>
            </div>
        </div>
    </div>
</div>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/college-dls.js" type="text/javascript"></script>
</body>


</html>
