

<!DOCTYPE html>
<html lang="en">
   <head>
    <title>UTSA</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="UTSA" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
    <link rel="icon" type="image/x-icon" sizes="152x152" href="/college-dls/favicon.ico" />
    <link rel="preload" href="https://use.typekit.net" as="font" />
    <link rel="dns-prefetch" href="https://use.typekit.net" as="font">
    <link rel="preload" href="https://kit.fontawesome.com" as="font" />
    <link rel="dns-prefetch" href="https://kit.fontawesome.com" as="font" />

    <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
    <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
    <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
    <title>Default Preview</title>
      <!-- Adobe Font -->
   </head>
   <body>
      <!-- Body Wrapper -->
      <div id="body-wrapper">
  <div id="skip-content"><a class="Skip-btn" href="#skipToContent">Skip To Main Content</a></div>
  <!-- Header Section -->
  <header id="header" class="main-header sticky-header">
    <!-- Top Header -->
<div id="top-header">
    <div class="top-header-left">
        <a title="UTSA Home" href="https://www.utsa.edu">
            <img width="250px" height="12px" class="logo-full d-none d-sm-block" src="../../college-dls/utsa/images/utsa-logo-full.svg" alt="The University of Texas at San Antonio" />
            <img width="72px" height="25px" class="logo-short d-block d-sm-none" src="../../college-dls/utsa/images/utsa-logo.svg" alt="The University of Texas at San Antonio" />
        </a>
    </div>
    <div class="top-header-right">
        <form class="top-header-form">
            <div class="language-select">
                <label id="lbl-select-lang" class="d-none">Select Language</label>
                <select id="select-language" class="js-example-disabled-results" aria-labelledby="lbl-select-lang">
                    <option>Select Language</option>
                    <option>English</option>
                </select>
            </div>
            <div class="myutsa-link">
                <a title="MyUTSA" href="https://my.utsa.edu"><i class="fas fa-globe-americas"></i> <span class="myutsa-text">myUTSA</span></a>
            </div>
            <div class="search">
                <button type="button" class="search-btn dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                    <span class="search-icon"><i class="fas fa-search" aria-hidden="true"></i></span> 
                    <span class="search-text">Search</span>
                </button>
                <div class="dropdown-menu " style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(274px, 122px, 0px);" data-popper-placement="bottom-end">
                    <label for="q" class="d-none">Search</label>
                    <input type="search" placeholder="Search" id="q" tabindex="0" name="q" onblur="if (this.value == '') {this.value = 'Search UTSA';}" onfocus="if (this.value == 'Search UTSA') {this.value = '';}" value="Search UTSA" />
                    <button type="submit" class="search-input-icon" aria-label="Search"><i class="fas fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Top Header -->
    
<!-- Sticky Header -->
<div class="top-navigation">
    <!-- Main Header -->
    <div id="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="#" aria-label="Logo Image">
                    <img class="college-logo" width="265px" height="33px" alt="Full College Name Goes Here" src="../../college-dls/college/images/college-logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar4" aria-label="Toggle">
                    <span class="navbar-toggler-icon"><i class="fal fa-bars"></i></span>
                    <span class="navbar-toggler-close-icon" style="display: none;"><i class="fal fa-times"></i></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar4">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Admissions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Programs</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Undergraduate</a>
                                <a class="dropdown-item" href="#">Graduate</a>
                                <a class="dropdown-item" href="#">Certificate</a>
                                <a class="dropdown-item" href="#">Testing a long link to make sure it wraps on mobile</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Faculty & Research </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Student Success</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Undergraduate</a>
                                <a class="dropdown-item" href="#">Graduate</a>
                                <a class="dropdown-item" href="#">Certificate</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Departments</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Undergraduate</a>
                                <a class="dropdown-item" href="#">Graduate</a>
                                <a class="dropdown-item" href="#">Certificate</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Undergraduate</a>
                                <a class="dropdown-item" href="#">Graduate</a>
                                <a class="dropdown-item" href="#">Certificate</a>
                            </div>
                        </li>
                        <li class="nav-item mobile-nav-btns">
                            <a href="#" class="action-btn">Apply <i class="fas fa-arrow-right"></i></a>
                            <a href="#" class="action-btn">Visit <i class="fas fa-arrow-right"></i></a>
                            <a href="#" class="action-btn">Request Info <i class="fas fa-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--End Main Header -->
    <!-- Request Apply Header -->
    <div class="bottom-absolute-header d-flex flex-row-reverse">
        <div id="orange-bg-header">
            <div class="container">
                <ul class="orange-header-list">
                    <li class="nav-item"><a class="nav-link" href="#">Request Info</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Visit</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Apply</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Sticky Header -->

  </header>
  <!-- Header Section End -->
  <!-- Loader -->
  <div id="cover">
    <div class="loading-spin"><i class="fas fa-spinner"></i></div>
  </div>
  <!-- End Loader -->
  <!-- Main Content Body -->
  <main>
    <!--Slider -->
    <section class="slider-wrapper" id="main-slider-wrapper">
      <section class="banner">
          <div class="blue-bg stripe-bg">
              <div class="row no-mrg align-items-center">
                  <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 p-0">
                      <div class="hero-banner-content-block">
                          <h1>Department<span class="display-block">Home Page</span></h1>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0">
                      <div class="hero-banner-right-column clip-mask-bottom-left">
                          <img src="../../college-dls/college/images/slider-img.png" alt="Banner Image">
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Breadcrumb -->
      <div class="breadcrumb-wrapper">
          <div class="container">
              <ul class="list-unstyled">
                  <li class="crumb-item">
                      <a class="link-text" href="index.html">Home</a>
                      <span class="breadcrumb-divider">&#160;/&#160;</span>
                      <span class="unlink-text">Department Home Page</span></li>
              </ul>
          </div>
      </div>
      <!-- End Breadcrumb -->    </section>
    <!-- End Slider -->       

    <section class="page-text-wrapper" id="skipToContent">
      <div class="container">
        <div class="row mobile-reverse-order">
          <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <h3></h3>
            <p>Our accounting program is designed to prepare students to thrive in any number of careers within this
              increasingly complex and challenging profession. Our program maintains high standards and is separately
              accredited by AACSB, the premier business accrediting agency.</p>
            <p>At the undergraduate level, the department offers the traditional four-year accounting major as well as
              the 150-hour professional accounting major.</p>
            <p>In this program, the degree plan for the BBA in Accounting is combined with that of the Master of
              Accountancy. The advantage of this program is that it allows accounting majors to spread the graduate
              courses required for the MS degree over the fourth and fifth years of the 150-hour program. Upon
              successful completion of the 150-hour program, students will be simultaneously awarded both degrees and
              will be eligible to sit for the CPA exam.</p>
            <p>At the graduate level, the department offers a Master of Accountancy degree as well as a Ph.D.
              concentration in accounting. Level up your career with a Master of Accountancy degree that combines
              foundational knowledge with focus areas in audit, data analytics/information security and taxation.</p>
            <p>Non-degree-seeking students may not enroll in accounting courses beyond Principles of Accounting I (ACC
              2013) and Principles of Accounting II (ACC 2033). Please contact Undergraduate Advising to declare an
              undergraduate major in accounting or Graduate</p>
            <div class="department-information">
              <h6>Department Information</h6>
              <ul class="departmental-ul-list">
                <li>Main Office: BB 4.01.12</li>
                <li>Phone: 210.458.4320</li>
                <li>Fax: 210.458.4322</li>
                <li>Office Hours: Monday thru Friday | 8 a.m. to 5 p.m.</li>
              </ul>
            </div>
            <div class="contact-card">
              <div class="staff-card-component-div">
    <div class="row m-0">
        <div class="col-12 col-sm-6 col-xl-4">
            <div class="staff-card-img">
                <img class="clip-mask-top-right" src="../../college-dls/college/images/account-user.png" alt="Card Image" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-8">
            <div class="staff-card-content">
                <h4>Contact</h4>
                <p class="staff-card-name">Jane Doe, Ph.D.</p>
                <p class="staff-card-department">Department Name</p>
                <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a>
            </div>
        </div>
    </div>
</div>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <!-- Side Navigation -->
<div class="department-menu-bar">
    <div class="des-default-show">
        <div class="sidebar">
            <ul class="list-unstyled">
                <li class="nav-item"><a href="#">Virtual Visit</a></li>
                <li class="nav-item"><a href="#">Request Information</a></li>
                <li class="nav-item " >
                    <button class="drop-down-btn plus-toggle" data-bs-toggle="dropdown" aria-label="plus button"
                        aria-expanded="false">
                    <a href="#" >Admission Requirements</a>
                        <span class="plus-icn"><i class="fas fa-plus" aria-hidden="true"></i></span>
                        <span class="minus-icn" style="display: none;"><i class="fas fa-minus"
                                aria-hidden="true"></i></span>
                    </button>
                    <div class="dropdown-menu position-relative" style="">
                        <a class="dropdown-item normal-link" href="#">Normal</a>
                        <a class="dropdown-item active-link" href="#">Active</a>
                        <a class="dropdown-item disabled-link" href="#">Disabled</a>
                    </div>
                </li>
                <li class="nav-item"><a href="#">Admission Forms</a></li>
                <li class="nav-item"><a href="#">Scholarships &amp; Financial Aid</a></li>
                <li class="nav-item"><a href="#">Net Price Calculator</a></li>
                <li class="mobile-nav-btns orange-action-btn">
                    <a href="#" class="action-btn display-block">Apply <span class="white acton-icon"><i
                                class="fas fa-arrow-right"></i></span></a>
                    <a href="#" class="action-btn display-block">Visit <span class="white acton-icon"><i
                                class="fas fa-arrow-right"></i></span></a>
                    <a href="#" class="action-btn display-block">Request Info<span class="white acton-icon"><i
                                class="fas fa-arrow-right"></i></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Side Navigation -->
          </div>
        </div>
      </div>
    </section>

    <!-- Call To Action - Buttons Only - No Image -->
    <section class="content-img-design orange-offset-bg bt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-last">
                <div class="images-design">
                    <img width="560px" height="320px" class="clip-mask-top-right" src="../../college-dls/college/images/functional-3.png" alt="Heading Image"  loading="lazy" />
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-first">
                <div class="heading-paragraph-design">
                    <h2 class="h3">Medium Length Display Headline</h2>
                    <div class="paragraph-text">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p><ul><li>example list item</li></ul><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus felis. In sollicitudin tempor</p>
                    </div>
                    <div class="blue-action-btn">
                        <a href="#" class="action-btn"> First Action <i class="fas fa-arrow-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    <!-- End Call To Action -->

    <!-- Quick Face Numbers -->
    <section class="quick-fact-wrapper grey-bg">
    <div class="container">
        <div class="department-heading">
            <h3 class="h3 fw-bold text-center">Department Profile</h3>
        </div>
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="quick-facts-content">
                    <h2>130+</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="quick-facts-content">
                    <h2>9M</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="quick-facts-content">
                    <h2>#2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <!--End Quick Face Numbers -->

    <section class="blockquote-wrapper pt-5 pb-5">
    <div class="container">
        <div class="blockquote-heading">
            <h3>A True Learning Community</h3>
        </div>
        <div class="image-content-wrapper">
            <div class="row align-items-center">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="image_wrapper">
                        <img class="clip-mask-top-right"
                            src="../../college-dls/college/images/true-learning-community.png"
                            alt="Community Image">
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
                    <div class="image-right-content">
                        <figure>
                            <blockquote class="blockquote orange-a11y">“Lorem ipsum dolor sit amet,
                                consectetur
                                adipiscing elit. Maecenas tincidunt urna a porta lobortis. Aliquam sit amet eros quam.”
                            </blockquote>
                            <footer class="blockquote-footer"><strong>Jane Doe,</strong> Alumni, Alvarez School of Business 2019</footer>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- News -->
    <section class="py-5 our-faculty-sec position-relative z-index-0 half-bg-shape">
    <div class="container">
        <div class="profile-card-list">
            <div class="inner-sec-headings">
                <h3 class="h4">Our Faculty</h3>
                <a class="view-all-link" href="#">View Accounting Directory <i class="fas fa-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="profile-card white-bg">
    <div class="profile-card-img">
        <img src="../../college-dls/college/images/faculty/Nicole-Beebe.jpg" alt="Card Image" loading="lazy">
    </div>
    <div class="profile-card-content">
        <p class="profile-card-name"><a href="#">Nicole Beebe, Ph.D., CISSP</a></p>
        <p class="profile-card-title">Professor, Information Systems and Cyber Security</p>
        <p><span class="icon"><i class="far fa-mobile" aria-hidden="true"></i></span> <a class="phone-no" href="tel:210-123-4567">210-123-4567</a></p>
        <p><span class="icon"><i class="far fa-envelope" aria-hidden="true"></i></span> <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a></p>
        <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fusce id velit ut tortor pretium viverra suspendisse. Dignissim convallis aenean et tortor at risus. At lectus urna duis convallis convallis tellus. Tellus orci ac auctor augue mauris.</p>
    </div>
</div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="profile-card white-bg">
    <div class="profile-card-img">
        <img src="../../college-dls/college/images/faculty/Glenn-Martinez.jpg" alt="Card Image" loading="lazy">
    </div>
    <div class="profile-card-content">
        <p class="profile-card-name"><a href="#">Glenn Martinez, Ph.D.</a></p>
        <p class="profile-card-title">Dean, College of Liberal and Fine Arts</p>
        <p><span class="icon"><i class="far fa-mobile" aria-hidden="true"></i></span> <a class="phone-no" href="tel:210-123-4567">210-123-4567</a></p>
        <p><span class="icon"><i class="far fa-envelope" aria-hidden="true"></i></span> <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a></p>
        <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fusce id velit ut tortor pretium viverra suspendisse. Dignissim convallis aenean et tortor at risus. At lectus urna duis convallis convallis tellus. Tellus orci ac auctor augue mauris.</p>
    </div>
</div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="profile-card white-bg">
    <div class="profile-card-img">
        <img src="../../college-dls/college/images/faculty/Tracy-Cowden.jpg" alt="Card Image" loading="lazy">
    </div>
    <div class="profile-card-content">
        <p class="profile-card-name"><a href="#">Tracy Cowden, Ph.D.</a></p>
        <p class="profile-card-title">Roland K. Blumberg Professorship in Music</p>
        <p><span class="icon"><i class="far fa-mobile" aria-hidden="true"></i></span> <a class="phone-no" href="tel:210-123-4567">210-123-4567</a></p>
        <p><span class="icon"><i class="far fa-envelope" aria-hidden="true"></i></span> <a class="mail-info" href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a></p>
        <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fusce id velit ut tortor pretium viverra suspendisse. Dignissim convallis aenean et tortor at risus. At lectus urna duis convallis convallis tellus. Tellus orci ac auctor augue mauris.</p>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- End News -->

    <!-- ENROLLMENT CTA -->
    <!-- Roadrunner Section -->
 <section class="enrollment-wrapper" style="background-image: url('../../college-dls/utsa/images/Future-Roadrunner.png');">
     <div class="container">
         <div class="enrollment-content">
             <span class="h5">Become a</span>
             <h2>Roadrunner</h2>
             <div class="roadrunner-btns">
                 <div class="row">
                     <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12"> <a href="#" class="action-btn">Request Information <i class="fas fa-arrow-right"></i></a> </div>
                     <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12"> <a href="#" class="action-btn">Visit Campus <i class="fas fa-arrow-right"></i></a> </div>
                     <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12"> <a href="#" class="action-btn">Apply Now <i class="fas fa-arrow-right"></i></a> </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
<!--End Roadrunner Section -->

    <!-- END CTA -->
  </main>
  <!-- End Main Content Body -->
  <!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="footer-logo">
                    <img width="231px" height="75px" alt="UTSA - Creating Bold Futures"
                        src="../../college-dls/utsa/images/utsa-cbf.svg" />
                </div>
                <div class="footer-text">
                    <p>
                        <span class="footer-first-text">One UTSA Circle San Antonio, TX 78249</span>
                        <span class="footer-second-text">Information <a href="tel:+12104584011"
                                class="">210-458-4011</a></span>
                    </p>
                </div>
                <div class="footer-social">
                    <a class="facebook" href="https://facebook.com/utsa" aria-label="Facebook"><i
                            class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    <a class="twitter" href="https://twitter.com/utsa" aria-label="Twitter"><i class="fab fa-twitter"
                            aria-hidden="true"></i></a>
                    <a class="youtube" href="https://youtube.com/user/utsa" aria-label="Youtube"><i
                            class="fab fa-youtube" aria-hidden="true"></i></a>
                    <a class="linkedin" href="https://linkedin.com/school/the-university-of-texas-at-san-antonio/"
                        aria-label="Linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    <a class="instagram" href="https://instagram.com/utsa/" aria-label="Instagram"><i
                            class="fab fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/locations" id="s-footer-locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/visit" id="s-footer-visit" aria-label="Visit UTSA">Visit UTSA</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/today" id="s-footer-utsa-today">UTSA Today</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/jobs" id="s-footer-jobs">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://alerts.utsa.edu/utsa-community-emergency-response"
                            id="s-footer-emergency-contacts">Emergency Contacts</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/directory" id="s-footer-directory">Directory</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/Compliance/Hotline.html" id="s-footer-report-fraud">Report
                            Fraud</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/eos/title-ix" id="s-footer-title-ix-reporting">Title IX
                            Reporting</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/ada" id="s-footer-ada-resources">ADA Resources</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/publicsafety/pd/clery_compliance" id="s-footer-clery-info">Clery
                            Information</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/remembrance" id="s-footer-rr-remembrance">Roadrunner
                            Remembrance</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/mental-health-resources"
                            id="s-footer-mental-health">Counseling/Mental Health</a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.utsa.edu/heerf/#reports-disclosure" id="s-footer-cares-act-reports">CARES
                            Act Reports &amp; Disclosure</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.utsa.edu/hop/chapter9/9-24.html" id="s-footer-sexual-harassment">Sexual
                            Harassment and Sexual Misconduct Policy</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    </div>
    <div class="copyright-subfooter">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="utsa-copyright">
                    <p>&copy; 2022 The University of Texas at San Antonio</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <nav class="subfooter-links">
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies" id="s-footer-policies">Policies</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies/accessibility" id="s-footer-web-accessibility">Web
                                Accessibility</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsa.edu/policies/reqlinks.html" id="s-footer-required-links">Required
                                Links</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://utsystem.edu/" id="s-footer-ut-system">UT System</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!--End Footer -->
</div>

      <!-- DO NOT EDIT BELOW THIS POINT -->
      <script src="../../college-dls/js/vendor.min.js" type="text/javascript"></script>
      <script src="../../college-dls/js/college-dls.min.js" type="text/javascript"></script>

      <!-- DO NOT EDIT -->
   </body>
</html>
