

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Degree &amp; Program Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
             <div class="program-listing-b orange-bg">
     <form class="form-design">
         <div class="row">
             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                 <div class="form-grouph input-design"> <label for="searchDegreeone" class="hide">Search Degrees and
                         Programs</label> <input id="searchDegreeone" type="text"
                         placeholder="Search Degrees and Programs" name="Search Degrees and Programs"> </div>
             </div>
             <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                 <div class="row">
                     <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12">
                         <div class="form-grouph select-design"> <label id="byalpha" class="hide">Search Degrees and
                                 Programs</label> <select class="js-example-disabled-results" aria-labelledby="byalpha">
                                 <option>by Alpha</option>
                             </select> </div>
                     </div>
                     <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12">
                         <div class="form-grouph select-design"> <label id="bydepartment" class="hide">by
                                 Department</label> <select class="js-example-disabled-results"
                                 aria-labelledby="bydepartment">
                                 <option>by Department</option>
                             </select> </div>
                     </div>
                     <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12">
                         <div class="form-grouph select-design"> <label id="bydegree" class="hide">by Degree</label>
                             <select class="js-example-disabled-results" aria-labelledby="bydegree">
                                 <option>by Degree</option>
                             </select> </div>
                     </div>
                     <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12">
                         <div class="form-grouph select-design"> <label id="interest" class="hide">by
                                 Interest/Skill</label> <select class="js-example-disabled-results"
                                 aria-labelledby="interest">
                                 <option>by Interest/Skill</option>
                             </select> </div>
                     </div>
                 </div>
             </div>
             <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12">
                 <div class="form-grouph submit-design"> <input class="blue-btn form-btn" type="submit" value="Search"> </div>
             </div>
         </div>
     </form>
 </div>
          </div>
        </div>
      </div>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/college-dls.js" type="text/javascript"></script>
</body>


</html>
