

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="icon" type="image/x-icon" sizes="152x152" href="/college-dls/favicon.ico" />
  <link rel="preload" href="https://use.typekit.net" as="font" />
  <link rel="dns-prefetch" href="https://use.typekit.net" as="font">
  <link rel="preload" href="https://kit.fontawesome.com" as="font" />
  <link rel="dns-prefetch" href="https://kit.fontawesome.com" as="font" />

  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>default Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      
      <section class="home-gallery-layout">
         <!-- Gallery Layout -->
         <div class="gallery-layout-design">
            <div class="gallery-image-wrapper" style="background-image: url('../../college-dls/college/images/modal.png');">
               <div class="gallery-inner-content">
                  <h3>Medium Length Headline</h3>
                  <p></p>
                  <div class="view-gallery">
                     <button class="gallery-btn" data-bs-toggle="modal" data-bs-target="#gallery">
                        <i class="fas fa-images"></i>&#160;&#160;View Gallery</button>                                         
                  </div>
               </div>
            </div>
         </div>
         <!-- End Gallery Layout -->
         <!-- Gallery Popup -->
         <div class="modal fade" id="gallery">
            <div class="modal-dialog modal-dialog-centered">
               <div class="container-1300px">
                  <div class="modal-content">
                     <div class="modal-close">
                        <button type="button" class="close" data-bs-dismiss="modal">Close <i class="fal fa-times"></i></button>
                     </div>
                     <!-- Modal body -->
                     <div class="modal-body">
                        <div id="gallery-slider" class="carousel slide" data-ride="carousel">
                           <!-- The slideshow -->
                           <div class="carousel-inner">
                              <div class="carousel-item item active">
                                 <div class="modal-gallery-wrapper">
                                    <div class="modal-gallery-img">
                                       <img src="../../college-dls/college/images/slider-img.png" alt="Gallery Image" loading="lazy" />
                                    </div>
                                    <div class="modal-gallery-content">
                                       <h5>Lorem ipsum dolor sit amet, consectetur elit</h5>
                                       <p>Lorem ipsum dolor sit amet, consectetur elit</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="carousel-item item ">
                                 <div class="modal-gallery-wrapper">
                                    <div class="modal-gallery-img">
                                       <img src="../../college-dls/college/images/slider-bg.png" alt="Gallery Image" loading="lazy" />
                                    </div>
                                    <div class="modal-gallery-content">
                                       <h5>Lorem ipsum dolor sit amet, consectetur elit</h5>
                                       <p>Lorem ipsum dolor sit amet, consectetur elit</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Left and right controls -->
                           <a class="carousel-control-prev" href="#gallery-slider" data-bs-slide="prev" aria-label="Previous Icon">
                           <span class="carousel-prev-icon"><i class="fal fa-arrow-left"><span class="sr-only">Previous</span></i></span>
                           </a>
                           <a class="carousel-control-next" href="#gallery-slider" data-bs-slide="next" aria-label="Next Icon">
                           <span class="carousel-next-icon"><i class="fal fa-arrow-right"><span class="sr-only">Next</span></i></span>
                           </a>
                        </div>
                        <div class="num"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Gallery Popup -->
      </section>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/vendor.min.js" type="text/javascript"></script>
  <script src="../../college-dls/js/college-dls.min.js" type="text/javascript"></script>
</body>


</html>
