

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="icon" type="image/x-icon" sizes="152x152" href="/college-dls/favicon.ico" />
  <link rel="preload" href="https://use.typekit.net" as="font" />
  <link rel="dns-prefetch" href="https://use.typekit.net" as="font">
  <link rel="preload" href="https://kit.fontawesome.com" as="font" />
  <link rel="dns-prefetch" href="https://kit.fontawesome.com" as="font" />  
  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Default Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="profile-details-component-div white">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <h2>John Doe, Ph.D</h2>
        <p class="profile-details-title">Associate Professor, Department Name</p>
    </div>
    <div class="row no-mrg pt-4">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="profile-details-img">
                <img class="clip-mask-top-right" src="../../college-dls/college/images/faculty/Glenn-Martinez.jpg" alt="Card Image">
            </div>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="profile-details-content">
                <h3>Contact</h3>
                <div class="profile-details-list">
                    <ul class="list-unstyled">
                        <li><span class="icon"><i class="fas fa-building" aria-hidden="true"></i></span> Office Location</li>
                        <li><span class="icon"><i class="far fa-mobile" aria-hidden="true"></i></span> <a href="tel:210-123-4567">210-123-4567</a></li>
                        <li><span class="icon"><i class="far fa-envelope" aria-hidden="true"></i></span> <a href="mailto:jane.doe@utsa.edu">jane.doe@utsa.edu</a></li>
                        <li><span class="icon"><i class="far fa-file" aria-hidden="true"></i></span> <a href="#">Download CV (PDF)</a></li>
                    </ul>
                </div>

                <h3 class="profile-details-section">Degrees</h3>
                <div class="profile-details-list">
                    <ul>
                        <li>Ph.D. The University of Texas at San Antonio</li>
                        <li>M.S. The University of Texas at San Antonio</li>
                        <li>MBA The University of Texas at San Antonio</li>
                        <li>BBA The University of Texas at San Antonio</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="profile-details-content">
                <h3 class="profile-details-section">About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fusce id velit ut tortor pretium viverra suspendisse. Dignissim convallis aenean et tortor at risus. At lectus urna duis convallis convallis tellus. Tellus orci ac auctor augue mauris.</p>
                <h3 class="profile-details-section">Research Interests</h3>
                <div class="profile-details-list">
                    <ul>
                        <li>Research Topic</li>
                        <li>Research Topic</li>
                        <li>Research Topic</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
          </div>
        </div>
      </div>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/vendor.min.js" type="text/javascript"></script>
  <script src="../../college-dls/js/college-dls.min.js" type="text/javascript"></script>
</body>


</html>
