

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="College Design Language System - Academic Strategic Communications - UTSA" />
  <link rel="icon" type="image/x-icon" sizes="152x152" href="/college-dls/favicon.ico" />
  <link rel="preload" href="https://use.typekit.net" as="font" />
  <link rel="dns-prefetch" href="https://use.typekit.net" as="font">
  <link rel="preload" href="https://kit.fontawesome.com" as="font" />
  <link rel="dns-prefetch" href="https://kit.fontawesome.com" as="font" />

  <link rel="stylesheet" href="https://use.typekit.net/fhh1zvd.css" />
  <link media="all" rel="stylesheet" href="../../college-dls/css/site.css" />
  <script src="https://kit.fontawesome.com/e0ba4ccb6e.js" crossorigin="anonymous"></script>
  <title>Default Preview</title>
</head>

<body>
  <!-- End Loader -->
  <div id="body-wrapper">
    <!--Main Content Body -->
    <main>
      <section class="site-footer grey-bg pt-5 pb-2">
    <div class="container">
        <div class="row">
            <!-- Logo Column -->
            <div class="col-sm-12 col-md-4 pl-3">
                <a class="logo-footer" href="#" target="_parent">
                    <img alt="" class="img-fluid mb-4 col-11" src="https://sdstest.utsa.edu/images/utsa_sds.svg">
                </a>
                <ul class="list-unstyled">
                    <li class="mb-2">Main Building, Suite 4.120</li>
                    <li class="mb-2">The University of Texas at San Antonio</li>
                    <li class="mb-2">One UTSA Circle</li>
                    <li class="mb-2">San Antonio, TX 78249</li>
                    <li class="mb-2">(210) 458-4110</li>
                    <li class="mb-2">your-college-email@utsa.edu</li>
                </ul>
            </div>
            <!-- Site Footer Content Column -->
            <div class="col-sm-8 pr-3">
                <h5 class="pb-2">Stay Connected to the School of Data Science</h5>
                <!-- div class="col-lg global-footer-social text-xs-center text-lg-right pt-1"> -->
                <div class="row pb-4 " id="social-sidebar">
                    <div class="col-2 text-center mt-3">
                        <a aria-label="Label for Facebook" href="#facebook-link-goes-here">
                            <i aria-hidden="true" class="fab fa-facebook fa-2x utsa-social-circle text-center"></i>
                        </a>
                    </div>
                    <div class="col-2 text-center mt-3">
                        <a aria-label="Label for Twitter" href="#twitter-link-goes-here">
                            <i aria-hidden="true" class="fab fa-twitter fa-2x utsa-social-circle text-center"></i>
                        </a>
                    </div>
                    <div class="col-2 text-center mt-3">
                        <a aria-label="Label for Instagram" href="#insta-link-goes-here">
                            <i aria-hidden="true" class="fab fa-instagram fa-2x  utsa-social-circle text-center"></i>
                        </a>
                    </div>
                    <div class="col-2 text-center mt-3">
                        <a aria-label="Label for YouTube" href="#yt-link-goes-here">
                            <i aria-hidden="true" class="fab fa-youtube fa-2x  utsa-social-circle text-center"></i>
                        </a>
                    </div>
                    <!-- additional icons here as needed -->
                </div>
                <h5>Our Philosophy</h5>
                <p>We practice a Facilitator Model in which staff partner with students to make intelligent, fair, and
                    reasonable choices within established state, federal, and local laws, university rules and
                    regulations, and the educational mission of the institution.</p>
                <h5>Mission Statement</h5>
                <p>Student Activities helps students and student organizations get involved with the UTSA community
                    through campus-wide events, traditions, workshops, training and development opportunities to prepare
                    for future success.</p>
                <div class="pt-4 mb-2 pb-2 row">
                    <div class="offset-2 col-8"><a href="#"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
    </main>
    <!-- End Main Content Body -->
  </div>
  <script src="../../college-dls/js/vendor.min.js" type="text/javascript"></script>
  <script src="../../college-dls/js/college-dls.min.js" type="text/javascript"></script>
</body>


</html>
